<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
?>
<?php if ($this->getReviewsCount()): ?>
    <div class="ratings">
        <?php if ($this->getRatingSummary()):?>
            <div class="rating-box" itemprop="aggregateRating" itemscope="itemscope" itemtype="http://schema.org/AggregateRating">
                <div class="rating" style="width:<?php echo $this->getRatingSummary() ?>%">
                    <meta itemprop="ratingValue" content="<?php echo $this->getRatingSummary()/20 ?>"/>
                    <meta itemprop="reviewCount" content="<?php echo $this->getReviewsCount(); ?>" />
                </div>
            </div>
        <?php endif;?>
        <span class="rating-links">
            <a href="<?php echo $this->getReviewsUrl() ?>"><?php echo $this->getReviewsCount(); ?> <?php echo Mage::helper('itactica_extendedreviews')->__('customer reviews') ?></a>
            <a href="<?php echo $this->getReviewsUrl() ?>#post-review"><?php echo Mage::helper('itactica_extendedreviews')->__('Add your review') ?></a>
        </span>
    </div>
<?php elseif ($this->getDisplayIfEmpty()): ?>
    <div class="ratings no-rating">
        <a href="<?php echo $this->getReviewsUrl() ?>#post-review"><?php echo $this->__('Be the first to review this product') ?></a>
    </div>
<?php endif; ?>

