
/*pad*/
img{
	max-width: 100%;
}
@media only screen and (max-width:1910px) {
    .f-img{
    	display: none;
    }
}

@media only screen and (max-width:800px) {
	
	.layout{
		width: 360px; margin: 0 auto;
	}
	.wrapper{
		width: auto;
	}
	.on-sale ul{
		width: 100%; text-align: center; 
	}
	.on-sale ul li{
		margin: 0 0 30px; display: inline-block;
	}
	.f-img{
		display: none;
	}
	.ui-hd{
		padding: 0 50px;
	}
	.pro-sale ul{
		min-height: auto;
	}
	.pro-sale ul li{
		width: 90%; margin: 0 0 60px; height: auto; float: none;
		padding-left: 10%; 
	}
	.pro-sale ul li .img, .pro-sale ul li .txt{
		width: 100%; float: none;  margin: 0;
	}
	.ui-txt h3{
		min-height: auto;
	}
	.h-page02{
		height: auto; padding-bottom: 80px;
		background-size: cover;
	}
	.pro-lists ul{
		padding:60px 0 0;
	}
	.bc-f5{
		padding-top: 50px;
	}
	.pro-sale01 ul li .txt{
		padding-top: 0;
	}
	.pro-lists01 ul{
		width: 100%;
	}
	.pro-lists01 li{
		margin: 0 40px 30px;
	}
	.tit{
		position: relative; left: 0; margin: 0; top: 50px;
		padding: 0 50px;
	}
	.pro-lists02 li .img, .pro-lists02 li .txt{
		float: none;
	}
	.pro-lists02 li .img{
		width: 97%;
	}
	.pro-lists02 li .txt{
		padding-top: 0; left: 0;
	}
	.pro-lists02 li .sub{
		position: relative;
	}
	.pro-lists02 li.n2 .sub{
		left: 0;
	}
	.pro-lists02{
		padding: 80px 20px 0;
	}
	.pro-lists02 li .img .mask{
		display: none;
	}
	.pro-lists02 li.n2 .img, .pro-lists02 li.n2 .txt{
		text-align: left;
	}
	.pro-lists02 li .sub{
		display: none;
	}
	.pro-lists02 li.n2 .txt{
		padding-top: 0;
	}
	.on-sale.fixed-on{
		position: relative;
	}
	.on-sale ul{
		height: auto; overflow: hidden;
	}
	.on-sale ul li{
		width: 48%; margin: 0 1% 20px;  float: left; 
	}
	.ph-show{
		display: block;
	}
}
