<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
?>
<?php $helper = Mage::helper('itactica_intenso'); ?>
<div class="CornerAnimayedFlex hidden"><button class="CornerButton"  type="button"><svg width="16" height="16" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg" class="Icon Icon--backToTopArrow" aria-hidden="true" style="height: 16px; width: 16px;fill: white;"><title>回到顶部</title><g><path d="M12.036 15.59c0 .55-.453.995-.997.995H5.032c-.55 0-.997-.445-.997-.996V8.584H1.03c-1.1 0-1.36-.633-.578-1.416L7.33.29c.39-.39 1.026-.385 1.412 0l6.878 6.88c.782.78.523 1.415-.58 1.415h-3.004v7.004z" fill-rule="evenodd"></path></g></svg></button></div>
<footer class="main-footer">
	<div class="back-to-top-container show-for-small-only">
		<a href="#" class="back-to-top"><?php echo $this->__('Back to Top'); ?></a>
	</div>
	<ul class="mobile-footer-links show-for-small-only">
		<?php echo $this->getChildHtml('cms_footer_for_mobile') ?>
	</ul>
	<?php if ($helper->showFooterRibbon()): ?>
		<div class="row newsletter-ribbon<?php if(!Mage::getStoreConfig('intenso/footer/mobile_newsletter',
				Mage::app()->getStore()) && !Mage::getStoreConfig('intenso/footer/mobile_social',
				Mage::app()->getStore())): ?> hide-for-small-only<?php endif; ?>">
			<div class="small-12 medium-6 columns<?php if(!Mage::getStoreConfig('intenso/footer/mobile_newsletter',
				Mage::app()->getStore())): ?> hide-for-small-only<?php endif; ?>">
				<?php if (Mage::getStoreConfig('intenso/footer/newsletter',
					Mage::app()->getStore())): ?>
					<?php echo $this->getChildHtml("newsletter"); ?>
				<?php else: ?>
					<?php echo $this->getChildHtml('cms_footer_top_left') ?>
				<?php endif; ?>
			</div>
			<div class="small-12 medium-6 columns social<?php if(!Mage::getStoreConfig('intenso/footer/mobile_social',
				Mage::app()->getStore())): ?> hide-for-small-only<?php endif; ?>">
				<?php echo $this->getChildHtml('cms_footer_top_right') ?>
			</div>
		</div>
	<?php endif; ?>
	<div class="row footer-links hide-for-small-only">
		<?php $columns = $helper->mainFooterColumnCount(); ?>
		<?php if (!$columns) $columns = 1; ?>
		<?php $columnSize = 12 / $columns; ?>
		<?php if (Mage::getModel('cms/block')->load('footer_main_first_column')->getIsActive()): ?>
			<div class="medium-<?php echo $columnSize; ?> columns">
				<?php echo $this->getChildHtml('cms_footer_first_column') ?>
			</div>
		<?php endif; ?>
		<?php if (Mage::getModel('cms/block')->load('footer_main_second_column')->getIsActive()): ?>
			<div class="medium-<?php echo $columnSize; ?> columns">
				<?php echo $this->getChildHtml('cms_footer_second_column') ?>
			</div>
		<?php endif; ?>
		<?php if (Mage::getModel('cms/block')->load('footer_main_third_column')->getIsActive()): ?>
			<div class="medium-<?php echo $columnSize; ?> columns">
				<?php echo $this->getChildHtml('cms_footer_third_column') ?>
			</div>
		<?php endif; ?>
		<?php if (Mage::getModel('cms/block')->load('footer_main_fourth_column')->getIsActive()): ?>
			<div class="medium-<?php echo $columnSize; ?> columns">
				<?php echo $this->getChildHtml('cms_footer_fourth_column') ?>
			</div>
		<?php endif; ?>
		<?php if (Mage::getModel('cms/block')->load('footer_links')->getIsActive()): ?>
			<div class="medium-12 h-links-list columns">
				<?php echo $this->getChildHtml('cms_footer_links') ?>
			</div>
		<?php endif; ?>
	</div>
	<?php if ($helper->mobileFooterSwitches()): ?>
		<div class="mobile-footer-switch show-for-small-only row">
			<?php
			$switchCount = 0;
			if ($this->getChildHtml('store_switcher') && $helper->mobileStoreSwitch()) $switchCount++;
			if ($this->getChildHtml('store_language') && $helper->mobileLanguageSwitch()) $switchCount++;
			if ($this->getChildHtml('currency_selector') && $helper->mobileCurrencySelector()) $switchCount++;
			if ($switchCount == 0) $switchCount = 1;
			$rowCount = 12 / $switchCount;
			?>
			<?php if ($this->getChildHtml('store_switcher') && $helper->mobileStoreSwitch()): ?>
				<div class="small-<?php echo $rowCount; ?> columns">
					<?php echo $this->getChildHtml('store_switcher') ?>
				</div>
			<?php endif; ?>
			<?php if ($this->getChildHtml('store_language') && $helper->mobileLanguageSwitch()): ?>
				<div class="small-<?php echo $rowCount; ?> columns">
					<?php echo $this->getChildHtml('store_language') ?>
				</div>
			<?php endif; ?>
			<?php if ($this->getChildHtml('currency_selector') && $helper->mobileCurrencySelector()): ?>
				<div class="small-<?php echo $rowCount; ?> columns">
					<?php echo $this->getChildHtml('currency_selector') ?>
				</div>
			<?php endif; ?>
		</div>
	<?php endif; ?>
	<div class="row footer-bottom">
		<!-- <div class="medium-5 columns">
			<p class="sosumi no-margin"><?php echo $this->getCopyright() ?></p>
		</div>
		
		<div class="medium-5 hide-for-small-only columns">
			<?php echo $this->getChildHtml('cms_footer_bottom_right') ?>
		</div>  -->
		
		<!--@begin(modifier:xds 2017/6/10) added static block of "footer_bottom_left" and "footer_bottom_center",
		and modified the width of "footer_bottom_center" by changing the class of "medium-*"-->
		
		<div class="medium-5 columns">
			<?php echo $this->getChildHtml('cms_footer_bottom_left') ?>
		</div>
		<div class="medium-12 columns">
			<?php echo $this->getChildHtml('cms_footer_bottom_center') ?>
		</div>
		<div class="medium-5 hide-for-small-only columns">
			<?php echo $this->getChildHtml('cms_footer_bottom_right') ?>
		</div> 
		<div class="medium-12 columns">
			<p class="sosumi no-margin" style="text-align: center;"><?php echo $this->getCopyright() ?></p>
		</div>
		<!--@end-->
	</div>
</footer>
<script>
$j(".CornerAnimayedFlex").on("click",function(){
	$j(window).scrollTop(0);
	$j(this).addClass("hidden");
}); 
$j(window).scroll(function(){
	if($j(window).scrollTop() > 1000){
		$j(".CornerAnimayedFlex").removeClass("hidden");
	}
});
</script>
