
<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<link rel="stylesheet" href="<?php echo $this->getSkinUrl('css/backtoschool/qieban.css')?>" />
<link rel="stylesheet" href="<?php echo $this->getSkinUrl('css/animate.min.css')?>">
<link rel="stylesheet" href="<?php echo $this->getSkinUrl('css/backtoschool/style.css')?> " />
<link rel="stylesheet" href="<?php echo $this->getSkinUrl('css/backtoschool/responsive.css')?> " />
<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
?>

<?php if(Mage::app()->getStore()->getCode() == 'ru'): ?>
<div class="layout">
	<div class="banner">
	<img src="<?php echo $this->getSkinUrl('images/backtoschool/banner_ru.jpg')?>"/>
	</div>

<div class="bc-f5">
	<div class="wrapper">
		<div class="tit">
			<img src="<?php echo $this->getSkinUrl('images/backtoschool/header_title_ru.png')?>"/>
		</div>
		<div class="pro-lists02">
				<ul>
					<li class="wow fadeIn">
						<?php if ($_productCollection[0]->isAvailable()): ?>
						<?php else: ?>
							<div class="sold-out"><img style="margin-top: 25%;" src="<?php echo $this->getSkinUrl('images/backtoschool/sold-out.png')?>" width="200" height="200" border="0" alt="Sold Out"></div>
						<?php endif; ?>
						<div class="img">
							<div class="mask">
								
							</div>
							<a target="_blank" href="<?php echo $_productCollection[0]->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($_productCollection[0], 'small_image')->resize(350,450); ?>"/></a>
						</div>
						<div class="txt ui-txt tal">
							<h3>RULU Планшет eXpro 3 (X3)</h3>
							<p class="mt15">- 4-х ядерный процессор 1.3 ГГц</p>
							<p>- 7-дюймовый LCD мультисенсорный экран</p>
							<p>- Разрешение 1024 * 600 HD</p>
							<h4 class="ui-h4 mt20"><span class="myprice"><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_productCollection[0]); ?></span></h4>
							<a target="_blank" href="<?php echo $_productCollection[0]->getProductUrl() ?>" class="ui-btn mt30">SHOP NOW</a>
						</div>	
						<div class="sub roundimage">
							<div class="per">
								<p><span  style="margin-right: 10px;">10%</span><span>off</span></p>
								<p>Код купона: HT10</p>
							</div>
						</div>
					</li>
					<li class="wow fadeIn n2 pt150" data-wow-delay="0.4s">
						<?php if ($_productCollection[1]->isAvailable()): ?>
						<?php else: ?>
							<div class="sold-out"><img style="margin-top: 25%;" src="<?php echo $this->getSkinUrl('images/backtoschool/sold-out.png')?>" width="200" height="200" border="0" alt="Sold Out"></div>
						<?php endif; ?>	
						<div class="sub roundimageleft">
							<div class="per">
								<p><span  style="margin-right: 10px;">8%</span><span>off</span></p>
								<p>Код купона: HT8</p>
							</div>
						</div>
						
						<div class="img">
							<div class="mask">
								
							</div>
							<a target="_blank" href="<?php echo $_productCollection[1]->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($_productCollection[1], 'small_image')->resize(350,450); ?>"/></a>
						</div>
						<div class="txt ui-txt tar">
							<h3>iRULU Планшет eXpro 5 S (X5 S)</h3>
							<p class="mt15">- Android 7.0, 4-х ядерный процессор</p>
							<p>- 7.85-дюйма 1024 * 768 HD с TFT LCD-экраном</p>
							<p>- ROM 16 ГБ, объем файлового хранилища 64 ГБ</p>
							<h4 class="ui-h4 mt40"><span class="myprice"><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_productCollection[1]); ?></span> </h4>
							<a target="_blank" href="<?php echo $_productCollection[1]->getProductUrl() ?>" class="ui-btn mt30">SHOP NOW</a>
						</div>
					</li>
					<li class="wow fadeIn">
						<?php if ($_productCollection[2]->isAvailable()): ?>
						<?php else: ?>
							<div class="sold-out"><img style="margin-top: 25%;" src="<?php echo $this->getSkinUrl('images/backtoschool/sold-out.png')?>" width="200" height="200" border="0" alt="Sold Out"></div>
						<?php endif; ?>
						<div class="img">
							<div class="mask">
								
							</div>
							<a target="_blank" href="<?php echo $_productCollection[2]->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($_productCollection[2], 'small_image')->resize(350,450); ?>"/></a>
						</div>
						<div class="txt ui-txt tal">
							<h3>iRULU Планшет eXpro 1 (X1)</h3>
							<p class="mt15">- Прочная кожа PU</p>
							<p>- Доступны семь цветов</p>
							<p>- Дизайн интерфейса клавиатуры и USB</p>
							<h4 class="ui-h4 mt20"><span class="myprice"><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_productCollection[2]); ?></span> </h4>
							<a target="_blank" href="<?php echo $_productCollection[2]->getProductUrl() ?>" class="ui-btn mt30">SHOP NOW</a>
						</div>	
						<div class="sub roundimage">
							<div class="per">
								<p><span  style="margin-right: 10px;">5%</span><span>off</span></p>
								<p>Код купона: HT5</p>
							</div>
						</div>
					</li>
				</ul>
			</div>	
		
	</div>
	
	
</div>
<div class="f-img f-img20 wow fadeIn" data-wow-delay="1s">
	<img src="<?php echo $this->getSkinUrl('images/backtoschool/img20.jpg')?>"/>
</div>
<div class="f-img f-img21 wow fadeInDown">
	<img src="<?php echo $this->getSkinUrl('images/backtoschool/ico09.png')?> "/>
</div>
<div class="f-img f-img22 wow fadeInDown">
	<img src="<?php echo $this->getSkinUrl('images/backtoschool/ico10.png')?>"/>
</div>
<div class="f-img f-img23 wow fadeInUp">
	<img src="<?php echo $this->getSkinUrl('images/backtoschool/img21.jpg')?>"/>
</div>
<div class="f-img f-img24 wow fadeInUp">
	<img src="<?php echo $this->getSkinUrl('images/backtoschool/img22.jpg')?> "/>
</div>
<div class="f-img f-img26 wow fadeInUp">
	<img src="<?php echo $this->getSkinUrl('images/backtoschool/img23.jpg')?> "/>
</div>
<div class="f-img f-img27 wow fadeInUp">
	<img src="<?php echo $this->getSkinUrl('images/backtoschool/img24.jpg')?> "/>
</div>
</div>	
<?php elseif(Mage::app()->getStore()->getCode() == 'de'):?>
<div class="layout" id="backtoschool_de">
	<div class="banner">
	<img src="<?php echo $this->getSkinUrl('images/backtoschool/banner_de.jpg')?>"/>
</div>
<div class="on-sale on-sale01">			
	<div class="wrapper">
		<ul>
			<li class="wow fadeInDown" >
				<a href="#de_nav1"><img src="<?php echo $this->getSkinUrl('images/backtoschool/off_de.png')?>"/></a>
			</li>
			
			<li class="wow fadeInDown" data-wow-delay="0.4s" >
				<a href="#de_nav2"><img src="<?php echo $this->getSkinUrl('images/backtoschool/off2_de.png')?>"/></a>
			</li>
										
		</ul>	
	</div>		
</div>
<div class="bc-f5 pb70">
	<div class="wrapper">
		
							
		<div class="ui-hd mb50 wow flipInX" id="de_nav1">
			<img src="<?php echo $this->getSkinUrl('images/backtoschool/icon16_de.png')?> "/>
		</div>
		
		<div class="pro-sale">
			<ul>
				<li class="wow fadeIn">
						<?php if ($_productCollection[0]->isAvailable()): ?>
						<?php else: ?>
							<div class="sold-out"><img style="margin-top: 25%;" src="<?php echo $this->getSkinUrl('images/backtoschool/sold-out.png')?>" width="200" height="200" border="0" alt="Sold Out"></div>
						<?php endif; ?>
						<div class="img">
							<a target="_blank" href="<?php echo $_productCollection[0]->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($_productCollection[0], 'small_image')->resize(270,426); ?>"/></a>
						</div>
						<div class="txt ui-txt">
							<h3><?php echo $_helper->productAttribute($_productCollection[0], $_productCollection[0]->getName(), 'name') ?></h3>
							<p class="mt15">- Google Android 6.0 Lollipop</p>
							<p>- Allwinner A33 Quad Core 1.3GHz</p>
							<p>- 7 "1024 * 600 HD mit TFT LCD</p>
							<h4 class="ui-h4 mt20"><span class="myprice"><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_productCollection[0]); ?></span> </h4>
							<a target="_blank" href="<?php echo $_productCollection[0]->getProductUrl() ?>"  class="ui-btn mt30">SHOP NOW</a>
						</div>
						
					</li>
					<li class="wow fadeIn" data-wow-delay="0.4s">
						<?php if ($_productCollection[1]->isAvailable()): ?>
						<?php else: ?>
							<div class="sold-out"><img style="margin-top: 25%;" src="<?php echo $this->getSkinUrl('images/backtoschool/sold-out.png')?>" width="200" height="200" border="0" alt="Sold Out"></div>
						<?php endif; ?>
						<div class="img">
							<a target="_blank" href="<?php echo $_productCollection[1]->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($_productCollection[1], 'small_image')->resize(270,426); ?>"/></a>
						</div>
						<div class="txt ui-txt">
							<h3><?php echo $_helper->productAttribute($_productCollection[1], $_productCollection[1]->getName(), 'name') ?></h3>
							<p class="mt15">- 10.1 "TFT-Touchscreen</p>
							<p>- Octa-Core? 1.8GHz Prozessor</p>
							<p>- Laufzeit der Akku bis zu 8 Stunden</p>
							<h4 class="ui-h4 mt20"><span class="myprice"><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_productCollection[1]); ?></span> </h4>
							<a target="_blank" href="<?php echo $_productCollection[1]->getProductUrl() ?>" class="ui-btn mt30">SHOP NOW</a>
						</div>
					
					</li>
			</ul>
		</div>			
		
		<div class="ui-hd mt50" id="de_nav2">
			<img src="<?php echo $this->getSkinUrl('images/backtoschool/icon15_de.png')?>  "/>
		</div>
		
		<div class="pro-lists pro-lists01">
			<ul>
				<li class="wow fadeIn">
					<?php if ($_productCollection[2]->isAvailable()): ?>
					<?php else: ?>
						<div class="sold-out"><img style="margin-top: 25%;" src="<?php echo $this->getSkinUrl('images/backtoschool/sold-out.png')?>" width="200" height="200" border="0" alt="Sold Out"></div>
					<?php endif; ?>
					<div class="img">
						<a target="_blank" href="<?php echo $_productCollection[2]->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($_productCollection[2], 'small_image')->resize(280,270); ?>"/></a>
					</div>
					<div class="txt">
						<h3><?php echo $_helper->productAttribute($_productCollection[2], $_productCollection[2]->getName(), 'name') ?></h3>
						<h4 class="ui-h4"><span class="myprice"><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_productCollection[2]); ?></span> </h4>
						<a target="_blank" href="<?php echo $_productCollection[2]->getProductUrl() ?>" class="ui-btn mt10">SHOP NOW</a>
					</div>
					
				</li>
				<li class="wow fadeIn" data-wow-delay="0.2s">
					<?php if ($_productCollection[3]->isAvailable()): ?>
					<?php else: ?>
						<div class="sold-out"><img style="margin-top: 25%;" src="<?php echo $this->getSkinUrl('images/backtoschool/sold-out.png')?>" width="200" height="200" border="0" alt="Sold Out"></div>
					<?php endif; ?>
					<div class="img">
						<a target="_blank" href="<?php echo $_productCollection[3]->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($_productCollection[3], 'small_image')->resize(280,270); ?>"/></a>
					</div>
					<div class="txt">
						<h3><?php echo $_helper->productAttribute($_productCollection[3], $_productCollection[3]->getName(), 'name') ?></h3>
						<h4 class="ui-h4"><span class="myprice"><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_productCollection[3]); ?></span> </h4>
						<a target="_blank" href="<?php echo $_productCollection[3]->getProductUrl() ?>" class="ui-btn mt10">SHOP NOW</a>
					</div>
					
				</li>
				<li class="wow fadeIn" data-wow-delay="0.4s">
					<?php if ($_productCollection[4]->isAvailable()): ?>
					<?php else: ?>
						<div class="sold-out"><img style="margin-top: 25%;" src="<?php echo $this->getSkinUrl('images/backtoschool/sold-out.png')?>" width="200" height="200" border="0" alt="Sold Out"></div>
					<?php endif; ?>
					<div class="img">
						<a target="_blank" href="<?php echo $_productCollection[4]->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($_productCollection[4], 'small_image')->resize(280,270); ?>"/></a>
					</div>
					<div class="txt">
						<h3><?php echo $_helper->productAttribute($_productCollection[4], $_productCollection[4]->getName(), 'name') ?></h3>
						<h4 class="ui-h4"><span class="myprice"><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_productCollection[4]); ?></span> </h4>
						<a target="_blank" href="<?php echo $_productCollection[4]->getProductUrl() ?>" class="ui-btn mt10">SHOP NOW</a>
					</div>
					
				</li>
				<li class="wow fadeIn" data-wow-delay="0.6s">
					<?php if ($_productCollection[5]->isAvailable()): ?>
					<?php else: ?>
						<div class="sold-out"><img style="margin-top: 25%;" src="<?php echo $this->getSkinUrl('images/backtoschool/sold-out.png')?>" width="200" height="200" border="0" alt="Sold Out"></div>
					<?php endif; ?>
					<div class="img">
						<a target="_blank" href="<?php echo $_productCollection[5]->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($_productCollection[5], 'small_image')->resize(280,270); ?>"/></a>
					</div>
					<div class="txt">
						<h3><?php echo $_helper->productAttribute($_productCollection[5], $_productCollection[5]->getName(), 'name') ?></h3>
						<h4 class="ui-h4"><span class="myprice"><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_productCollection[5]); ?></span> </h4>
						<a target="_blank" href="<?php echo $_productCollection[5]->getProductUrl() ?>" class="ui-btn mt10">SHOP NOW</a>
					</div>
					
				</li>
			</ul>
		</div>		
	</div>
</div>
<div class="f-img f-img01 wow fadeIn" data-wow-delay="1s">
	<img src="<?php echo $this->getSkinUrl('images/backtoschool/ico08.png')?> "/>
</div>
<div class="f-img f-img02 wow fadeInDown">
	<img src="<?php echo $this->getSkinUrl('images/backtoschool/ico09.png')?>  "/>
</div>
<div class="f-img f-img03 wow fadeInLeft">
	<img src="<?php echo $this->getSkinUrl('images/backtoschool/ico10.png')?> "/>
</div>
<div class="f-img f-img04 wow fadeInRight">
	<img src="<?php echo $this->getSkinUrl('images/backtoschool/ico11.png')?> "/>
</div>
<div class="f-img f-img09 wow fadeInLeft">
	<img src="<?php echo $this->getSkinUrl('images/backtoschool/ico12.png')?> "/>
</div>
<div class="f-img f-img08 wow fadeInRight">
	<img src="<?php echo $this->getSkinUrl('images/backtoschool/ico13.png')?> "/>
</div>
</div>
<?php else:?>
<div id="mainbody">
	<div class="layout">
		<div class="banner">
		<img src="<?php echo $this->getSkinUrl('images/backtoschool/banner.jpg')?>"/>
	</div>
	
	<div class="on-sale">			
		<div class="wrapper">
			<ul>
				<li class="wow fadeInDown" >
					<a href="#pg01"><img src="<?php echo $this->getSkinUrl('images/backtoschool/img01.png')?>"/></a>
				</li>
				<li class="wow fadeInDown" data-wow-delay="0.2s">
					<a href="#pg02"><img src="<?php echo $this->getSkinUrl('images/backtoschool/img02.png')?> "/></a>
				</li>
				<li class="wow fadeInDown" data-wow-delay="0.4s" >
					<a href="#pg03"><img src="<?php echo $this->getSkinUrl('images/backtoschool/img03.png')?>"/></a>
				</li>
				<li class="wow fadeInDown" data-wow-delay="0.6s" >
					<a href="#pg04"><img src="<?php echo $this->getSkinUrl('images/backtoschool/img04.png')?>"/></a>
				</li>							
			</ul>	
		</div>		
	</div>
	
	<div class="bc-f5 pb70" id="pg01">
		<div class="wrapper">	
			<div class="h-page01" >			
				<div class="ui-hd mb50 wow flipInX">
					<img src="<?php echo $this->getSkinUrl('images/backtoschool/ico04.png')?> "/>
				</div>
				<div class="body pro-sale ">
					<ul>
					
						<li class="wow fadeIn">
							<?php if ($_productCollection[0]->isAvailable()): ?>
							<?php else: ?>
							<div class="sold-out"><img style="margin-top: 25%;" src="<?php echo $this->getSkinUrl('images/backtoschool/sold-out.png')?>" width="200" height="200" border="0" alt="Sold Out"></div>
							<?php endif; ?>
							<div class="img">
								<a target="_blank" href="<?php echo $_productCollection[0]->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($_productCollection[0], 'small_image')->resize(270,426); ?>"/></a>
							</div>
							<div class="txt ui-txt">
								<h3><?php echo $_helper->productAttribute($_productCollection[0], $_productCollection[0]->getName(), 'name') ?></h3>
								<p class="mt15">- A64 64bit Quad core,1.3GHz</p>
								<p>- 8" incredible IPS display</p>
								<p>- Free App, Games, Movies to Download</p>
								<h4 class="ui-h4 mt20"><span class="myprice"><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_productCollection[0]); ?></span></h4>
								<a target="_blank" href="<?php echo $_productCollection[0]->getProductUrl() ?>" class="ui-btn mt30">SHOP NOW</a>
							</div>
							<div class="ui-sub bc-ffcf37">
								<span class="priceOff">5%</span><br/>
								off
							</div>
						</li>
						
						<li class="wow fadeIn" data-wow-delay="0.4s">
							<?php if ($_productCollection[1]->isAvailable()): ?>
							<?php else: ?>
							<div class="sold-out"><img style="margin-top: 25%;" src="<?php echo $this->getSkinUrl('images/backtoschool/sold-out.png')?>" width="200" height="200" border="0" alt="Sold Out"></div>
							<?php endif; ?>
							<div class="img">
								<a target="_blank" href="<?php echo $_productCollection[1]->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($_productCollection[1], 'small_image')->resize(270,426); ?>"/></a>
							</div>
							<div class="txt ui-txt">
								<h3><?php echo $_helper->productAttribute($_productCollection[1], $_productCollection[1]->getName(), 'name') ?></h3>
								<p class="mt15">- 14.1" 1366*768 HD Large Screen</p>
								<p>- Intel Quad Core, 1.33GHZ</p>
								<p>- RAM 2GB, ROM 32GB</p>
								<h4 class="ui-h4 mt20"><span class="myprice"><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_productCollection[1]); ?></span></h4>
								<a target="_blank" href="<?php echo $_productCollection[1]->getProductUrl() ?>" class="ui-btn mt30">SHOP NOW</a>
							</div>
							<div class="ui-sub bc-ffcf37">
								<span class="priceOff">5%</span><br/>
								off
							</div>
						</li>
						
					</ul>
				</div>			
			</div>
			
		</div>
	</div>
	
	<div class="h-page02" id="pg02">
		<div class="wrapper">
			<div class="ui-hd wow flipInX">
				<img src="<?php echo $this->getSkinUrl('images/backtoschool/ico05.png')?> "/>
			</div>
			<div class="body pro-lists">
				<ul>
					<li class="wow fadeIn">
						<div class="img">
							<?php if ($_productCollection[2]->isAvailable()): ?>
							<?php else: ?>
							<div class="sold-out"><img style="margin-top: 25%;" src="<?php echo $this->getSkinUrl('images/backtoschool/sold-out.png')?>" width="200" height="290" border="0" alt="Sold Out"></div>
							<?php endif; ?>
							<a target="_blank" href="<?php echo $_productCollection[2]->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($_productCollection[2], 'small_image')->resize(300,290); ?>"/></a>
						</div>
						<div class="txt">
							<h3><?php echo $_helper->productAttribute($_productCollection[2], $_productCollection[2]->getName(), 'name') ?></h3>
							<h4 class="ui-h4"><span class="myprice"><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_productCollection[2]); ?></span></h4>
							<a target="_blank" href="<?php echo $_productCollection[2]->getProductUrl() ?>" class="ui-btn mt10">SHOP NOW</a>
						</div>
							<div class="ui-sub bc-3779ff">
								<span class="priceOff">5%</span><br/>
								off
							</div>
					</li>
					<li class="wow fadeIn" data-wow-delay="0.2s">
						<div class="img">
							<?php if ($_productCollection[3]->isAvailable()): ?>
							<?php else: ?>
							<div class="sold-out"><img style="margin-top: 25%;" src="<?php echo $this->getSkinUrl('images/backtoschool/sold-out.png')?>" width="200" height="290" border="0" alt="Sold Out"></div>
							<?php endif; ?>
							<a target="_blank" href="<?php echo $_productCollection[3]->getProductUrl() ?>" ><img src="<?php echo $this->helper('catalog/image')->init($_productCollection[3], 'small_image')->resize(300,290); ?>"/></a>
						</div>
						<div class="txt">
							<h3><?php echo $_helper->productAttribute($_productCollection[3], $_productCollection[3]->getName(), 'name') ?></h3>
							<h4 class="ui-h4"><span  class="myprice"><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_productCollection[3]); ?></span></h4>
							<a target="_blank" href="<?php echo $_productCollection[3]->getProductUrl() ?>" class="ui-btn mt10">SHOP NOW</a>
						</div>
							<div class="ui-sub bc-3779ff">
								<span class="priceOff">5%</span><br/>
								off
							</div>
					</li>
					<li class="wow fadeIn" data-wow-delay="0.4s">
						<div class="img">
							<?php if ($_productCollection[4]->isAvailable()): ?>
							<?php else: ?>
							<div class="sold-out"><img style="margin-top: 25%;" src="<?php echo $this->getSkinUrl('images/backtoschool/sold-out.png')?>" width="200" height="290" border="0" alt="Sold Out"></div>
							<?php endif; ?>
							<a target="_blank" href="<?php echo $_productCollection[4]->getProductUrl() ?>" ><img src="<?php echo $this->helper('catalog/image')->init($_productCollection[4], 'small_image')->resize(300,290); ?>"/></a>
						</div>
						<div class="txt">
							<h3><?php echo $_helper->productAttribute($_productCollection[4], $_productCollection[4]->getName(), 'name') ?></h3>
							<h4 class="ui-h4"><span class="myprice"><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_productCollection[4]); ?></span></h4>
							<a target="_blank" href="<?php echo $_productCollection[4]->getProductUrl() ?>" class="ui-btn mt10">SHOP NOW</a>
						</div>
							<div class="ui-sub bc-3779ff">
								<span class="priceOff">5%</span><br/>
								off
							</div>
					</li>
					<li class="wow fadeIn" data-wow-delay="0.6s">
						<div class="img">
							<?php if ($_productCollection[5]->isAvailable()): ?>
							<?php else: ?>
							<div class="sold-out"><img style="margin-top: 25%;" src="<?php echo $this->getSkinUrl('images/backtoschool/sold-out.png')?>" width="200" height="290" border="0" alt="Sold Out"></div>
							<?php endif; ?>
							<a target="_blank" href="<?php echo $_productCollection[5]->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($_productCollection[5], 'small_image')->resize(300,290); ?>"/></a>
						</div>
						<div class="txt">
							<h3><?php echo $_helper->productAttribute($_productCollection[5], $_productCollection[5]->getName(), 'name') ?></h3>
							<h4 class="ui-h4"><span class="myprice"><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_productCollection[5]); ?></span></h4>
							<a target="_blank" href="<?php echo $_productCollection[5]->getProductUrl() ?>" class="ui-btn mt10">SHOP NOW</a>
						</div>
							<div class="ui-sub bc-3779ff">
								<span class="priceOff">5%</span><br/>
								off
							</div>
					</li>
					<li class="wow fadeIn" data-wow-delay="0.8s">
						<div class="img">
							<?php if ($_productCollection[6]->isAvailable()): ?>
							<?php else: ?>
							<div class="sold-out"><img style="margin-top: 25%;" src="<?php echo $this->getSkinUrl('images/backtoschool/sold-out.png')?>" width="200" height="290" border="0" alt="Sold Out"></div>
							<?php endif; ?>
							<a target="_blank" href="<?php echo $_productCollection[6]->getProductUrl() ?>" ><img src="<?php echo $this->helper('catalog/image')->init($_productCollection[6], 'small_image')->resize(300,290); ?>"/></a>
						</div>
						<div class="txt">
							<h3><?php echo $_helper->productAttribute($_productCollection[6], $_productCollection[6]->getName(), 'name') ?></h3>
							<h4 class="ui-h4"><span class="myprice"><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_productCollection[6]); ?></span></h4>
							<a target="_blank" href="<?php echo $_productCollection[6]->getProductUrl() ?>" class="ui-btn mt10">SHOP NOW</a>
						</div>
							<div class="ui-sub bc-3779ff">
								<span class="priceOff">5%</span><br/>
								off
							</div>
					</li>
					<li class="wow fadeIn" data-wow-delay="1s">
						<div class="img">
							<?php if ($_productCollection[7]->isAvailable()): ?>
							<?php else: ?>
							<div class="sold-out"><img style="margin-top: 25%;" src="<?php echo $this->getSkinUrl('images/backtoschool/sold-out.png')?>" width="200" height="290" border="0" alt="Sold Out"></div>
							<?php endif; ?>
							<a target="_blank" href="<?php echo $_productCollection[7]->getProductUrl() ?>" ><img src="<?php echo $this->helper('catalog/image')->init($_productCollection[7], 'small_image')->resize(300,290); ?>"/></a>
						</div>
						<div class="txt">
							<h3><?php echo $_helper->productAttribute($_productCollection[7], $_productCollection[7]->getName(), 'name') ?></h3>
							<h4 class="ui-h4"><span class="myprice"><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_productCollection[7]); ?></span></h4>
							<a target="_blank" href="<?php echo $_productCollection[7]->getProductUrl() ?>" class="ui-btn mt10">SHOP NOW</a>
						</div>
						<div class="ui-sub bc-3779ff">
								<span class="priceOff">5%</span><br/>
								off
							</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="bc-f5 pt150" id="pg03">
		<div class="wrapper">			
			<div class="ui-hd mb50 wow bounceIn" >
				<a target="_blank" href="<?php echo $_productCollection[8]->getProductUrl() ?>" ><img src="<?php echo $this->getSkinUrl('images/backtoschool/ico06.png')?> "/></a>
			</div>
			<div class="body pro-sale pro-sale01" >
				<ul>
					<li class="wow rotateInDownLeft">
						<?php if ($_productCollection[8]->isAvailable()): ?>
							<?php else: ?>
							<div class="sold-out"><img style="margin-top: 25%;" src="<?php echo $this->getSkinUrl('images/backtoschool/sold-out.png')?>" width="200" height="200" border="0" alt="Sold Out"></div>
							<?php endif; ?>
						<div class="img">
							<img src="<?php echo $this->helper('catalog/image')->init($_productCollection[8], 'small_image')->resize(270,429); ?>"/>
						</div>
						<div class="txt ui-txt">
							<h3><?php echo $_helper->productAttribute($_productCollection[8], $_productCollection[8]->getName(), 'name') ?></h3>
							<h4 class="ui-h4 mt20"><span class="myprice"><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_productCollection[8]); ?></span></h4>
							<a target="_blank" href="<?php echo $_productCollection[8]->getProductUrl() ?>" class="ui-btn mt30">SHOP NOW</a>
						</div>
						<div class="ui-sub bc-ff3758">
								<span class="priceOff">5%</span><br/>
								off
						</div>
					</li>
					<li class="wow rotateInDownRight">
						<?php if ($_productCollection[9]->isAvailable()): ?>
							<?php else: ?>
							<div class="sold-out"><img style="margin-top: 25%;" src="<?php echo $this->getSkinUrl('images/backtoschool/sold-out.png')?>" width="200" height="200" border="0" alt="Sold Out"></div>
							<?php endif; ?>
						<div class="img">
							<a target="_blank" href="<?php echo $_productCollection[9]->getProductUrl() ?>" ><img src="<?php echo $this->helper('catalog/image')->init($_productCollection[9], 'small_image')->resize(270,429); ?>"/></a>
						</div>
						<div class="txt ui-txt">
							<h3><?php echo $_helper->productAttribute($_productCollection[9], $_productCollection[9]->getName(), 'name') ?></h3>
							
							<h4 class="ui-h4 mt20"><span class="myprice"><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_productCollection[9]); ?></span> </h4>
							<a target="_blank" href="<?php echo $_productCollection[9]->getProductUrl() ?>" class="ui-btn mt30">SHOP NOW</a>
						</div>
						<div class="ui-sub bc-ff3758 " >
								<span class="priceOff">5%</span><br/>
								off
						</div>
					</li>
				</ul>
			</div>	
			<div class="ui-hd pt50 wow bounceIn" id="pg04">
				<img src="<?php echo $this->getSkinUrl('images/backtoschool/ico07.png')?> "/>
			</div>
			<div class="body pro-lists" >
				<ul>
					<li class="wow fadeIn">
						<div class="img">
							<?php if ($_productCollection[10]->isAvailable()): ?>
							<?php else: ?>
							<div class="sold-out"><img style="margin-top: 25%;" src="<?php echo $this->getSkinUrl('images/backtoschool/sold-out.png')?>" width="200" height="290" border="0" alt="Sold Out"></div>
							<?php endif; ?>
							<a target="_blank" href="<?php echo $_productCollection[10]->getProductUrl() ?>" ><img src="<?php echo $this->helper('catalog/image')->init($_productCollection[10], 'small_image')->resize(300,290); ?>"/></a>
						</div>
						<div class="txt">
							<h3><?php echo $_helper->productAttribute($_productCollection[10], $_productCollection[10]->getName(), 'name') ?></h3>
							<h4 class="ui-h4"><span class="myprice"><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_productCollection[10]); ?></span></h4>
							<a target="_blank" href="<?php echo $_productCollection[10]->getProductUrl() ?>" class="ui-btn mt10">SHOP NOW</a>
						</div>
						<div class="ui-sub bc-37dcff">
								<span class="priceOff">5%</span><br/>
								off
						</div>
					</li>
					<li class="wow fadeIn">
						<div class="img">
							<?php if ($_productCollection[11]->isAvailable()): ?>
							<?php else: ?>
							<div class="sold-out"><img style="margin-top: 25%;" src="<?php echo $this->getSkinUrl('images/backtoschool/sold-out.png')?>" width="200" height="290" border="0" alt="Sold Out"></div>
							<?php endif; ?>
							<a target="_blank" href="<?php echo $_productCollection[11]->getProductUrl() ?>" ><img src="<?php echo $this->helper('catalog/image')->init($_productCollection[11], 'small_image')->resize(300,290); ?>"/></a>
						</div>
						<div class="txt">
							<h3 class="substring" data-tooltip title="<?php echo $_helper->productAttribute($_productCollection[11], $_productCollection[11]->getName(), 'name') ?>"><?php echo $_helper->productAttribute($_productCollection[11], $_productCollection[11]->getName(), 'name') ?></h3>
							<h4 class="ui-h4"><span class="myprice"><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_productCollection[11]); ?></span></h4>
							<a target="_blank" href="<?php echo $_productCollection[11]->getProductUrl() ?>" class="ui-btn mt10">SHOP NOW</a>
						</div>
						<div class="ui-sub bc-37dcff">
								<span class="priceOff">5%</span><br/>
								off
						</div>
					</li>
					<li class="wow fadeIn">
						<div class="img">
							<?php if ($_productCollection[12]->isAvailable()): ?>
							<?php else: ?>
							<div class="sold-out"><img style="margin-top: 25%;" src="<?php echo $this->getSkinUrl('images/backtoschool/sold-out.png')?>" width="200" height="290" border="0" alt="Sold Out"></div>
							<?php endif; ?>
							<a target="_blank" href="<?php echo $_productCollection[12]->getProductUrl() ?>" ><img src="<?php echo $this->helper('catalog/image')->init($_productCollection[12], 'small_image')->resize(300,290); ?>"/></a>
						</div>
						<div class="txt">
							<h3 class="substring" data-tooltip title="<?php echo $_helper->productAttribute($_productCollection[12], $_productCollection[12]->getName(), 'name') ?>"><?php echo $_helper->productAttribute($_productCollection[12], $_productCollection[12]->getName(), 'name') ?></h3>
							<h4 class="ui-h4"><span class="myprice"><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_productCollection[12]); ?></span></h4>
							<a target="_blank" href="<?php echo $_productCollection[12]->getProductUrl() ?>" class="ui-btn mt10">SHOP NOW</a>
						</div>
						<div class="ui-sub bc-37dcff">
								<span class="priceOff">5%</span><br/>
								off
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="naver ph-show">
		<ul>
			<li><a href="#pg01">5% OFF New Arrivla</a></li>
			<li><a href="#pg02">5% OFF New Tablet</a></li>
			<li><a href="#pg03">8% OFF New Laptop</a></li>
			<li><a href="#pg04">10% OFF New Projetor</a></li>
		</ul>
	</div>
	
	
	
	<div class="f-img f-img01 wow fadeIn" data-wow-delay="1s">
		<img src="<?php echo $this->getSkinUrl('images/backtoschool/ico08.png')?> "/>
	</div>
	<div class="f-img f-img02 wow fadeInDown">
		<img src="<?php echo $this->getSkinUrl('images/backtoschool/ico09.png')?> "/>
	</div>
	<div class="f-img f-img03 wow fadeInLeft">
		<img src="<?php echo $this->getSkinUrl('images/backtoschool/ico10.png')?>  "/>
	</div>
	<div class="f-img f-img04 wow fadeInRight">
		<img src="<?php echo $this->getSkinUrl('images/backtoschool/ico11.png')?>"/>
	</div>
	<div class="f-img f-img05 wow fadeInLeft">
		<img src="<?php echo $this->getSkinUrl('images/backtoschool/ico12.png')?> "/>
	</div>
	<div class="f-img f-img06 wow fadeInRight">
		<img src="<?php echo $this->getSkinUrl('images/backtoschool/ico13.png')?> "/>
	</div>
	<div class="f-img f-img07 wow fadeInUp">
		<img src="<?php echo $this->getSkinUrl('images/backtoschool/ico14.png')?> "/>
	</div>
	</div>
</div>
<?php endif; ?>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/thirdparty/wow.js')?>"></script>
<script src="<?php echo $this->getSkinUrl('js/thirdparty/jquery.sticky.js'); ?>"></script>
<script type="text/javascript">
$(function(){
	new WOW().init();
	
	/*$(window).scroll(function() {
        if ($(window).scrollTop() > 833) {
            $(".on-sale").addClass('fixed-on');
        } else {
            $(".on-sale").removeClass('fixed-on');
        }
    });*/

	
	
})
if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
   //alert(navigator.userAgent); 
   
   //add a new meta node of viewport in head node
	head = document.getElementsByTagName('head');
	viewport = document.createElement('meta');
	viewport.name = 'viewport';
	viewport.content = 'target-densitydpi=device-dpi, width=' + 360 + 'px, user-scalable=no';
	head.length > 0 && head[head.length - 1].appendChild(viewport);    
   
};
	if(!navigator.userAgent.match(/(iPhone|iPod|Android|ios|iPad|hpwOS|SysbianOS|Windows Phone|UCWEB|BlackBerry|Nokia|RIM|IEMobile|Mobile)/i)){
		$j(".on-sale").sticky({topSpacing:37,zIndex:"200"});
	}
 
	new WOW().init();


	$j(".priceOff").each(function(){
		var $this = $j(this);
		var price = $this.parents("li").find(".myprice").find(".special-price").find(".price").html();
		var msrp = $this.parents("li").find(".myprice").find(".old-price").find(".price").html();
		var _price = price.match(/(\d{1,3},?)+(\.?\d{1,3})/)[0].replace(",","");
		var _msrp = msrp.match(/(\d{1,3},?)+(\.?\d{1,3})/)[0].replace(",","");
		var offPercent = (_msrp - _price)/_msrp * 100;
		$this.html(""+parseInt(offPercent)+"%");
		/*console.log("price:"+price);
		console.log("msrp:"+msrp);
		console.log("offPercent:"+offPercent);*/
	});
	$j(".substring").each(function(){
		var $this = $j(this);
		var html = $this.html();
		$this.html(html.substring(0,80)+"...");
	});
	
</script>