
<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<?php
    $_baseUrl = Mage::getBaseUrl();
    $_currentUrl = Mage::helper('core/url')->getCurrentUrl();
    $_relativeUrl = str_replace($_baseUrl, '/', $_currentUrl);
?>
<?php
    $_description = $_product->getDescription();
    $_attributes = new Mage_Catalog_Block_Product_View_Attributes();
    $_attributes->setProduct($_product->getId());
    $_additional = $_attributes->getAdditionalData();
    $_reviews = false;
?>
 <?php 
    $price = $_product->getPrice() ;
    $final_price = $_product->getFinalPrice() ;
    $saved = $price  -  $final_price;
    $discount = round( ($saved / $price)*100, 0 );
?> 
 
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/deals.css')?>" /> 
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/animate.min.css')?>" /> 
<div class="banner"><img src="<?php echo $this->getSkinUrl('images/1-Cyber-Monday.jpg')?>"/></div>
<section  class="maincontent" >

    <?php $_iterator = 0; ?>
   
    <div class="controller animated  bounceInDown" id="cybercomingController" >
    	<div class="but1" >ON SALE NOW</div>
    	<div class="but2 active" >COMING SOON</div>
    </div>
   
       <div class="row product-view" style="margin-top: 30px;">
       		<div class="small-12 product-essential columns">
	            <div class="row">
		             
		                 	 <form target="_blank" action="<?php echo $this->getSubmitUrl($_product, array('_secure' => $this->_isSecure())) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
		                    <?php echo $this->getBlockHtml('formkey') ?>
		                    <div class="no-display">
		                        <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
		                        <input type="hidden" name="related_product" id="related-products-field" value="" />
		                    </div>
		                    
		                    <div class="small-12 medium-4 product-shop columns">
								 <?php
					                $_img = '<img itemprop="image" src="'.$this->helper('catalog/image')->init($_product, 'image')->resize(350,300).'" alt="'.$this->escapeHtml($this->getImageLabel()).'" width="350" height="300" >';
					                echo $_helper->productAttribute($_product, $_img, 'image');
					            ?>
		                    </div>
		                    
		              		 <div class="small-12 medium-4 product-shop columns">
		                         <h1 style="text-align: center;font-size:24px;"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
		                         <?php echo $this->getChildHtml('product_minicon') ?>
		                     </div>
		                     <div class="small-12 medium-4 product-shop columns trd" id="thirdcolumn"  >
		                     	 <div id="savetext">
		                     	 	<div>
		                     	 		<div class="one">
		                     	 			<div class="sub" style="font-size: 50px;">SAVE</div>
			                     	 		<div class="sub hidden">
			                     	 			<div>UP</div>
			                     	 			<div>TO</div>
			                     	 		</div>
		                     	 		</div>
		                     	 		<div class="two">
		                     	 			??%
		                     	 		</div>
		                     	 	</div>
		                     	 </div>
		                     	 
		                     	 <?php if($_product->getSku()): ?>
						                        <div style="height: 16px;" class="product_sku">
						                            <span style="margin-right: 5px">SKU: </span><span><?php echo $_product->getSku(); ?></span>
						                        </div>
					             <?php endif;?>
		                         <div style="margin-top: 8px;" class="hidden">
								    <span style="margin-right: 5px;">MSRP: </span><span style="text-decoration: line-through;"><?php echo $this->helper('core')->currency($_product->getMsrp(),true,true); ?></span>
								 </div>
		                         <div id="sale_price" style="margin-top:10px;"><span class="bol" style="margin-right:10px;"><?php echo $this->__("Price:") ?></span><span>??</span></div>
		                          
		                          
		                         <div class="pricedata">
		                        	  <?php if($saved > 0 || ($_product->getWeight() - 2000 < 0)):?> 
								      <div class="two">
										<?php endif;?>
								        
		
		
		                                <?php if($_product->getWeight() - 2000 < 0): ?>
								        <div>
								            <span><?php echo $this->__("FREE Shipping") ?></span>
								        </div>
		                                <?php endif;?>
		
								       <?php if($saved > 0 || ($_product->getWeight() - 2000 < 0)):?> 
								      </div>
								      <?php endif;?>
							      </div>
		                          
		                         <div style="width:100%;height:40px;text-align:center;margin-top: 20px;"><button id="gobuy" style="font-size: 22px;width: 200px;height: 100%;" sku="<?php echo $_product->getSku();?>">Shop Now</button></div>
		                         <div id="minicountdownContainer">
								    <div >		
										<ul>
											<li id="day_show">00</li>
											<li>:</li>
											<li id="hour_show">23</li>
											<li>:</li>
											<li id="minute_show">59</li>
											<li>:</li>
											<li id="second_show">59</li>
										</ul>	
									</div>
								</div>
		                     </div>
		              
		              </form>
						<script type="text/javascript">
                //<![CDATA[
                    var productAddToCartForm = new VarienForm('product_addtocart_form');
                    productAddToCartForm.submit = function(button, url) {
                        <?php if(Mage::helper('itactica_intenso')->formFieldsType() == 'mdformfields'): ?>
                        Object.extend(Validation, {
                            isVisible : function(elm) {
                                while(elm.tagName != 'BODY') {
                                    // validate hidden select boxes when chosen.js is enabled
                                    if (elm.className.indexOf('super-attribute-select') > -1 || elm.className.indexOf('product-custom-option') > -1) {
                                        elm = elm.parentNode;
                                    }
                                    if(!$(elm).visible()) return false;
                                    elm = elm.parentNode;
                                }
                                return true;
                            }
                        });
                        <?php endif; ?>
                        if (this.validator.validate()) {
                            var form = this.form;
                            var oldUrl = form.action;

                            if (url) {
                               form.action = url;
                            }
                            var e = null;
                            try {
                                this.form.submit();
                            } catch (e) {
                            }
                            this.form.action = oldUrl;
                            if (e) {
                                throw e;
                            }

                            if (button && button != 'undefined') {
                                button.disabled = true;
                            }
                        }
                    }.bind(productAddToCartForm);

                    productAddToCartForm.submitLight = function(button, url){
                        if(this.validator) {
                            var nv = Validation.methods;
                            delete Validation.methods['required-entry'];
                            delete Validation.methods['validate-one-required'];
                            delete Validation.methods['validate-one-required-by-name'];
                            // Remove custom datetime validators
                            for (var methodName in Validation.methods) {
                                if (methodName.match(/^validate-datetime-.*/i)) {
                                    delete Validation.methods[methodName];
                                }
                            }

                            if (this.validator.validate()) {
                                if (url) {
                                    this.form.action = url;
                                }
                                this.form.submit();
                            }
                            Object.extend(Validation.methods, nv);
                        }
                    }.bind(productAddToCartForm);
                //]]>
                    jQuery("#gobuy").on("click",function(){
                        if(jQuery(this).hasClass("disabled")){
							return;
                        }
                        productAddToCartForm.submit(this)
                        });
                </script>
	              </div>
              </div>
       </div>		
       
       
 	              <!-- Magellan Fixed Navigator -->
					    <?php echo $this->getChildHtml('product_nav'); ?>
					
					    <div class="product-collateral-wrapper">
					        <?php echo $this->getChildHtml('upsell_products') ?>
					
					        <?php foreach ($this->getChildGroup('detailed_info', 'getChildHtml') as $alias => $html):?>
					            <?php if ($alias == "ratings-reviews"): ?>
					                <?php $_reviews = true; ?>
					                <?php echo $this->getChildHtml('custom_info') ?>
					            <?php endif;?>
					            <div class="product-collateral <?php echo "{$alias}"?> clearfix row">
					            	<?php if ($alias == "description"): ?>
					            		<div style="height:auto;width:auto;">
						                <?php echo $this->getChildHtml('mediafor_deals') ?>
						                </div>
					            	<?php endif;?>
					                <?php echo $html; ?>
					            </div>
					        <?php endforeach;?>
					
					        <?php if (!$_reviews): ?>
					            <?php echo $this->getChildHtml('custom_info') ?>
					        <?php endif; ?>
					
					        <?php echo $this->getChildHtml('product_additional_data') ?>
					        <?php echo $this->getChildHtml('related_products') ?>
					    </div>
    
    
</section>
<div class="CornerAnimayedFlex hidden"><button class="CornerButton"  type="button"><svg width="16" height="16" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg" class="Icon Icon--backToTopArrow" aria-hidden="true" style="height: 16px; width: 16px;"><title>回到顶部</title><g><path d="M12.036 15.59c0 .55-.453.995-.997.995H5.032c-.55 0-.997-.445-.997-.996V8.584H1.03c-1.1 0-1.36-.633-.578-1.416L7.33.29c.39-.39 1.026-.385 1.412 0l6.878 6.88c.782.78.523 1.415-.58 1.415h-3.004v7.004z" fill-rule="evenodd"></path></g></svg></button></div>
<script type="text/javascript">decorateList('products-list', 'none-recursive')</script>
<script src="<?php echo $this->getSkinUrl('js/thirdparty/jquery.sticky.js'); ?>"></script>
<script src="<?php echo $this->getSkinUrl('js/lib/imagelightbox.js'); ?>"></script>
<script type="text/javascript"> 

    (function($,window,document){
		window.noStickyForIntensoNav = true;

		$(".sub-nav a").on("click",function(e){
			$(this).parent().addClass("active").siblings().removeClass("active");
		});
		$('.lightbox').imageLightbox({
			quit_on_doc_click: false
		});
		$("#cybercomingController").sticky({topSpacing:0,zIndex:"200"});
		$(".magellan-nav").attr("data-magellan-expedition","");
		setTimeout(function(){
			var bannerHeight = $(".banner img").height();
		$("section[class=maincontent]").css("margin-top",bannerHeight+10+"px");
		},500);
		if($(".magellan-nav dl dd").length > 1){//nav
			var num = $(".magellan-nav dl dd").length;
			var width = 1/num * 100 ;
			$(".magellan-nav dl dd").each(function(){
				$(this).css("width",width+"%");
				$(this).css("text-align","center");
			});
		}
		window.getNowtimeOfUtc = function(date){
			var arr = date.toUTCString().split(" ");
			var map = {
			    "Jan":"1",
			    "Feb" :"2",
			    "Mar":"3", 
			    "Apr":"4",
			    "May":"5",
			    "Jun":"6",
			    "Jul":"7",
			    "Aug":"8",
			    "Sep":"9",
			    "Oct":"10",
			    "Nov":"11",
			    "Dec":"12"
			};
			var timeStr = arr[3]+"-"+map[arr[2]]+"-"+arr[1]+" "+arr[4]+"+0000";
			var times = new Date(timeStr).getTime();
			return times;
	};
        
	 
    	var startTime = "2017-9-18 00:00:00+0000";//"2017-7-25 21:00:00+0000"; 
    	var endTime = "2017-9-18 23:00:00+0000";//"2017-7-28 21:00:00+0000"; 

    	var startDate = new Date(startTime);
    	var enDate = new Date(endTime);
    	
    	var leftTimeForStart = parseInt(startDate.getTime()/1000 - getNowtimeOfUtc(new Date())/1000);//倒计时
    	var leftTimeForEnd = parseInt(enDate.getTime()/1000 - getNowtimeOfUtc(new Date())/1000);
    	if(leftTimeForStart < 0 && leftTimeForEnd > 0){ 
        	$("#minicountdownContainer").removeClass("hidden");
        	 timer();
    	} 
    	function timer(){

    		var countdown = setInterval(showLeftTime, 1000);

    		function showLeftTime(){
    			var intDiff = parseInt(enDate.getTime()/1000 - getNowtimeOfUtc(new Date())/1000);
    			var day=0,

    				hour=0,

    				minute=0,

    				second=0;		

    			 
    			if(intDiff > 0){

    				day = Math.floor(intDiff / (60 * 60 * 24));

    				hour = Math.floor(intDiff / (60 * 60)) - (day * 24);

    				minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);

    				second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);

    			} 
               
    			if (day <= 9) day = '0' + day;
    			if (hour <= 9) hour = '0' + hour;
    			if (minute <= 9) minute = '0' + minute;
    			if (second <= 9) second = '0' + second;

    			$('#day_show').html(day);

    			$('#hour_show').html('<s id="h"></s>'+hour);

    			$('#minute_show').html('<s></s>'+minute);

    			$('#second_show').html('<s></s>'+second);

    			}

    	} 

    	$("#cybercomingController .but1").on("click",function(){
			window.location.href="/deals/cybermonday";

    	});
    	 
    	$(".CornerAnimayedFlex").on("click",function(){
			$(window).scrollTop(0);
			$(this).addClass("hidden");
        }); 
    	$(window).scroll(function(){
			if($(window).scrollTop() > 1000){
				$(".CornerAnimayedFlex").removeClass("hidden");
			}
        });	
    	$("#flash_adv").hide();
    	$(".banner").css("top","105px");		
    })(jQuery,window,document);


    </script>