
<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
?>
 <?php 

    $_iconarry = array(
    		"laptops_display_ratio","laptops_display_resolution","tablet_pc_display_resolution",
    		"laptops_graphics_card_type","laptops_hard_drive_capacity","laptops_hard_drive_type","laptops_memory_capacity",
    		"laptops_os","mobile_os","tablet_pc_os","laptops_ram","mobile_ram","tablet_pc_ram","laptops_screen_size",
    		"mobile_screen_size","tablet_pc_screen_size","laptops_thickness","mobile_back_camera","universal_back_camera",
    		"mobile_core","tablet_pc_core","mobile_cpu","tablet_pc_cpu","mobile_resolution",
    		"mobile_rom","tablet_pc_rom","mobile_standby","projector_brightness","projector_contrast_ratio","projector_display_type",
    		"projector_distance","projector_image_size","projector_power_supply","projector_screen_scale","speaker_connection","speaker_sound_channel",
    		"speaker_support_memory_card","tablet_pc_camera_type","tablet_pc_network","tablet_pc_sim_slot","universal_battery_capacity","universal_front_camera",
    		"universal_processor_speed","vr_compatible_device","vr_devices","vr_glasses_type"
    		
    );
   
   $_iconarrayMap = array(
	   		"laptops_display_ratio"=>"la_dis_ratio_t","laptops_display_resolution"=>"la_dis_reso_t","tablet_pc_display_resolution"=>"tab_pc_dis_reso_t",
	   		"laptops_graphics_card_type"=>"lap_grap_card_type_t","laptops_hard_drive_capacity"=>"lap_hard_drive_cap_t","laptops_hard_drive_type"=>"lap_hard_drive_type_t","laptops_memory_capacity"=>"lap",
	   		"laptops_os"=>"lap_os_t","mobile_os"=>"mo_os_t","tablet_pc_os"=>"tab_pc_os_t","laptops_ram"=>"lap_ram_t","mobile_ram"=>"mo_ram_t","tablet_pc_ram"=>"tab_pc_ram_t","laptops_screen_size"=>"lap_screen_size_t",
	   		"mobile_screen_size"=>"mo_screen_size_t","tablet_pc_screen_size"=>"tab_pc_screen_size_t","laptops_thickness"=>"lap_thickness_t","mobile_back_camera"=>"mo_back_camera_t","universal_back_camera"=>"universal_back_cam_t",
	   		"mobile_core"=>"mo_core_t","tablet_pc_core"=>"tab_pc_core_t","mobile_cpu"=>"mo_cpu_t","tablet_pc_cpu"=>"tab_pc_cpu_t","mobile_resolution"=>"mo_reso_t",
	   		"mobile_rom"=>"mo_rom_t","tablet_pc_rom"=>"tab_pc_rom_t","mobile_standby"=>"mo_standby_t","projector_brightness"=>"pro_brightness_t","projector_contrast_ratio"=>"pro_contrast_ratio","projector_display_type"=>"pro_display_type_t",
	   		"projector_distance"=>"pro_distance_t","projector_image_size"=>"pro_image_size_t","projector_power_supply"=>"pro_power_supply_t","projector_screen_scale"=>"pro_screen_scale_t","speaker_connection"=>"speaker_connection_t","speaker_sound_channel"=>"spe_sound_chan_t",
	   		"speaker_support_memory_card"=>"spe_support_memory_card_t","tablet_pc_camera_type"=>"tab_pc_cam_type_t","tablet_pc_network"=>"tab_pc_netw_t","tablet_pc_sim_slot"=>"tab_pc_sim_slot_t","universal_battery_capacity"=>"univer_bat_cap_t","universal_front_camera"=>"univer_front_cam_t",
	   		"universal_processor_speed"=>"univer_processor_spe_t","vr_compatible_device"=>"vr_compe_device_t","vr_devices"=>"vr_devices_t","vr_glasses_type"=>"vr_glasses_type_t"
   ); 
?>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/deals.css')?>" /> 
<div class="banner"><img id="dealsbanner" src="<?php echo $this->getSkinUrl('images/2-Deals.jpg')?>"/></div>
<section  class="maincontent" id="deals" >

    <?php $_iterator = 0; 
    $_couponArray = array(1 => "DEAL15",2 => "DEAL10",3 => "DEAL10",4 => "DEAL20",5 => "DEAL18",6 => "DEAL18",7 => "DEAL15",8 => "DEAL15",9 => "DEAL15");
    $_couponNum = array(1 => "15%",2 => "10%",3 => "10%",4 => "20%",5 => "18%",6 => "18%",7 => "15%",8 => "15%",9 => "15%");
    $_offArray = array(1 => "15%",2 => "10%",3 => "10%",4 => "20%",5 => "18%",6 => "18%",7 => "15%",8 => "15%",9 => "15%");
    ?>
    <ul class="products-list" id="products-list">
    <?php foreach ($_productCollection as $_product): ?>
    	<?php ++$_iterator;
    	?>
    	<?php if( $_iterator == 1 ): ?>
        <li class="firstproduct" id="firstli">
             <div class="row product-view">
		       		<div class="small-12 product-essential columns">
			            <div class="row">
				                    <div class="small-12 medium-4 product-shop columns">
										 	 
								            <a href="<?php echo $_product->getProductUrl() ?>"><img  class="item-image" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(330,280); ?>"  width="330" height="280"></a>
				                    </div>
				              		 <div class="small-12 medium-4 product-shop columns">
				                    		 <h1 style="text-align: center;font-size:24px;"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?> </h1>
											 <div id="showtime">
											      <ul>
											      <?php foreach ($_iconarry as $_iconcode): ?>
												      <?php if($_product->getData($_iconcode) && $_product->getData($_iconarrayMap[$_iconcode])): ?>
												        <li>
												          <div style="background-image: url('<?php echo Mage::getDesign()->getSkinUrl('images/product_attr_icon/'.$_iconcode.'.png');?>');background-repeat: no-repeat;"></div>
												          <div>
												            <div><?php echo $_product->getResource()->getAttribute($_iconcode)->getFrontendLabel(); ?></div>
												            <div><?php echo $_product->getResource()->getAttribute($_iconcode)->getFrontend()->getValue($_product) ;?></div>
												          </div>
												        </li>
											        
														<?php endif; ?>
											        <?php endforeach; ?>
											        <div style="clear:both;"></div> 
											      </ul>
											</div>
 
				                    </div>
				                     <div class="small-12 medium-4 product-shop columns" id="thirdcolumn">
					                     	 <div id="savetext">
					                     	 	<div>
					                     	 		<div class="one">
					                     	 			<div class="sub" style="font-size: 50px;">SAVE</div>
						                     	 		<div class="sub hidden">
						                     	 			<div>UP</div>
						                     	 			<div>TO</div>
						                     	 		</div>
					                     	 		</div>
					                     	 		<div class="two">
					                     	 			<?php echo $_offArray[$_iterator];?>
					                     	 		</div>
					                     	 	</div>
					                     	 </div>
					                     	  <?php 
											    $price = $_product->getPrice() ;
											    $final_price = $_product->getFinalPrice() ;
											    $saved = $price  -  $final_price;
											    $discount = round( ($saved / $price)*100, 0 );
											?> 
											
											<?php if($_product->getSku()): ?>
						                        <div style="height: 16px;" class="product_sku">
						                            <span style="margin-right: 5px">SKU: </span><span><?php echo $_product->getSku(); ?></span>
						                        </div>
					                        <?php endif;?>
					                         <div style="margin-top: 12px;" class="hidden">
											    <span style="margin-right: 5px;">MSRP: </span><span style="text-decoration: line-through;"><?php echo $this->helper('core')->currency($_product->getMsrp(),true,true); ?></span>
											 </div>
											 
					                         <div id="sale_price_deals1"><span class="bol"><?php echo $this->__("Price:") ?></span><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_product); ?></div>
					                         <div class="pricedata">
					                        	  <?php if($saved > 0 || ($_product->getWeight() - 2000 < 0)):?> 
											      <div class="two">
													<?php endif;?>
											        <?php if($saved > 0):?> 
											        <div>
											            <span><?php echo $this->__("You Save:") ?></span><span class="saveprice">
											            	      $<?php echo $saved?> (<?php echo $discount?>%)
											            </span>
											        </div>
											        <?php endif;?>
					
					
					                                <?php if($_product->getWeight() - 2000 < 0): ?>
											        <div>
											            <span><?php echo $this->__("FREE Shipping") ?></span>
											        </div>
					                                <?php endif;?>
					
											       <?php if($saved > 0 || ($_product->getWeight() - 2000 < 0)):?> 
											      </div>
											      <?php endif;?>
										      </div>
					                          
					                          <div style="width:100%;height:40px;text-align:center;margin-top:20px;"><a target="_blank" href="<?php echo $_product->getProductUrl() ?>"><button sku="<?php echo $_product->getSku();?>" style="font-size: 22px;width: 150px;height: 100%;">Shop Now</button></a></div>
					                          <div style="width:100%;height:50px;text-align:center;margin-top:10px;color:#5787f5;"><span style=" margin-right:10px"><?php echo $_couponNum[$_iterator];?> Off Coupon:</span><span><?php echo $_couponArray[$_iterator];?></span></div>
				                     </div>
				              
				              
								
			              </div>
		              </div>
		       </div>
        </li>
        <?php endif; ?>
        
        <?php if( $_iterator > 1 ): ?>
        <li class="firstproduct halfcolumn">
             <div class="row product-view">
		       		<div class="small-12 product-essential columns">
			            <div class="row">
				                    <div class="small-12 medium-7 product-shop columns">
				                             <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?> </h1>
								             <a href="<?php echo $_product->getProductUrl() ?>"><img  class="item-image" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(300,250); ?>"  width="300" height="250"></a>
										 	 <div id="showtime">
											      <ul>
											      <?php foreach ($_iconarry as $_iconcode): ?>
												      <?php if($_product->getData($_iconcode) && $_product->getData($_iconarrayMap[$_iconcode])): ?>
												      <script>var outpu = "<?php echo $_product->getData($_iconarrayMap[$_iconcode]) ;?>"; console.log(outpu);</script>
												        <li>
												          <div style="background-image: url('<?php echo Mage::getDesign()->getSkinUrl('images/product_attr_icon/'.$_iconcode.'.png');?>');background-repeat: no-repeat;"></div>
												          <div>
												            <div><?php echo $_product->getResource()->getAttribute($_iconcode)->getFrontendLabel(); ?></div>
												            <div><?php echo $_product->getResource()->getAttribute($_iconcode)->getFrontend()->getValue($_product) ;?></div>
												          </div>
												        </li>
											        
														<?php endif; ?>
											        <?php endforeach; ?>
											        <div style="clear:both;"></div> 
											      </ul>
											</div>         
				                    </div>
				              	  <?php 
								    $price = $_product->getPrice() ;
								    $final_price = $_product->getFinalPrice() ;
								    $saved = $price  -  $final_price;
								    $discount = round( ($saved / $price)*100, 0 );
								?> 
				                     <div class="small-12 medium-5 product-shop columns" id="thirdcolumn">
					                     	 <div class="savetext">
					                     	 	<div>
					                     	 		<div class="one">
					                     	 			<div class="sub" style="font-size: 37px;">SAVE</div>
						                     	 		<div class="sub hidden">
						                     	 			<div>UP</div>
						                     	 			<div>TO</div>
						                     	 		</div>
					                     	 		</div>
					                     	 		<div class="two">
					                     	 			<?php echo $_offArray[$_iterator];?>
					                     	 		</div>
					                     	 	</div>
					                     	 </div>
					                     	 
					                     	 <?php if($_product->getSku()): ?>
						                        <div style="height: 16px;" class="product_sku">
						                            <span style="margin-right: 5px">SKU: </span><span><?php echo $_product->getSku(); ?></span>
						                        </div>
					                        <?php endif;?>
					                        
					                         <div style="margin-top: 12px;" class="hidden">
											    <span style="margin-right: 5px;">MSRP: </span><span style="text-decoration: line-through;"><?php echo $this->helper('core')->currency($_product->getMsrp(),true,true); ?></span>
											 </div>
					                         <div id="sale_price_deals2"><span class="bol"><?php echo $this->__("Price:") ?></span><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_product); ?></div>
					                         <div class="pricedata">
					                        	  <?php if($saved > 0 || ($_product->getWeight() - 2000 < 0)):?> 
											      <div class="two">
													<?php endif;?>
											        <?php if($saved > 0):?> 
											        <div>
											            <span><?php echo $this->__("You Save:") ?></span><span class="saveprice">
											            	      $<?php echo $saved?> (<?php echo $discount?>%)
											            </span>
											        </div>
											        <?php endif;?>
					
					
					                                <?php if($_product->getWeight() - 2000 < 0): ?>
											        <div>
											            <span><?php echo $this->__("FREE Shipping") ?></span>
											        </div>
					                                <?php endif;?>
					
											       <?php if($saved > 0 || ($_product->getWeight() - 2000 < 0)):?> 
											      </div>
											      <?php endif;?>
										      </div>
					                          
					                          <div style="width:100%;height:40px;text-align:center;margin-top:20px;"><a target="_blank" href="<?php echo $_product->getProductUrl() ?>"><button sku="<?php echo $_product->getSku();?>" style="font-size: 22px;width: 150px;height: 100%;">Shop Now</button></a></div>
					                          <div style="width:100%;height:35px;text-align:center;margin-top:10px;color:#5787f5;"><span style=" margin-right:10px"><?php echo $_couponNum[$_iterator];?> Off Coupon:</span><span><?php echo $_couponArray[$_iterator];?></span></div>
				                     </div>
				              
				              
								
			              </div>
		              </div>
		       </div>
        </li>
        <?php endif; ?>
    <?php endforeach; ?>
    </ul>
 <div style="clear:both;"></div>   
</section>
    <script type="text/javascript">
    window.noStickyForIntensoNav = true;
    (function($,window,document){
		$(function($){
			$('#dealsbanner').load(function(){
				var bannerHeight = $(".banner img").height();
				$("section[class=maincontent]").css("margin-top",bannerHeight+75+"px");
			});
			$(".off-canvas-wrap").css("background","#f4e4e4");
			$("#flash_adv").hide();
	    	$(".banner").css("top","105px");
	    	$("#showtime ul").each(function(){
				var length = $(this).find("li").length;
				if(length == 0){
					$(this).parent().remove();
				}
	        });	

		})
        
			
    })(jQuery,window,document);

    </script>

