<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */

/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>



<?php if( !strpos( Mage::helper('core/url')->getCurrentUrl(), 'deals/cybermonday/comming') === false ): ?>
<?php //echo Mage::helper('core/url')->getCurrentUrl(); ?>
<?php require dirname(__FILE__).'/../../deals/cybermonday_comming.phtml' ?>

<?php elseif( !strpos( Mage::helper('core/url')->getCurrentUrl(), 'deals/cybermonday') === false ): ?>
<?php require dirname(__FILE__).'/../../deals/cybermonday.phtml' ?>

<?php elseif( !strpos( Mage::helper('core/url')->getCurrentUrl(), 'deals/flash/comming') === false ): ?>
<?php //echo Mage::helper('core/url')->getCurrentUrl(); ?>
<?php require dirname(__FILE__).'/../../deals/flash_coming.phtml' ?>

<?php elseif( !strpos( Mage::helper('core/url')->getCurrentUrl(), 'deals/flash') === false ): ?>
<?php require dirname(__FILE__).'/../../deals/flash.phtml' ?>
 

<?php else: ?>




<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<?php
    $_baseUrl = Mage::getBaseUrl();
    $_currentUrl = Mage::helper('core/url')->getCurrentUrl();
    $_relativeUrl = str_replace($_baseUrl, '/', $_currentUrl);
?>
<?php
    $_description = $_product->getDescription();
    $_attributes = new Mage_Catalog_Block_Product_View_Attributes();
    $_attributes->setProduct($_product->getId());
    $_additional = $_attributes->getAdditionalData();
    $_reviews = false;
?>

<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/jquery.mloading.css')?>"  />
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/product_ship.css')?>"  />
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
    window.isViewPage = true;
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div id="bm_dialogs_bg" style="display:none;"></div>
<section role="main" itemtype="http://schema.org/Product" itemscope>
    <div class="row product-view">
        <meta content="<?php echo $_relativeUrl; ?>" itemprop="url">
        <!-- Product Pic & Info -->
        <div class="small-12 product-essential columns">
            <div class="row">
                <form action="<?php echo $this->getSubmitUrl($_product, array('_secure' => $this->_isSecure())) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                    <?php echo $this->getBlockHtml('formkey') ?>
                    <div class="no-display">
                        <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
                        <input type="hidden" name="related_product" id="related-products-field" value="" />
                    </div>
                    <!-- First Column: Product Image -->
                    <?php echo $this->getChildHtml('media') ?>
                    <!-- Central Column: Product info -->
                    <div class="small-12 medium-5 product-shop columns">
                        <h1 itemprop="name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
                        
                        <!--<?php echo $this->getReviewsSummaryHtml($_product, false, true)?>-->
                        <?php echo $this->getChildHtml('media_mobile') ?>
                        
                        
                        <?php if($_product->getModel()): ?>
                        <div style="height: 20px;" class="product_model">
                            <span style="margin-right: 5px">Model: </span><span><?php echo $_product->getModel(); ?></span>
                        </div>
                        <?php endif;?>
                        
                        <?php if($_product->getSku()): ?>
                        <div style="height: 16px;" class="product_sku">
                            <span style="margin-right: 5px">SKU: </span><span><?php echo $_product->getSku(); ?></span>
                        </div>
                        <?php endif;?>

                        <?php echo $this->getChildHtml('product_type_data') ?><!-- $179.99 In stock -->
                        
                        <?php echo $this->getChildHtml('product_buytop') ?>
                        
                        <!-- ship begin -->
                        <div style="display:none;">
  						<div class="irulu_wrap shippingFrom myblock">
			                <div class="item_line proColor"><span data_key="whouse">Ship From:</span></div>
			                <div class="item_box">
			                    <ul class="myblock lbBox selectAttribute tt_warehouse" id="shipFromList">
			                                                <li title="China Warehouse" data-attr-value="CN" data-attr-id="1" class="myblock"><i> </i>China Warehouse</li>
			                                            <li title="United States Warehouse" data-attr-value="US" data-attr-id="2" class="myblock selectActive"><i> </i>United States Warehouse</li>
			                                            <li title="Germany Warehouse" data-attr-value="DE" data-attr-id="5" class="myblock"><i> </i>Germany Warehouse</li>
			                                        </ul>
			                </div>
			            </div>
                        
                        <div class="irulu_wrap dispatch" style="display: block;margin-top: -20px;">
			                <div class="item_line">Dispatch:</div>
			                <div class="item_box">
			                    <span>Usually will be shipped in                        <span class="dispath_num">24</span>
			                        <span class="dispath_day" style="display: none;">business days</span>
			                        <span class="dispath_hour">hours</span>
			                    </span>
			                </div>
			            </div>
			            
			            <div class="irulu_wrap ship-log">
						    <div class="item_line">Shipping:</div>
						    <div class="item_box">
						        <span class="ship-log_loading" style="display: none;"><i>Loading...</i></span>
						        <span class="loading_defeated" style="display: none;">The request failed!            <a href="javascript:void(0);">Please try again.</a>
						        </span>
						        <span class="ship-log_info" style="display: inline-block;">
						            <em class="shipping"><b class="nshipped">This item can't be shipped</b></em>
						            <em>to</em>
						            <span class="ship-log_b">
						                <em class="state">Haiti</em><em class="via" style="display: none;">via</em><em class="super_saver" style="display: none;">Priority Shipping</em><i></i>
						            </span>
						            <p class="shipmentStarts" style="display: none;">3-6 business days</p>
						        </span>
						    </div>
						</div>
						
						
						<div class="dialogs ship-log_c">
							<i></i>
							<span class="dialogs_c">
								<div class="failure" style="display: none;">Sorry, it seems that there are no available shipping methods for your location.Please <a href="http://tb.53kf.com/webCompany.php?arg=10045862&amp;style=1">contact us</a> for further assistance.</div>
								<div class="loading">
									<i></i>
									<p>Loading...</p>
								</div>
								<div class="select_state">
									<p>Ship to</p>
									<div class="myblock selectFlag">
									<div class="pu_navHover tt_ns_shipping_to">
										<span id="current_country_flage" class="flag_HT" data-code="HT"><em> </em></span>
										<span class="flag_Txt">Haiti</span>
										<i class="icon-arr"> </i>
									</div>
									<div style="display: none;" class="pu_blockWarp country_all">
										<div class="search_country">
											<input name="country_filter" type="text">
										</div>
										<ul class="country_list"><li class="country_item flag_PR"><em></em><span data="PR">Puerto Rico</span></li><li class="country_item flag_HK"><em></em><span data="HK">Hong Kong</span></li><li class="country_item flag_PT"><em></em><span data="PT">Portugal</span></li><li class="country_item flag_HR"><em></em><span data="HR">Croatia</span></li><li class="country_item flag_HT"><em></em><span data="HT">Haiti</span></li><li class="country_item flag_YE"><em></em><span data="YE">Yemen</span></li><li class="country_item flag_HU"><em></em><span data="HU">Hungary</span></li><li class="country_item flag_ID"><em></em><span data="ID">Indonesia</span></li><li class="country_item flag_IE"><em></em><span data="IE">Ireland</span></li><li class="country_item flag_IL"><em></em><span data="IL">Israel</span></li><li class="country_item flag_AE"><em></em><span data="AE">United Arab Emirates</span></li><li class="country_item flag_AF"><em></em><span data="AF">Afghanistan</span></li><li class="country_item flag_IN"><em></em><span data="IN">India</span></li><li class="country_item flag_ZA"><em></em><span data="ZA">South Africa</span></li><li class="country_item flag_IQ"><em></em><span data="IQ">Iraq</span></li><li class="country_item flag_IR"><em></em><span data="IR">Iran (Islamic Republic of)</span></li><li class="country_item flag_IS"><em></em><span data="IS">Iceland</span></li><li class="country_item flag_IT"><em></em><span data="IT">Italy</span></li><li class="country_item flag_AR"><em></em><span data="AR">Argentina</span></li><li class="country_item flag_AT"><em></em><span data="AT">Austria</span></li><li class="country_item flag_AU"><em></em><span data="AU">Australia</span></li><li class="country_item flag_RO"><em></em><span data="RO">Romania</span></li><li class="country_item flag_BE"><em></em><span data="BE">Belgium</span></li><li class="country_item flag_RU"><em></em><span data="RU">Russian Federation</span></li><li class="country_item flag_BG"><em></em><span data="BG">Bulgaria</span></li><li class="country_item flag_BH"><em></em><span data="BH">Bahrain</span></li><li class="country_item flag_JP"><em></em><span data="JP">Japan</span></li><li class="country_item flag_SA"><em></em><span data="SA">Saudi Arabia</span></li><li class="country_item flag_BR"><em></em><span data="BR">Brazil</span></li><li class="country_item flag_SD"><em></em><span data="SD">Sudan</span></li><li class="country_item flag_SE"><em></em><span data="SE">Sweden</span></li><li class="country_item flag_SG"><em></em><span data="SG">Singapore</span></li><li class="country_item flag_SI"><em></em><span data="SI">Slovenia</span></li><li class="country_item flag_BY"><em></em><span data="BY">Belarus</span></li><li class="country_item flag_SK"><em></em><span data="SK">Slovakia</span></li><li class="country_item flag_SM"><em></em><span data="SM">San Marino</span></li><li class="country_item flag_KH"><em></em><span data="KH">Cambodia</span></li><li class="country_item flag_CA"><em></em><span data="CA">Canada</span></li><li class="country_item flag_KI"><em></em><span data="KI">Kiribati</span></li><li class="country_item flag_KM"><em></em><span data="KM">Comoros</span></li><li class="country_item flag_SV"><em></em><span data="SV">El Salvador</span></li><li class="country_item flag_CH"><em></em><span data="CH">Switzerland</span></li><li class="country_item flag_KP"><em></em><span data="KP">North Korea</span></li><li class="country_item flag_SY"><em></em><span data="SY">Syria</span></li><li class="country_item flag_KR"><em></em><span data="KR">South Korea</span></li><li class="country_item flag_SZ"><em></em><span data="SZ">Swaziland</span></li><li class="country_item flag_CL"><em></em><span data="CL">Chile</span></li><li class="country_item flag_CO"><em></em><span data="CO">Colombia</span></li><li class="country_item flag_KW"><em></em><span data="KW">Kuwait</span></li><li class="country_item flag_KZ"><em></em><span data="KZ">Kazakhstan</span></li><li class="country_item flag_TH"><em></em><span data="TH">Thailand</span></li><li class="country_item flag_LA"><em></em><span data="LA">Lao People's Democratic Republic</span></li><li class="country_item flag_CY"><em></em><span data="CY">Cyprus</span></li><li class="country_item flag_TJ"><em></em><span data="TJ">Tajikistan</span></li><li class="country_item flag_CZ"><em></em><span data="CZ">Czech Republic</span></li><li class="country_item flag_LI"><em></em><span data="LI">Liechtenstein</span></li><li class="country_item flag_LK"><em></em><span data="LK">Sri Lanka</span></li><li class="country_item flag_DE"><em></em><span data="DE">Germany</span></li><li class="country_item flag_TW"><em></em><span data="TW">Taiwan</span></li><li class="country_item flag_DK"><em></em><span data="DK">Denmark</span></li><li class="country_item flag_LT"><em></em><span data="LT">Lithuania</span></li><li class="country_item flag_DM"><em></em><span data="DM">Dominica</span></li><li class="country_item flag_LU"><em></em><span data="LU">Luxembourg</span></li><li class="country_item flag_LV"><em></em><span data="LV">Latvia</span></li><li class="country_item flag_UA"><em></em><span data="UA">Ukraine</span></li><li class="country_item flag_LY"><em></em><span data="LY">Libya</span></li><li class="country_item flag_UG"><em></em><span data="UG">Uganda</span></li><li class="country_item flag_MA"><em></em><span data="MA">Morocco</span></li><li class="country_item flag_MD"><em></em><span data="MD">Moldova</span></li><li class="country_item flag_US"><em></em><span data="US">United States</span></li><li class="country_item flag_EE"><em></em><span data="EE">Estonia</span></li><li class="country_item flag_MN"><em></em><span data="MN">Mongolia</span></li><li class="country_item flag_EG"><em></em><span data="EG">Egypt</span></li><li class="country_item flag_MO"><em></em><span data="MO">Macau</span></li><li class="country_item flag_UY"><em></em><span data="UY">Uruguay</span></li><li class="country_item flag_MS"><em></em><span data="MS">Montserrat</span></li><li class="country_item flag_MV"><em></em><span data="MV">Maldives</span></li><li class="country_item flag_MX"><em></em><span data="MX">Mexico</span></li><li class="country_item flag_MY"><em></em><span data="MY">Malaysia</span></li><li class="country_item flag_MZ"><em></em><span data="MZ">Mozambique</span></li><li class="country_item flag_ES"><em></em><span data="ES">Spain</span></li><li class="country_item flag_NA"><em></em><span data="NA">Namibia</span></li><li class="country_item flag_NE"><em></em><span data="NE">Niger</span></li><li class="country_item flag_VN"><em></em><span data="VN">Vietnam</span></li><li class="country_item flag_NG"><em></em><span data="NG">Nigeria</span></li><li class="country_item flag_NL"><em></em><span data="NL">Netherlands</span></li><li class="country_item flag_NO"><em></em><span data="NO">Norway</span></li><li class="country_item flag_FI"><em></em><span data="FI">Finland</span></li><li class="country_item flag_FR"><em></em><span data="FR">France</span></li><li class="country_item flag_NZ"><em></em><span data="NZ">New Zealand</span></li><li class="country_item flag_GB"><em></em><span data="GB">United Kingdom</span></li><li class="country_item flag_GE"><em></em><span data="GE">Georgia</span></li><li class="country_item flag_OM"><em></em><span data="OM">Oman</span></li><li class="country_item flag_GN"><em></em><span data="GN">Guinea Republic</span></li><li class="country_item flag_GR"><em></em><span data="GR">Greece</span></li><li class="country_item flag_PH"><em></em><span data="PH">Philippines</span></li><li class="country_item flag_PK"><em></em><span data="PK">Pakistan</span></li><li class="country_item flag_PL"><em></em><span data="PL">Poland</span></li></ul>
									</div>
									<select id="country_list" style="display:none;" class="js-display">
												</select>
								</div>
								<span class="stock_in">
									<b>Stock in:</b>
									<span id="current_country_stockin" class="flag_CN" data-code="HT"><em> </em></span>
									<em>China Warehouse</em>
								</span>
								</div>
								<div class="newshopping_address orderD_con" style="">
									<h3>Shipping Method</h3>
									<div class="method_table_c">
										<table cellpadding="0" class="method_table">
										<thead>
										<tr class="heads">
											<td class="c0" width="4%"></td>
											<td class="nth_of_td1" width="20%">Options</td>
											<td class="nth_of_td2" width="35%">Estimated Shipping Time</td>
											<td class="nth_of_td3" width="15%">Tracking Number</td>
											<td class="nth_of_td4" width="20%">Shipping Cost</td>
										</tr>
										</thead>
										<tbody>
											<tr class="sel_b" data-price="Unavailable" data-usval="undefined"><td class="c1"><input name="xz" value="0" type="radio" disabled=""></td><td class="nth_of_td1"><a href="javascript:void(0)" title="Expedited Shipping">Expedited Shipping</a></td><td class="nth_of_td2"><a href="javascript:void(0)" title="4-10 Business Days">4-10 Business Days</a></td><td><em></em></td><td>Unavailable</td></tr>
											<tr class="sel_b select" data-price="US$115.32" data-usval="115.32"><td class="c1"><input name="xz" value="0" type="radio" checked=""></td><td class="nth_of_td1"><a href="javascript:void(0)" title="Priority Shipping">Priority Shipping</a></td><td class="nth_of_td2"><a href="javascript:void(0)" title="3-6 business days">3-6 business days</a></td><td><em></em></td><td class="pricelab" usvalue="115.32">US$115.32</td>
											</tr>
										</tbody>
									</table>
									</div>
									<p class="note">Note: Those shipping costs are only estimates; the actual shipping cost will be shown on the order page.</p>
								</div>
								<i class="close_dialogs"></i>
							</span>
						</div>
						</div>
						<!-- ship end -->	  
						                    
                        <?php echo $this->getChildHtml('product_view_preorder') ?>
                        <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                            <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
                        <?php endif;?>

                        <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                            <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
                        <?php endif;?>
                        
                         <?php echo $this->getChildHtml('product_view_coupon') ?>
						<?php echo $this->getChildHtml('product_minicon') ?>
						
                        <?php if($_product->getProduct_info_remarks()): ?>
                        <div style="height:auto;width:100%;">
                            <?php echo $_product->getProduct_info_remarks(); ?>
                        </div>
                        <?php endif;?>
                    </div>
                    <!-- Right column: Buy Box -->
                    <div class="small-12 medium-3 product-shop-side columns">
                         <?php echo $this->getChildHtml('product_rightcolumn') ?>
                    </div>
                </form>
                <script type="text/javascript">
                
                //<![CDATA[
                    var productAddToCartForm = new VarienForm('product_addtocart_form');
                    productAddToCartForm.submit = function(button, url) {
                        <?php if(Mage::helper('itactica_intenso')->formFieldsType() == 'mdformfields'): ?>
                        Object.extend(Validation, {
                            isVisible : function(elm) {
                                while(elm.tagName != 'BODY') {
                                    // validate hidden select boxes when chosen.js is enabled
                                    if (elm.className.indexOf('super-attribute-select') > -1 || elm.className.indexOf('product-custom-option') > -1) {
                                        elm = elm.parentNode;
                                    }
                                    if(!$(elm).visible()) return false;
                                    elm = elm.parentNode;
                                }
                                return true;
                            }
                        });
                        <?php endif; ?>
                        if (this.validator.validate()) {
                            var form = this.form;
                            var oldUrl = form.action;

                            if (url) {
                               form.action = url;
                            }
                            var e = null;
                            try {
                                this.form.submit();
                            } catch (e) {
                            }
                            this.form.action = oldUrl;
                            if (e) {
                                throw e;
                            }

                            if (button && button != 'undefined') {
                                button.disabled = true;
                            }
                        }
                    }.bind(productAddToCartForm);

                    productAddToCartForm.submitLight = function(button, url){
                        if(this.validator) {
                            var nv = Validation.methods;
                            delete Validation.methods['required-entry'];
                            delete Validation.methods['validate-one-required'];
                            delete Validation.methods['validate-one-required-by-name'];
                            // Remove custom datetime validators
                            for (var methodName in Validation.methods) {
                                if (methodName.match(/^validate-datetime-.*/i)) {
                                    delete Validation.methods[methodName];
                                }
                            }

                            if (this.validator.validate()) {
                                if (url) {
                                    this.form.action = url;
                                }
                                this.form.submit();
                            }
                            Object.extend(Validation.methods, nv);
                        }
                    }.bind(productAddToCartForm);
                //]]>
                      
                </script>
            </div>
        </div>
    </div>

    <!-- Magellan Fixed Navigator -->
    <?php echo $this->getChildHtml('product_nav'); ?>

    <div class="product-collateral-wrapper">
        <?php echo $this->getChildHtml('upsell_products') ?>
  
         
        <?php foreach ($this->getChildGroup('detailed_info', 'getChildHtml') as $alias => $html):?>
            <?php if ($alias == "ratings-reviews"): ?>
                <?php $_reviews = true; ?>
                <?php echo $this->getChildHtml('custom_info') ?>
            <?php endif;?>
        	<?php if ($alias == "additional" && $_product->getTech_specs()): ?>
        	<div class="product-collateral <?php echo "{$alias}"?> clearfix row" id="tech-specs-div">
                <?php echo $_product->getTech_specs(); ?>
            </div>
        	
            <?php else: ?>
                <div class="product-collateral <?php echo "{$alias}"?> clearfix row">
                    <?php echo $html; ?>
                </div>
             <?php endif;?>
        <?php endforeach;?>

        <?php if (!$_reviews): ?>
            <?php echo $this->getChildHtml('custom_info') ?>
        <?php endif; ?>

        <?php echo $this->getChildHtml('product_additional_data') ?>
        <?php echo $this->getChildHtml('related_products') ?>
    </div>
</section>
<script src="<?php echo $this->getSkinUrl('js/productview/view.js'); ?>"></script>
 <?php endif; ?>