 /*cybermonday.phtml deals.phtml flash.phtml*/
 #addToCartButtonTop{
	width: 190px;
    font-size: 22px;
    vertical-align: sub;
}
ul.right.show-for-large-up{
	display:none !important;
}
.top-bar-section ul.left{
	padding-left: 0 !important;
}
#magellan-nav dd{
	padding:0
}
#priceTopShow{
	display:none;
	width:1200px;
	height:60px;
	border:1px solid #e5e5e5;
	position:fixed;
	z-index:200;
	background: #fff;
}
#priceTopShow > div{
	display:inline-block;
}
#priceTopShow .logo{
	margin-left: 30px;
	width: 50px;
}
#priceTopShow .title{
	width:400px;
	margin-left: 30px;
	font-size: 25px;
    vertical-align: middle;
    margin-right: 20px;
    text-align: center;
}
#priceTopShow div.price{
	width:400px;
	font-size: 26px;
    vertical-align: middle;
    height: 100%;
    box-shadow: 0 0 14px 0 rgba(221, 221, 221, .8);
}
#priceTopShow span.price{
	font-size: 26px;
}
#priceTopShow .price > span:first-child{
	font-size: 16px;
    margin-right: 15px;
    line-height: 4;
    margin-left: 10px;
}

#firstli #thirdcolumn > div{
	text-align:center;
	width:100%;
}
#thirdcolumn.trd > div{
	text-align:center;
}
#thirdcolumn > div{
	width: 110%;
}
#thirdcolumn #sale_price  .price-box{
	position: relative;
}
 

	/*cybermonday.phtml*/
#productimg-box.product-img-box img{
	width: auto;
}
.right-off-canvas-menu.main-nav{
	margin: 0 auto;
    position: absolute;
    height: 44px;
    min-height: 0;
}
.off-canvas-wrap .inner-wrap{
	max-width: 1200px;
    margin: 0 auto;
}
 
/* .row.footer-bottom{
	position: absolute;
    margin: 0 auto;
    left: 0;
    bottom: -164px;
    margin-bottom: 10px;
} */
.mainrow{
	min-width: 300px;
	max-width: 1200px;
	padding-left: 3%;
    padding-right: 3%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5rem;
}
 
.maincontent{
	max-width: 1200px;
    margin: 0 auto;
    margin-top: 500px;
}
.controller{
	width:100%;
	height:50px;
	/*border: 1px solid rgb(0, 169, 144);*/
}
.but1,.but2{
	width: 49.8%;
	display:inline-block;
	height: 100%;
    text-align: center;
    line-height: 50px;
    word-spacing: 10px;
    font-size: 30px;
    color: #Fff;
    cursor:pointer;
    position: relative;
}
.but1{
	background: -webkit-linear-gradient(top,#EE00EE,#EEAEEE,#EE00EE);
	background:linear-gradient(top,#EE00EE,#EEAEEE,#EE00EE);
    color: black;
}
.but2{
	background: -webkit-linear-gradient(top,#EEAEEE,#FFE1FF,#EEAEEE);
	background: webkit-linear-gradient(top,#EEAEEE,#FFE1FF,#EEAEEE);
    color: black;
}
#cybermondayController .but2:hover,#cybercomingController .but1:hover{
	background: -webkit-linear-gradient(top,#EE00EE,#EEAEEE,#EE00EE);
	background:linear-gradient(top,#EE00EE,#EEAEEE,#EE00EE);
}
#cybercomingController .but1{
	background: -webkit-linear-gradient(top,#EEAEEE,#FFE1FF,#EEAEEE);
	background: webkit-linear-gradient(top,#EEAEEE,#FFE1FF,#EEAEEE);
}
div.inner-wrap{
	position:static;
}
.banner{
	position: absolute;
    left: 0;
    top: 230px;	
}
h6{
	font-weight: 300;
}
#minicountdownContainer ul{
	list-style:none;
	height: 50px;
	text-align: center;
	margin: 0 20px;
}
#minicountdownContainer ul li{
	margin-right:5px;
	font-size: 25px;
	color: red;
	display: inline-block;
}
#savetext{
	width: 100%;
    height: 50px;
    text-align: center;
    font-size: 20px;
    color: green;
    font-weight: 600;
}
#savetext > div{
	
}
#savetext .one,#savetext .two{
	display:inline-block;
}
#savetext .one .sub{
	display:inline-block;
}
#savetext .two{
	font-size: 50px;
}
section.top-bar-section{
	max-width: 1200px;
    margin: 0 auto;
}





	/*deals.phtml*/
#products-list > li:not(:first-child) h1{
	text-align: center;
	font-size:24px;
	width: 170%;
}
#deals{
	margin-top: 533px;
}
#deals .product-essential{
	margin-bottom:0;
}
#deals #sale_price_deals1 .bol,#deals #sale_price_deals2 .bol,#sale_price .bol{
	font-size:20px;
}
 
.halfcolumn #showtime{
	width:120%;
	/*height:165px;*/
	height:205px;
}
#products-list{
	list-style:none;
	margin-left:0;
}
#products-list li{
	float: left;
	width: 50%;
	width: calc(50% - 5px);
	transition:.5s;
}
#products-list li:nth-child(2n){
	float: left;
	width: calc(50% - 5px);
	margin-right: 10px;
}
#products-list li:first-child{
	width: 100%;
}	
#products-list li.firstproduct{
	 background-color: #fff;
	 margin-bottom: 20px;
}
#products-list .product-view{
	background-color: #fff;
}
#deals .product-view{
	background-color: none;
}
#deals #savetext{
	width: 100%;
    height: 65px;
    text-align: left;
    font-size: 16px;
    color: green;
    font-weight: 600;
    text-align: center;
}
#deals #savetext > div{
	
}
#deals #savetext .one,#deals #savetext .two{
	display:inline-block;
}
#deals #savetext .one .sub{
	display:inline-block;
}
#deals #savetext .two{
	font-size: 50px;
	width:10%;
}
#deals .savetext{
	width: 100%;
    height: 50px;
    font-size: 12px;
    color: green;
    margin-top: 100px;
    font-weight: 600;
}
#deals .savetext > div{
	
}
#deals .savetext .one,.savetext .two{
	display:inline-block;
}
#deals .savetext .one{
	width:45%;
}
 
#deals .savetext .one .sub{
	display:inline-block;
}
#deals .savetext .two{
	font-size: 38px;
	width:73px;
}
.controller .active{
	background: -webkit-linear-gradient(top,#EE00EE,#EEAEEE,#EE00EE);
	background:linear-gradient(top,#EE00EE,#EEAEEE,#EE00EE);
	color:#fff;
}
.controller .active::before{
	content:"";
	display:block;
	position: absolute;
	/* border-color: blue; */
	border-bottom: 10px solid white;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 0;
	width: 0;
	height: 0;
	left: 50%;
	top: 80%;
}
#sale_price  .price-box{
	display: inline-block;
    position: absolute;
    margin-left: 5px;
}
#sale_price_deals1 .price-box{
	display: inline-block;
    /*position: absolute;*/
    margin-left: 5px;
    margin-top: 15px;
}
#sale_price_deals2 .price-box{
	display: inline-block;
    /*position: absolute;*/
    margin-left: 5px;
    margin-top: 15px;
}
#showtime{
    width:120%;
    height:195px;
    margin-top: 20px;
    overflow-x: hidden;
}
#showtime ul{
  list-style:none;
  margin:0;
  padding:0;
}
#showtime ul li{
  width:180px !important;
  height:65px;
  float: left;
}
#showtime ul li > div{
  float:left;
}
#showtime ul li > div:nth-child(1){
  width:45px;
  height:100%;
}
#showtime ul li > div:nth-child(2){
  width:113px;
  height:100%;
  margin-left:0;
}
#firstli #showtime{
	width:120%;
	height:215px;
}
#firstli #showtime ul li > div:nth-child(2){
  width: 117px;
}
#firstli #showtime ul li{
  width:170px !important;	
}
#showtime ul li > div:nth-child(2) > div {
  width:117%;
  height:22px;
}
#products-list > li:not(:first-child) div#showtime ul li{
  width:160px !important;		
}
#gobuy{
	height: 100%;
    width: 150px;
    font-size: 22px;
}
#products-list > li:hover{
	transform: translate(0, -5px);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.1)
}

	/*flash.phtml*/
#flashController #minicountdownContainer{
	display: inline-block;
	width: 200px;
	text-align: left;
	height: 100%;
	vertical-align: sub;
}
#flashController #minicountdownContainer .par{
	display: inline-block;
	width: 200px;
	height: 100%;
	line-height: -2;
	vertical-align: top;
}
#minicountdownContainer .par li{
	margin-right: -12px;
	font-size: 20px;
	color: black;
} 
#flashController .but1,#flashController .but2{
	/*background: #40E0D0;*/
	background: -webkit-linear-gradient(top,#40E0D0,#C1FFC1,#40E0D0);
	background: webkit-linear-gradient(top,#40E0D0,#C1FFC1,#40E0D0);
    color: black;
}
#flashController .but1:hover,#flashController .but2:hover{
	/*background: #00868B;*/
	background: -webkit-linear-gradient(top,#00868B,#40E0D0,#00868B);
	background:linear-gradient(top,#00868B,#40E0D0,#00868B);
}
#flashController .active{
	/*background-color: #00868B;*/
	background: -webkit-linear-gradient(top,#00868B,#40E0D0,#00868B);
	background:linear-gradient(top,#00868B,#40E0D0,#00868B);
    color: #fff;
}
#flashcomingController .but1,#flashcomingController .but2{
	/*background: #40E0D0;*/
	background: -webkit-linear-gradient(top,#40E0D0,#C1FFC1,#40E0D0);
	background: webkit-linear-gradient(top,#40E0D0,#C1FFC1,#40E0D0);
    color: black;
}
#flashcomingController .but1:hover,#flashcomingController .but2:hover{
	/*background: #00868B;*/
	background: -webkit-linear-gradient(top,#00868B,#40E0D0,#00868B);
	background:linear-gradient(top,#00868B,#40E0D0,#00868B);
}
#flashcomingController .active{
	/*background-color: #00868B;*/
	background: -webkit-linear-gradient(top,#00868B,#40E0D0,#00868B);
	background:linear-gradient(top,#00868B,#40E0D0,#00868B);
    color: #fff;
}
@media only screen and (max-width: 40em){
	
		#showtime {
            height: 240px;
        }
        #showtime ul li{
        	width:auto;
        }
        #showtime ul li > div:nth-child(1){
        	width: 42px;
        }
        #showtime ul li > div:nth-child(2){
       		width:103px;
       }
       #showtime ul li > div:nth-child(2) > div{
       		width: 115% !important;
       }
       .controller{
       		text-align: center;
       }
       .but1, .but2{
       		width:40%;
       		font-size: 20px;
       		word-spacing:0;
       }
       #priceTopShow{
       		width:100%;
       		display:none !important;
       }
       #priceTopShow .title{
       		width:125px;
       		margin-left:0;
       		margin-right:0;
       		font-size:20px;
       		height: 100%;
    		vertical-align: sub;
       }
       #priceTopShow div.price{
       		width:165px;
       		font-size:20px;
       }
       #addToCartButtonTop{
       		width: 120px !important;
    		font-size: 18px !important;
    		display: none;
       }
       #priceTopShow .logo{
       		margin-left:0;
       }
       #priceTopShow .price > span:first-child{
       		margin-right:0 !important;
       		margin-left:0 !important;
       }
       #minicountdownContainer .par li{
       		margin-right: -3px !important;
    		font-size: 10px !important;
       }
       #flashController #minicountdownContainer{
       		position:absolute;
       }
       #flashController .connect{
       		display:none;
       }
       #priceTopShow .price > span{
       		display:none;
       }
       #products-list > li:not(:first-child){
       		width: 330px;
       		margin: 20px;
       }
       #products-list > li:not(:first-child) h1{
       		width:100%;
       }
       #deals .savetext .one{
       		width:100px;
       }
       #deals .savetext{
       		margin-top:0;
       }
       .pricedata .two{
       		height:auto !important;
       }
}
@media only screen and (min-width: 40.063em) and (max-width: 48em){
		#showtime{
			height:240px;
		}
		#showtime ul li{
            width: 170px;
      	}
        #showtime ul li > div:nth-child(2){
            width:104px;
      	}
      	#showtime{
            height: 235px;
      	}
      	#showtime ul li > div:nth-child(1){
			width:42px;
		}
		#showtime ul li > div:nth-child(2){
			width:85px;
			height:auto;
		}
		#showtime ul li > div:nth-child(2) > div{
			height:auto;
		}
		#showtime ul li{
			width:150px;
		}
}
@media only screen and (min-width: 48.063em) and (max-width: 64em){
		#showtime ul li > div:nth-child(1){
			width:42px;
		}
		#showtime ul li > div:nth-child(2){
			width:72px;
			height:auto;
		}
		#showtime ul li > div:nth-child(2) > div{
			height:auto;
		}
		#showtime ul li{
			width:130px;
		}
		#showtime{
			height:235px;
		}
}
@media only screen and (min-width: 64.063em) and (max-width: 75em){
		 #showtime ul li{
            width: 130px;
      }
      #showtime ul li > div:nth-child(2){
            width:104px;
      }
      #showtime{
            height: 235px;
      }
      #showtime ul li > div:nth-child(1){
			width:42px;
			margin-right: 5px;
		}
		#showtime ul li > div:nth-child(2){
			width:72px;
			height:auto;
		}
		#showtime ul li > div:nth-child(2) > div{
			height:auto;
		}
		#showtime ul li{
			width:150px;
		}
		#priceTopShow div.price{
			width:320px;
		}
		#addToCartButtonTop{
			width: 150px;
		}
}


 
	/*back to top*/
.CornerAnimayedFlex{
	position: fixed;
    bottom: 70px;
    right: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease,-webkit-transform .2s ease;
    will-change: transfrom;
    width: 40px;
    height: 52px;
    transition: height .2s ease;
}	
.CornerButton {
    border-radius: 4px;
    width: 40px;
    height: 40px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    border: none;
    padding: 0;
    line-height: inherit;
    font-size: 14px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
}
#sale_price_deals1 .price-box .price,#sale_price_deals2  .price-box .price,#sale_price .price-box .price{
	font-size: 23px;
    color:red;
}
#g36banner{
	transform: scaleY(1.7);
}