@charset "utf-8";a,html {
    color: #666
}

 

/*button,html,input,pre,select,textarea {
    font-family: Helvetica,Arial,"Helvetica Neue",sans-serif;
    font-size: 12px;
    line-height: 16px
}*/

article,footer,header,img,nav,section {
    display: block
}

.bm_dialog .dialog .hd p,.elips,header .member_icon a.member {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.site_map ul,ul li {
    list-style: none
}

@font-face {
    font-family: dodocool;
    src: url(../font/dodocool.eot);
    src: url(../font/dodocool.woff2) format('woff2'),url(../font/dodocool.woff) format('woff'),url(../font/dodocool.ttf) format('truetype'),url(../font/dodocool.svg#dodocool) format('svg'),url(../font/dodocool.eot?#iefix) format('embedded-opentype');
    font-weight: 400;
    font-style: normal
}

a,abbr,address,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,html,iframe,img,ins,label,legend,li,object,ol,p,pre,q,small,span,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,ul {
    border: 0;
    margin: 0;
    padding: 0
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    -webkit-text-size-adjust: none;
    overflow-x: hidden
}

body {
    background: #fff
}

a {
    outline: 0;
    blr: expression(this.onFocus=this.blur())
}

 

.link,.link:hover {
    color: #0b98aa
}

.contact_main p a,.link:hover,header .member_icon a.member:hover {
    text-decoration: underline
}

body,dd,dl,dt,figure,footer,form,h1,h2,h3,h4,h5,h6,header,li,nav,ol,p,ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent
}

button,input,pre,select,textarea {
    border: none;
    outline: 0
}

button,input[type=button] {
    cursor: pointer
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400
}

em,i {
    font-style: normal
}

@font-face {
    font-family: tomtop;
    src: url(../font/tomtop.eot?mw2ixm1228);
    src: url(../font/tomtop.eot?mw2ixm#iefix1228) format('embedded-opentype'),url(../font/tomtop.ttf?mw2ixm1228) format('truetype'),url(../font/tomtop.woff?mw2ixm1228) format('woff'),url(../font/tomtop.svg?mw2ixm#tomtop1228) format('svg');
    font-weight: 400;
    font-style: normal
}

[class*=" icon_"],[class^=icon_] {
    font-family: tomtop!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon_headphones:before {
    content: "\e910"
}

.icon_mobile2:before {
    content: "\e959"
}

.icon_arrow-down:before {
    content: "\ea36"
}

.icon_google-plus:before {
    content: "\e916"
}

.icon_bolg:before {
    content: "\e94f"
}

.button,button,input,pre,select,textarea {
    font-size: .75rem;
    border-radius: 4px
}

.w {
    width: 100%;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px
}

.m {
    margin-left: 1.25rem;
    margin-right: 1.25rem
}

.p {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}

img {
    max-width: 100%
}

.fl {
    float: left
}

.fr {
    float: right
}

.clear {
    clear: both
}

.clearfix {
    clear: both;
    zoom:1}

.clearfix:after {
    clear: both;
    display: block;
    height: 0;
    font-size: 0;
    content: ".";
    visibility: hidden
}

.v,.v_a:after,.v_b:before {
    width: 0;
    height: 100%;
    content: '';
    display: inline-block;
    font-size: 0;
    vertical-align: middle
}

.lineBlockBox {
    font-size: 0;
    letter-spacing: -3px;
    word-spacing: -3px;
    display: table;
    text-align: left
}

#gotop,.align_center,.checkbox,.no_data {
    text-align: center
}

.lineBlock,.lineBlockBox>* {
    font-size: 1rem;
    letter-spacing: 0;
    word-spacing: 0;
    vertical-align: middle;
    display: inline-block
}

.animate {
    transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s
}

.hide {
    display: none
}

.show {
    display: block
}

.disn {
    display: none!important
}

.top0 {
    top: 0!important
}

#gotop,.checkbox,.checkbox i {
    color: #fff
}

.no_data {
    padding: 2.5rem 0;
    font-size: 1.33rem
}

.erro404 {
    font-size: 3.17rem
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    border: none
}

.crumbs {
    padding: .83rem 0
}

.crumbs span {
    margin: 0 5px
}

.crumbs li {
    line-height: 1.67rem
}

@media (max-width: 1200px) {
    .crumbs {
        padding-left:1.25rem
    }
}

#gotop {
    position: fixed;
    right: .83rem;
    bottom: .83rem;
    z-index: 100;
    display: none;
    width: 3.33rem;
    height: 3.33rem;
    line-height: 3.33rem;
    font-size: 1.5rem;
    background: #333;
    border-radius: 50%;
    opacity: .8;
    filter: alpha(opacity=80);
    cursor: pointer
}

.checkbox,.chooseOneBox .radio {
    margin-right: .83rem;
    display: inline-block;
    vertical-align: middle
}

.checkbox {
    width: 1.33rem;
    height: 1.33rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    line-height: 1.33rem;
    font-size: 1rem
}

.checkbox.checkbox_checked {
    border-color: #333;
    background-color: #333
}

input.text,select {
    border: 1px solid #ccc;
    height: 2.92rem;
    padding: 0 .83rem;
    font-size: 1rem
}

.main_btn,.sub_btn {
    height: 3.33rem;
    min-width: 8.33rem;
    padding: 0 1.17rem;
    line-height: 3.33rem;
    font-size: 1.17rem!important;
    text-align: center
}

.main_btn {
    background: #fff;
    border: 1px solid #ccc;
    color: #000;
    border-radius: 20px
}

.main_btn:hover {
    background: #333;
    border: 1px solid #333;
    color: #fff
}

[disabled=disabled],[disabled=disabled]:hover,[disabled=true],[disabled=true]:hover {
    background: #ccc!important;
    border-color: #ccc!important;
    color: #fff!important
}

.sub_btn {
    background: #ffa200;
    border: 1px solid #ffa200;
    color: #fff
}

.sub_btn:hover {
    background: #ff7c00;
    border: 1px solid #ff7c00;
    color: #fff
}

.back_info.back_erro,.erro_info {
    color: #e62e04
}

.chooseOneBox {
    margin-right: .83rem
}

.chooseOneBox label {
    width: auto!important;
    cursor: pointer
}

.chooseOneBox input {
    position: absolute;
    opacity: 0;
    width: auto!important
}

.chooseOneBox .radio {
    width: 1.67rem;
    height: 1.67rem;
    border: 1px solid #ccc;
    border-radius: 50%;
    position: relative;
    font-size: 1.17rem;
    text-align: center
}

.back_info,.erro_info {
    position: absolute;
    text-align: left
}

.chooseOneBox .radioChecked {
    border-width: .42rem;
    border-color: #333
}

.chooseOneBox .forbidCancel,.chooseOneBox .forbidChoice {
    background: #ccc;
    border-color: #ccc
}

.back_info,.erro_info {
    display: none
}

.back_info.back_success {
    color: #60a917
}

.input_box {
    width: 100%;
    height: 3rem;
    line-height: 3rem
}

.input_box .text {
    width: 18.33rem;
    height: 3rem;
    background: #fff;
    padding: 0 10px;
    border-radius: 4px 0 0 4px;
    font-size: 1rem
}

.input_box .sendE_btn,.input_box .submit_btn {
    width: 6.67rem;
    height: 3rem;
    color: #fff;
    border-radius: 0 4px 4px 0;
    font-size: 1rem;
    text-align: center
}

.input_box .sendE_btn {
    background: #666
}

.input_box .sendE_btn:hover {
    background: #333
}

.input_box .submit_btn {
    background: #666
}

.input_box .submit_btn:hover {
    background: #333
}

.input_box.erro .text,.input_box.erro textarea {
    border-color: #e62e04
}

.input_box.right .text {
    border-color: #0b98aa
}

.input_box.right p {
    color: #0b98aa
}

.input_box .erro_info {
    display: none;
    color: #e62e04
}

@media (max-width: 960px) {
    .input_box .text {
        width:14.17rem
    }

    .input_box .submit_btn {
        width: 5.83rem
    }
}

@media (max-width: 767px) {
    .input_box {
        height:3rem
    }

    .input_box .text {
        width: 16.67rem
    }

    .input_box .submit_btn {
        width: 6.67rem
    }
}

.bm_dialog {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    display: none;
    z-index: 30
}

.bm_dialog .dialog,.bm_dialog s {
    display: inline-block;
    vertical-align: middle
}

.bm_dialog s {
    width: 1px;
    height: 100%;
    opacity: 0;
    font-size: 0
}

.bm_dialog .dialog {
    width: 80%;
    min-width: 23.33rem;
    max-width: 53.33rem;
    border-radius: 4px;
    background: #fff;
    text-align: left;
    position: relative;
    z-index: 30
}

.bm_dialog .dialog .hd {
    padding: 1rem 3.33rem 1rem 1rem;
    position: relative;
    font-size: 1.5rem;
    border-bottom: 1px solid #ccc
}

.bm_dialog .dialog .hd .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer
}

.bm_dialog .dialog .hd p {
    width: 80%
}

.bm_dialog .dialog .bd {
    position: relative;
    padding: 1.25rem;
    min-overflow: auto;
    overflow-x: hidden;
    min-height: 22.5rem
}

.bm_dialog .dialog .load_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../icon/loading2.gif) center center no-repeat
}

.bm_dialog .dialog .ft {
    height: .83rem
}

.bm_dialog_tooltip .dialog {
    width: 50%;
    min-width: 300px;
    max-width: 500px
}

.banner .blank_img,header .product_nav ul {
    max-width: 1200px
}

.bm_dialog_tooltip .dialog.success {
    background: #cfd
}

.bm_dialog_tooltip .dialog.erro {
    background: #fdd
}

.bm_dialog_tooltip .dialog .hd {
    border-bottom: none
}

.bm_dialog_tooltip .dialog .bd {
    min-height: 50px
}

.m_header {
    display: none
}

.bg_header {
    background: #000;
    display: block;
    height: 6.33rem;
    line-height: 6.33rem
}

header {
    /*height: 7.5rem;
    line-height: 7.5rem;
    width: 100%;
    transition: top .8s;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 140;
    padding-left: 2%;
    padding-right: 2%*/
}

header .w {
    position: relative;
    z-index: 6
}

header .logo {
    width: 12.5rem;
    z-index: 3;
    margin-top: -.83rem
}

header .down_bg {
    position: absolute;
    width: 100%;
    background: #fff;
    top: 7.5rem;
    left: 0;
    height: 0;
    z-index: 5;
    opacity: .9;
    filter: alpha(opacity=90)
}

header.show_down .down_bg,header.show_down .product_nav {
    height: 10.83rem;
    padding: 1.67rem 0;
    display: block
}

header nav {
    padding-right: 20px;
    width: 66%
}

header nav ul {
    /*display: block!important*/
}

header nav li {
    /*text-align: left;
    padding-left: 6%*/
}

header nav li a {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2
}

header nav li.logout,header nav li.myAcount {
    display: none
}

header a {
    color: #ccc;
    font-size: 1rem
}

header a:hover {
    color: #fff
}

header .search_wrap {
    position: absolute;
    right: 5.83rem;
    left: 14.17rem;
    text-align: right;
    top: 0;
    z-index: 1
}

header .search_wrap .search_text {
    width: 0;
    height: 36px;
    color: #fff;
    font-size: 1rem;
    opacity: 0;
    filter: alpha(opacity=0);
    background: 0 0;
    padding-left: 12px;
    border: 1px solid #ccc;
    border-radius: 16px
}

header .search_wrap .search_btn {
    color: #ccc;
    font-size: 1.67rem;
    cursor: pointer;
    font-weight: 700;
    background: 0 0;
    position: relative
}

header.gizle,header.sabit_1 {
    background: #000
}

header .search_wrap .search_btn:hover {
    color: #fff
}

header .search_wrap .close {
    color: #ccc;
    font-size: 1.67rem;
    cursor: pointer;
    margin-left: .83rem;
    display: none
}

header .search_wrap .close:hover {
    color: #fff
}

header .show_search_input {
    z-index: 20;
    left: -3%;
    right: -3%;
    background: #000
}

header .show_search_input .search_text {
    width: 90%;
    opacity: 1;
    filter: alpha(opacity=100)
}

header .show_search_input .close {
    display: inline-block
}

header .product_nav {
    position: absolute;
    width: 100%;
    height: 0;
    top: 7.5rem;
    left: 0;
    overflow: hidden;
    z-index: 10
}

header .product_nav li {
    margin: 0;
    text-align: center;
    padding: 0 30px;
    line-height: 25px
}

header .product_nav li p {
    color: #666
}

header .product_nav li a span {
    width: 64px;
    height: 64px;
    display: inline-block
}

header .product_nav li a:hover span {
    transform: scale(1.2)
}

header .member_icon {
    font-size: 1.67rem;
    width: auto;
    float: right;
    cursor: pointer;
    position: relative;
    right: .08rem;
    z-index: 10;
    text-align: right
}

header .member_icon a.member {
    display: inline-block;
    width: 6.58rem;
    vertical-align: middle;
    color: #ccc
}

header .member_icon i {
    display: inline-block;
    color: #ccc;
    margin-left: .67rem;
    position: relative;
    top: .25rem;
    font-size: 2rem
}

header .member_icon i:hover {
    color: #fff
}

header .member_icon .coupon {
    font-size: 1rem;
    width: 11rem;
    height: 36px;
    position: absolute;
    left: -45px;
    top: .5rem;
    display: inline-block
}

header .member_icon .coupon .coupon_discount {
    float: left;
    position: relative
}

header .member_icon .coupon .coupon_discount span {
    position: absolute;
    top: -3px;
    left: -20px;
    line-height: 30px;
    font-weight: 700;
    display: inline-block;
    color: red
}

header a.member_icon span {
    position: absolute;
    bottom: 1rem;
    right: -1rem;
    display: inline-block;
    width: 91px;
    line-height: 30px;
    font-size: 1rem;
    color: #0b98aa
}

header.yya {
    position: fixed;
    left: 0;
    top: 0
}

header.gizle {
    color: #000;
    height: 6.33rem;
    line-height: 6.33rem
}

header.gizle_1 {
    top: -8.33rem
}

header.sabit,header.sabit_1 {
    top: 0;
    z-index: 9999
}

headeer.bg_header.logined .search_wrap,header.header.logined .search_wrap,header.logined .search_wrap {
    right: 11.58rem!important
}

headeer.bg_header.logined .member_icon,header.header.logined .member_icon,header.logined .member_icon {
    width: 10.75rem!important
}

@media (max-width: 1080px) {
    header nav li {
        padding-left:6%
    }
}

@media (min-width: 320px) and (max-width:1024px) {
    .top {
        display:block!important
    }

    .bg_header,.header,.member_icon {
        display: none
    }

    .m_header {
        display: block;
        height: 4rem;
        line-height: 4rem;
        padding-left: 0;
        padding-right: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 40
    }

    .m_header .logo {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -6.25rem;
        margin-top: -1.25rem
    }

    .m_header .search_wrap {
        right: 0;
        left: .83rem;
        height: 4rem
    }

    .m_header.logined .search_wrap {
        right: 0!important;
        left: .83rem;
        height: 4rem
    }

    .m_header .show_search_input {
        z-index: 50;
        left: .83rem;
        right: 1.17rem
    }

    .m_header .show_search_input .search_text {
        width: 86%
    }

    .m_header nav {
        position: absolute;
        left: -100%;
        top: 4rem;
        background: #f3f3f3;
        width: 80%;
        z-index: 30;
        min-height: 25rem;
        margin-left: 0
    }

    .m_header nav ul {
        width: 100%
    }

    .m_header nav li {
        width: 100%;
        display: block!important;
        background: #f3f3f3;
        margin: 0;
        padding-left: 2.83rem;
        border-bottom: 1px solid #dfdfdf
    }

    .m_header nav li a {
        color: #333;
        display: block
    }

    .m_header nav li a:hover {
        color: #000
    }

    .m_header nav li a span {
        color: red
    }

    .m_header nav li.logout,.m_header nav li.myAcount {
        display: block
    }

    .m_header .handle {
        width: 16px;
        height: 16px;
        cursor: pointer;
        padding-top: 3px;
        margin-left: 4%;
        position: relative;
        z-index: 3
    }

    .m_header .handle div,.m_header .handle:after,.m_header .handle:before {
        width: 100%;
        height: 2px;
        background: #ccc
    }

    .m_header .handle:after {
        content: '';
        display: block
    }

    .m_header .handle:before {
        content: '';
        display: block;
        margin-bottom: 4px;
        transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        -ms-transition: all .5s;
        -webkit-transition: all .5s
    }

    .m_header .handle div {
        margin-bottom: 4px;
        transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        -ms-transition: all .5s;
        -webkit-transition: all .5s
    }

    .m_header .open:after {
        opacity: 0;
        transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        -ms-transition: all .5s;
        -webkit-transition: all .5s
    }

    .m_header .open:before {
        transform: rotateZ(45deg);
        -moz-transform: rotateZ(45deg);
        -webkit-transform: rotateZ(45deg);
        -o-transform: rotateZ(45deg);
        transform-origin: 25% 50%;
        -moz-transform-origin: 25% 50%;
        -webkit-transform-origin: 25% 50%;
        -o-transform-origin: 25% 50%;
        -ms-transform-origin: 25% 50%
    }

    .m_header .open div {
        transform: rotateZ(-45deg);
        -moz-transform: rotateZ(-45deg);
        -webkit-transform: rotateZ(-45deg);
        -o-transform: rotateZ(-45deg);
        -ms-transform: rotateZ(-45deg);
        transform-origin: 25% 50%;
        -moz-transform-origin: 25% 50%;
        -webkit-transform-origin: 25% 50%;
        -o-transform-origin: 25% 50%;
        -ms-transform-origin: 25% 50%
    }
}

@media (min-width: 320px) and (max-width:450px) {
    header .show_search_input .search_text {
        width:86%
    }
}

.m_newsLetter {
    text-align: left
}

.m_newsLetter span {
    color: #fff;
    line-height: 1.33rem;
    display: inline-block;
    margin-bottom: 1.67rem
}

.m_newsLetter .input_box {
    font-size: 1.5rem
}

.m_newsLetter .input_box input {
    width: 70%
}

.m_newsLetter .input_box button {
    width: 30%
}

.m_newsLetter .input_box button:hover {
    opacity: .9;
    -moz-opacity: .9
}

.m_newsLetter .input_box p.erro_info {
    position: absolute
}

@media (max-width: 768px) {
    .m_newsLetter {
        text-align:left
    }

    .m_newsLetter span {
        color: #fff;
        line-height: 1.33rem;
        margin-bottom: 1.67rem;
        display: block;
        text-align: center;
        font-size: 1.17rem
    }

    .m_newsLetter .input_box {
        font-size: 1.5rem
    }

    .m_newsLetter .input_box input {
        width: 100%;
        display: block;
        height: 3.17rem
    }

    .m_newsLetter .input_box button {
        width: 100%;
        display: block;
        margin-top: 1.67rem;
        font-size: 1.25rem;
        height: 3.3rem
    }

    .m_newsLetter .input_box button:hover {
        opacity: .9;
        -moz-opacity: .9
    }

    .m_newsLetter .input_box p.erro_info {
        position: absolute;
        margin-top: 0;
        height: 2.08rem;
        line-height: 2.08rem
    }
}

html {
    height: 100%
}

body {
    min-height: 100%;
    padding-bottom: 48.33rem;
    position: relative
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 48.33rem;
    background: #000;
    padding: 4.17rem 6.92rem 7.5rem
}

.footer .footer_conter {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 6.67rem
}

.footer .footer_conter .footer_conter_col_1 a,.footer .footer_conter .footer_conter_col_2 a {
    display: inline-block
}

.footer .footer_conter a,.footer .footer_conter span {
    font-size: 1.5rem;
    color: #fff
}

.footer .footer_conter a {
    text-transform: capitalize;
    margin-top: 1.67rem
}

.footer .footer_conter a:hover {
    color: #0b98aa
}

.footer .footer_conter ul li:first-child a {
    margin-top: 3.33rem
}

.footer .footer_conter .footer_conter_col_1 {
    width: 23%
}

.footer .footer_conter .footer_conter_col_2 {
    width: 31%
}

.footer .footer_conter .footer_conter_col_3 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.footer .footer_info {
    text-align: center
}

.footer .footer_info .fol_new {
    padding: 2.08rem 0;
    clear: both;
    zoom:1;margin: 0 auto;
    position: relative
}

.footer .footer_info .fol_new:after {
    clear: both;
    display: block;
    height: 0;
    font-size: 0;
    content: ".";
    visibility: hidden
}

.footer .footer_info .fol_new:before {
    content: '';
    width: 1px;
    height: 50%;
    position: absolute;
    left: 50%;
    background: #dfdfdf
}

.footer .footer_info .fol_new .follow_us {
    width: 40%;
    margin: 0 5%;
    text-align: left;
    float: right
}

.footer .footer_info .fol_new .newsLetter {
    float: left;
    width: 40%;
    margin: 0 5%
}

.footer .footer_info .select_lang {
    display: inline-block;
    position: relative;
    margin-left: 1.67rem;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem
}

.footer .footer_info .cur_lang span {
    margin-left: .33rem;
    display: inline-block
}

.footer .footer_info .lang_drop {
    width: 10rem;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    display: none;
    position: absolute;
    left: 3.92rem;
    bottom: 2.08rem;
    z-index: 999
}

.footer .footer_info .lang_drop a {
    padding: .83rem;
    position: relative;
    display: block
}

.footer .footer_info .lang_drop a:not(:last-of-type) {
    border-bottom: 1px solid #dfdfdf
}

.footer .footer_info .lang_drop a:hover {
    background: #dfdfdf
}

.footer .footer_info .lang_drop:before {
    content: "";
    position: absolute;
    border: 6px solid #fff;
    border-bottom: 0 solid transparent!important;
    border-right: 10px solid transparent!important;
    border-left: 10px solid transparent!important;
    right: 2rem;
    bottom: -6px
}

.footer .footer_info .lang_drop:after {
    content: "";
    position: absolute;
    width: 10rem;
    height: .83rem;
    left: -1px;
    bottom: -10px;
    opacity: 0
}

.footer .footer_info:hover .lang_drop {
    display: block
}

.footer .footer_add {
    font-size: 1.5rem;
    margin-top: 1.67rem;
    text-align: center;
    color: #fff
}

@media (max-width: 768px) {
    body {
        padding-bottom:62.5rem
    }

    .footer_pc {
        display: none
    }

    .footer_m {
        display: block
    }

    .footer {
        height: 62.5rem;
        padding: 1.5rem 0 5.83rem
    }

    .footer p {
        font-size: 1.17rem
    }

    .footer p+p {
        margin-top: 15px
    }

    .footer .m_newsletter {
        padding: 2.92rem 1.25rem 1.67rem;
        color: #fff
    }

    .footer .m_newsletter h3 {
        font-size: 1.17rem;
        display: block;
        text-align: center
    }

    .footer .m_newsletter .m_foot_input {
        margin: 1.83rem
    }

    .footer .m_newsletter .m_foot_input input {
        width: 100%;
        height: 3.17rem;
        font-size: 1.33rem
    }

    .footer .m_newsletter .m_foot_input input.error {
        border: 1px solid #ce352c;
        color: #ce352c
    }

    .footer .m_newsletter .m_foot_input button {
        width: 100%;
        background: #666;
        height: 3.33rem;
        font-size: 1.25rem;
        color: #fff;
        margin-top: .83rem
    }

    .footer .m_newsletter .m_foot_input span.error {
        color: #ce352c;
        margin-top: .83rem;
        font-size: 1.17rem
    }

    .footer .fol_new:before {
        display: none
    }

    .footer .fol_new .follow_us {
        float: none;
        width: 90%;
        text-align: center
    }

    .footer .fol_new .newsLetter {
        float: none;
        width: 80%;
        margin: 1.67rem 10%;
        text-align: center
    }

    .footer .footer_info p {
        font-size: 1.17rem
    }

    .footer .footer_info p+p {
        margin-top: .83rem
    }
}

@media (min-width: 769px) {
    .footer_m {
        display:none
    }
}

@media (max-width: 640px) {
    .footer .fol_new .newsLetter {
        width:90%;
        margin: 1.67rem 5%
    }
}

.banner,.banner li {
    width: 100%
}

.banner li {
    text-align: center;
    float: left
}

.banner li img {
    max-width: 100%;
    width: auto;
    display: inline-block;
    vertical-align: middle
}

.banner .info_nav {
    display: inline-block;
    width: 100%;
    margin-top: 15%
}

.banner .info_nav ul {
    width: 100%;
    position: static
}

.banner .info_nav li {
    float: none;
    height: auto;
    display: inline-block;
    width: auto;
    color: #0b98aa;
    margin: 0 .42rem .42rem;
    background: 0 0!important
}

.banner .tt1 {
    font-size: 3.17rem;
    color: #069bb1;
    font-weight: 700;
    padding: 1.67rem 0 2.5rem;
    display: inline-block
}

.banner .tt2 {
    font-size: 2.33rem;
    color: #000;
    font-weight: 700;
    padding: 0 0 1.67rem
}

.scroll_container {
    width: 100%;
    overflow: hidden;
    position: relative
}

.scroll_container ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 0
}

.scroll_container ul li {
    float: left;
    width: 100%;
    position: relative;
    background-repeat: no-repeat!important
}

.scroll_container ul li a {
    width: 100%;
    height: 100%;
    display: block
}

.scroll_container ul li .banner_text {
    width: 40%;
    float: left;
    padding-top: 12%;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transform: translate(0,60px);
    -moz-transform: translate(0,60px);
    -ms-transform: translate(0,60px);
    -o-transform: translate(0,60px);
    -webkit-transform: translate(0,60px);
    opacity: .8;
    -moz-opacity: .8;
    font-size: 1.33rem;
    line-height: 1.5;
    text-align: left;
    padding-left: 5%
}

.scroll_container ul li .banner_text h2 {
    font-size: 2rem
}

.scroll_container ul li .banner_text p {
    opacity: .85;
    margin-top: .83rem
}

.scroll_container ul li .t_black {
    color: #333
}

.scroll_container ul li .t_white {
    color: #fff
}

.scroll_container ul li .banner_img {
    width: 60%;
    float: right;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transform: translate(120px,0);
    -moz-transform: translate(120px,0);
    -ms-transform: translate(120px,0);
    -o-transform: translate(120px,0);
    -webkit-transform: translate(120px,0)
}

.scroll_container ul li .banner_img img {
    width: 100%
}

.scroll_container ul .ani .banner_text {
    transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    -webkit-transform: translate(0,0);
    opacity: 1;
    -moz-opacity: 1
}

.scroll_container ul .ani .banner_img {
    transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    -webkit-transform: translate(0,0)
}

.scroll_container .nav_btn {
    position: absolute;
    bottom: 3%;
    width: 100%;
    text-align: center;
    z-index: 2
}

.scroll_container .nav_btn span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 1px solid #fff;
    margin: 0 5px;
    border-radius: 50%;
    color: red;
    cursor: pointer
}

.scroll_container .nav_btn span.active,.scroll_container .nav_btn span:hover {
    background: #fff
}

.scroll_container .next_btn,.scroll_container .pre_btn {
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;
    display: none;
    opacity: 0;
    transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    z-index: 100
}

.scroll_container .close_btn,.scroll_container .next_btn span,.scroll_container .pre_btn span {
    width: 48px;
    height: 48px;
    position: absolute;
    background-image: url(../icon/icon.png?_V20170907);
    background-repeat: no-repeat;
    cursor: pointer
}

.scroll_container .next_btn span,.scroll_container .pre_btn span {
    background-position: 0 0;
    top: 50%;
    margin-top: -24px;
    display: block
}

.scroll_container .pre_btn {
    left: 0
}

.scroll_container .pre_btn span {
    left: 10px
}

.scroll_container .next_btn {
    right: 0
}

.scroll_container .next_btn span {
    right: 10px;
    background-image: url(../icon/icon.png?_V20170907);
    background-repeat: no-repeat;
    background-position: -48px 0
}

.scroll_container:hover .next_btn,.scroll_container:hover .pre_btn {
    display: block;
    opacity: 1
}

.scroll_container .close_btn {
    top: 1.67rem;
    right: 1.67rem;
    background-position: -116px 0;
    z-index: 100
}

@media (min-width: 320px) and (max-width:768px) {
    .banner li img.pic_bt,.scroll_container .next_btn,.scroll_container .pre_btn,.scroll_container:hover .next_btn,.scroll_container:hover .pre_btn {
        display:none
    }

    .banner .info_nav {
        margin-top: 5%
    }

    .banner .info_nav li {
        width: 40%;
        text-align: center
    }

    .banner .tt1 {
        font-size: 1.5rem
    }

    .banner .tt2 {
        font-size: 1.33rem
    }

    .scroll_container .nav_btn span {
        width: .5rem;
        height: .33rem;
        border-width: 1px;
        margin: 0 2px;
        border-radius: 2px
    }
}

.contact_main {
    margin: 2.5rem auto;
    width: 100%;
    max-width: 1920px
}

.contact_main h3,.contact_main h4 {
    margin-bottom: .33rem;
    font-weight: 700
}

.contact_main h2 {
    text-align: center;
    font-size: 1.67rem;
    font-weight: 700;
    margin-top: 1.5rem
}

.contact_main h2 img {
    display: inline-block
}

.contact_main h3 {
    margin-top: 1.67rem;
    font-size: 1.33rem
}

.contact_main h4 {
    margin-top: 1.33rem;
    font-size: 1.17rem
}

.contact_main p {
    font-size: 1.17rem;
    line-height: 1.8
}

.contact_main p a {
    color: #4d82b8
}

.site_map h2 a,.site_map ul li a {
    text-decoration: none
}

.contact_main p a:hover {
    color: #4d82b8
}

.contact_main table {
    width: 80%;
    font-size: 1.17rem
}

.contact_main .hr {
    width: 100%;
    height: 0;
    border-top: 1px solid #ccc;
    margin: .83rem auto
}

.site_map {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 1rem;
    line-height: 1.67rem
}

.site_map h1 {
    height: 4rem;
    font-size: 2.33rem;
    color: #333;
    line-height: 4rem;
    border-bottom: 1px solid #999
}

.site_map h2,.site_map ul li {
    height: 1.67rem;
    line-height: 1.67rem
}

.site_map h2 {
    margin-top: 1.25rem;
    font-size: 1.33rem;
    color: #333
}

.site_map ul {
    margin-top: .83rem;
    padding-bottom: 1.25rem;
    font-size: 0;
    border-bottom: 1px dashed #ccc
}

.m_news .item .item_img,.m_news .item .item_text {
    vertical-align: middle;
    padding: 1.67rem;
    display: inline-block
}

.site_map ul li {
    width: 25%;
    font-size: 1rem;
    display: inline-block
}

.site_map ul li a:hover {
    text-decoration: underline
}

@media (max-width: 640px) {
    .contact_main {
        margin:1.67rem auto
    }

    .contact_main p {
        line-height: 1.4
    }

    .contact_main table {
        width: 100%
    }

    .site_map ul li {
        width: 50%
    }
}

.m_news {
    margin: 2.5rem auto
}

.m_news h2 {
    font-size: 1.67rem;
    text-align: center;
    font-weight: 700
}

.m_news .item {
    border-bottom: 1px solid #ccc
}

.m_news .item .item_img {
    width: 25%;
    text-align: center
}

.m_news .item .item_img img {
    display: inline-block;
    border: none;
    vertical-align: middle;
    max-width: 100%
}

.m_news .item .item_text {
    width: 65%;
    white-space: normal;
    position: relative
}

.m_news .item .item_text p {
    color: #999;
    font-size: 1rem
}

.m_news .item .item_text h3 {
    font-size: 1.5rem;
    color: #000;
    margin: .42rem 0
}

.m_news .item .item_text .link {
    display: inline-block;
    text-decoration: none;
    padding: .25rem .67rem;
    margin-top: .67rem;
    text-transform: capitalize;
    font-size: 1.17rem;
    color: #000;
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 20px
}

.m_news .item .item_text .link:hover {
    color: #fff;
    background: #333;
    border: 2px solid #333
}

#bm_dialogs_bg,.mask {
    opacity: .6;
    background: #000
}

@media (max-width: 640px) {
    .m_news {
        margin:1.67rem auto
    }

    .m_news h2 {
        font-size: 1.5rem
    }

    .m_news .item .item_img {
        width: 100%;
        border-right: none
    }

    .m_news .item .item_text {
        width: 100%
    }

    .m_news .item .item_text .link {
        position: relative;
        top: 0;
        left: 0
    }
}

#bm_dialogs_bg,.dialogs_ie,.mask {
    position: fixed;
    left: 0;
    top: 0
}

#main {
    /*border-top: 6.3rem solid #333*/
}

#main .content {
    margin: 0 2%
}

.mask {
    right: 0;
    bottom: 0;
    filter: alpha(opacity=60);
    z-index: 20;
    display: none
}

.bm_article {
    font-size: 1rem;
    line-height: 1.67rem
}

@media (min-width: 1921px) {
    #main .content {
        margin:0 auto;
        max-width: 1920px
    }
}

@media (min-width: 1800px) {
    html {
        font-size:16px
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    html {
        font-size:14px
    }
}

@media (min-width: 320px) and (max-width:768px) {
    #main {
        border-top:4rem solid #333
    }
}

#bm_dialogs_bg {
    width: 100%;
    height: 150%;
    z-index: 1000;
    filter: alpha(opacity:60)
}

.dialogs_ie {
    width: 100%;
    height: 100%;
    font-size: 0;
    letter-spacing: -3px;
    text-align: center;
    z-index: 1001;
    display: none;
    background: 0 0
}

.dialogs_ie .dialogs_c_ie,.dialogs_ie>i {
    display: inline-block;
    vertical-align: middle
}

.dialogs_ie>i {
    width: 0;
    height: 100%
}

.dialogs_ie .dialogs_c_ie {
    min-width: 400px;
    padding: 10px;
    position: relative;
    font-size: 12px;
    letter-spacing: 0;
    text-align: left;
    background-color: #fff;
    border-radius: 4px;
    height: auto
}

.dialogs_ie .close_dialogs_ie {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 18px;
    top: 18px;
    display: block;
    cursor: pointer;
    background: url(../icon/icon_small.png) -140px -70px no-repeat
}

.dialogs_show {
    display: block!important
}

.iev {
    width: 480px;
    border: 0 solid #000;
    background-image: url(../icon/iev.jpg);
    background-repeat: no-repeat;
    background-position: 30px center
}

.iev p {
    margin: 50px 50px 50px 120px;
    font-size: 16px;
    line-height: 20px
}

.bm_followus.style5 a,.bm_followus.style6 a {
    line-height: 50px
}

.productReviews {
    width: 80px;
    height: 15px;
    position: relative;
    vertical-align: middle;
    background: url(../icon/start.png) -9px -33px no-repeat
}

.productStar {
    width: 90%;
    height: 15px;
    background: url(../icon/start.png) -9px -9px no-repeat
}

.bigReviews {
    width: 118px;
    height: 23px;
    position: relative;
    background: url(../icon/bigStart.png) 0 -24px no-repeat
}

.bigStar {
    width: 90%;
    height: 23px;
    background: url(../icon/bigStart.png) no-repeat
}

.icon-address,.icon-delete,.icon-edit {
    background-image: url(../icon/login_icon.png);
    background-repeat: repeat-x;
    display: inline-block;
    vertical-align: middle
}

.icon-delete {
    cursor: pointer;
    background-position: -36px -96px;
    width: 20px;
    height: 20px
}

.icon-address {
    background-position: -96px -95px;
    width: 21px;
    height: 21px
}

.flags_AD,.flags_AE,.flags_AF,.flags_AG,.flags_AI,.flags_AL,.flags_AM,.flags_AN,.flags_AO,.flags_AR,.flags_AS,.flags_AT,.flags_AU,.flags_AW,.flags_AX,.flags_AZ,.flags_BA,.flags_BB,.flags_BD,.flags_BE,.flags_BF,.flags_BG,.flags_BH,.flags_BI,.flags_BJ,.flags_BL,.flags_BM,.flags_BN,.flags_BO,.flags_BR,.flags_BS,.flags_BT,.flags_BV,.flags_BW,.flags_BY,.flags_BZ,.flags_CA,.flags_CC,.flags_CD,.flags_CF,.flags_CG,.flags_CH,.flags_CI,.flags_CK,.flags_CL,.flags_CM,.flags_CN,.flags_CO,.flags_CR,.flags_CU,.flags_CV,.flags_CX,.flags_CY,.flags_CZ,.flags_DE,.flags_DJ,.flags_DK,.flags_DM,.flags_DO,.flags_DZ,.flags_EC,.flags_EE,.flags_EG,.flags_EH,.flags_ER,.flags_ES,.flags_ET,.flags_FI,.flags_FJ,.flags_FK,.flags_FM,.flags_FO,.flags_FR,.flags_GA,.flags_GB,.flags_GD,.flags_GE,.flags_GF,.flags_GG,.flags_GH,.flags_GI,.flags_GL,.flags_GM,.flags_GN,.flags_GP,.flags_GQ,.flags_GR,.flags_GS,.flags_GT,.flags_GU,.flags_GW,.flags_GY,.flags_HK,.flags_HM,.flags_HN,.flags_HR,.flags_HT,.flags_HU,.flags_IC,.flags_ID,.flags_IE,.flags_IL,.flags_IM,.flags_IN,.flags_IO,.flags_IQ,.flags_IR,.flags_IS,.flags_IT,.flags_JE,.flags_JM,.flags_JO,.flags_JP,.flags_KE,.flags_KG,.flags_KH,.flags_KI,.flags_KM,.flags_KN,.flags_KP,.flags_KR,.flags_KV,.flags_KW,.flags_KY,.flags_KZ,.flags_LA,.flags_LB,.flags_LC,.flags_LI,.flags_LK,.flags_LS,.flags_LT,.flags_LU,.flags_LV,.flags_LY,.flags_MA,.flags_MC,.flags_MD,.flags_ME,.flags_MF,.flags_MG,.flags_MH,.flags_MK,.flags_ML,.flags_MM,.flags_MN,.flags_MO,.flags_MP,.flags_MQ,.flags_MR,.flags_MS,.flags_MT,.flags_MU,.flags_MV,.flags_MW,.flags_MX,.flags_MY,.flags_MZ,.flags_NA,.flags_NC,.flags_NE,.flags_NF,.flags_NG,.flags_NI,.flags_NL,.flags_NO,.flags_NP,.flags_NR,.flags_NU,.flags_NZ,.flags_OM,.flags_PA,.flags_PE,.flags_PF,.flags_PG,.flags_PH,.flags_PK,.flags_PL,.flags_PM,.flags_PN,.flags_PR,.flags_PS,.flags_PT,.flags_PW,.flags_PY,.flags_QA,.flags_RE,.flags_RO,.flags_RS,.flags_RU,.flags_RW,.flags_SA,.flags_SB,.flags_SC,.flags_SD,.flags_SE,.flags_SG,.flags_SH,.flags_SI,.flags_SJ,.flags_SK,.flags_SL,.flags_SM,.flags_SN,.flags_SO,.flags_SR,.flags_ST,.flags_SV,.flags_SY,.flags_SZ,.flags_TC,.flags_TD,.flags_TF,.flags_TG,.flags_TH,.flags_TJ,.flags_TK,.flags_TL,.flags_TM,.flags_TN,.flags_TO,.flags_TR,.flags_TT,.flags_TV,.flags_TW,.flags_TZ,.flags_UA,.flags_UG,.flags_UM,.flags_US,.flags_UY,.flags_UZ,.flags_VA,.flags_VC,.flags_VE,.flags_VG,.flags_VI,.flags_VN,.flags_VU,.flags_WF,.flags_WS,.flags_XB,.flags_XC,.flags_XE,.flags_XM,.flags_XN,.flags_XS,.flags_XY,.flags_YE,.flags_YT,.flags_ZA,.flags_ZM,.flags_ZW {
    background-image: url(../icon/flag.png);
    background-size: auto
}

.flags_AD,.flags_AE,.flags_AF,.flags_AG,.flags_AI,.flags_AL,.flags_AM,.flags_AN,.flags_AO,.flags_AR,.flags_AS,.flags_AT,.flags_AU,.flags_AW,.flags_AX,.flags_AZ,.flags_BA,.flags_BB,.flags_BD,.flags_BE,.flags_BF,.flags_BG,.flags_BH,.flags_BI,.flags_BJ,.flags_BL,.flags_BM,.flags_BN,.flags_BO,.flags_BR,.flags_BS,.flags_BT,.flags_BV,.flags_BW,.flags_BY,.flags_BZ,.flags_CA,.flags_CC,.flags_CD,.flags_CF,.flags_CG,.flags_CH,.flags_CI,.flags_CK,.flags_CL,.flags_CM,.flags_CN,.flags_CO,.flags_CR,.flags_CU,.flags_CV,.flags_CX,.flags_CY,.flags_CZ,.flags_DE,.flags_DJ,.flags_DK,.flags_DM,.flags_DO,.flags_DZ,.flags_EC,.flags_EE,.flags_EG,.flags_EH,.flags_ER,.flags_ES,.flags_ET,.flags_FI,.flags_FJ,.flags_FK,.flags_FM,.flags_FO,.flags_FR,.flags_GA,.flags_GB,.flags_GD,.flags_GE,.flags_GF,.flags_GG,.flags_GH,.flags_GI,.flags_GL,.flags_GM,.flags_GN,.flags_GP,.flags_GQ,.flags_GR,.flags_GS,.flags_GT,.flags_GU,.flags_GW,.flags_GY,.flags_HK,.flags_HM,.flags_HN,.flags_HR,.flags_HT,.flags_HU,.flags_IC,.flags_ID,.flags_IE,.flags_IL,.flags_IM,.flags_IN,.flags_IO,.flags_IQ,.flags_IR,.flags_IS,.flags_IT,.flags_JE,.flags_JM,.flags_JO,.flags_JP,.flags_KE,.flags_KG,.flags_KH,.flags_KI,.flags_KM,.flags_KN,.flags_KP,.flags_KR,.flags_KV,.flags_KW,.flags_KY,.flags_KZ,.flags_LA,.flags_LB,.flags_LC,.flags_LI,.flags_LK,.flags_LS,.flags_LT,.flags_LU,.flags_LV,.flags_LY,.flags_MA,.flags_MC,.flags_MD,.flags_ME,.flags_MF,.flags_MG,.flags_MH,.flags_MK,.flags_ML,.flags_MM,.flags_MN,.flags_MO,.flags_MP,.flags_MQ,.flags_MR,.flags_MS,.flags_MT,.flags_MU,.flags_MV,.flags_MW,.flags_MX,.flags_MY,.flags_MZ,.flags_NA,.flags_NC,.flags_NE,.flags_NF,.flags_NG,.flags_NI,.flags_NL,.flags_NO,.flags_NP,.flags_NR,.flags_NU,.flags_NZ,.flags_OM,.flags_PA,.flags_PE,.flags_PF,.flags_PG,.flags_PH,.flags_PK,.flags_PL,.flags_PM,.flags_PN,.flags_PR,.flags_PS,.flags_PT,.flags_PW,.flags_PY,.flags_QA,.flags_RE,.flags_RO,.flags_RS,.flags_RU,.flags_RW,.flags_SA,.flags_SB,.flags_SC,.flags_SD,.flags_SE,.flags_SG,.flags_SH,.flags_SI,.flags_SJ,.flags_SK,.flags_SL,.flags_SM,.flags_SN,.flags_SO,.flags_SR,.flags_ST,.flags_SV,.flags_SY,.flags_SZ,.flags_TC,.flags_TD,.flags_TF,.flags_TG,.flags_TH,.flags_TJ,.flags_TK,.flags_TL,.flags_TM,.flags_TN,.flags_TO,.flags_TR,.flags_TT,.flags_TV,.flags_TW,.flags_TZ,.flags_UA,.flags_UG,.flags_UM,.flags_US,.flags_UY,.flags_UZ,.flags_VA,.flags_VC,.flags_VE,.flags_VG,.flags_VI,.flags_VN,.flags_VU,.flags_WF,.flags_WS,.flags_XB,.flags_XC,.flags_XE,.flags_XM,.flags_XN,.flags_XS,.flags_XY,.flags_YE,.flags_YT,.flags_ZA,.flags_ZM,.flags_ZW,.icon {
    background-repeat: no-repeat
}

.flags_AF {
    background-position: -120px -240px
}

.flags_AX {
    background-position: -20px 0
}

.flags_AL {
    background-position: -60px 0
}

.flags_DZ {
    background-position: -100px 0
}

.flags_AS {
    background-position: -120px 0
}

.flags_AD {
    background-position: -140px 0
}

.flags_AO {
    background-position: -160px 0
}

.flags_AI {
    background-position: -180px 0
}

.flags_AG {
    background-position: -220px 0
}

.flags_AR {
    background-position: -260px 0
}

.flags_AM {
    background-position: -280px 0
}

.flags_AW {
    background-position: -300px 0
}

.flags_AU {
    background-position: -340px 0
}

.flags_AT {
    background-position: -360px 0
}

.flags_AZ {
    background-position: -380px 0
}

.flags_BS {
    background-position: -400px 0
}

.flags_BH {
    background-position: -420px 0
}

.flags_BD {
    background-position: -440px 0
}

.flags_BB {
    background-position: -460px 0
}

.flags_BY {
    background-position: -420px -221px
}

.flags_BG {
    background-position: -260px -20px
}

.flags_BE {
    background-position: -20px -20px
}

.flags_BZ {
    background-position: -40px -20px
}

.flags_BJ {
    background-position: -60px -20px
}

.flags_BM {
    background-position: -80px -20px
}

.flags_BT {
    background-position: -100px -20px
}

.flags_BO {
    background-position: -120px -20px
}

.flags_BA {
    background-position: -140px -20px
}

.flags_BW {
    background-position: -160px -20px
}

.flags_BV {
    background-position: -180px -20px
}

.flags_XN {
    background-position: -160px -180px
}

.flags_IC {
    background-position: -320px -220px
}

.flags_XS {
    background-position: -320px -80px
}

.flags_BR {
    background-position: -200px -20px
}

.flags_IO {
    background-position: -220px -20px
}

.flags_VG {
    background-position: 0 -239px
}

.flags_BN {
    background-position: -240px -20px
}

.flags_BF {
    background-position: -280px -20px
}

.flags_BI {
    background-position: -300px -20px
}

.flags_KH {
    background-position: -320px -20px
}

.flags_CM {
    background-position: -340px -20px
}

.flags_CA {
    background-position: -360px -20px
}

.flags_CV {
    background-position: -380px -20px
}

.flags_KY {
    background-position: -440px -20px
}

.flags_CF {
    background-position: -460px -20px
}

.flags_TD {
    background-position: -480px -20px
}

.flags_CL {
    background-position: 0 -40px
}

.flags_CN {
    background-position: -20px -40px
}

.flags_CX {
    background-position: -40px -40px
}

.flags_CC {
    background-position: -80px -40px
}

.flags_CO {
    background-position: -100px -40px
}

.flags_KM {
    background-position: -140px -40px
}

.flags_CG {
    background-position: -461px -221px
}

.flags_CD {
    background-position: -441px -221px
}

.flags_CK {
    background-position: -200px -40px
}

.flags_CR {
    background-position: -220px -40px
}

.flags_CI {
    background-position: -240px -40px
}

.flags_HR {
    background-position: -260px -40px
}

.flags_CU {
    background-position: -280px -40px
}

.flags_CY {
    background-position: -320px -40px
}

.flags_CZ {
    background-position: -340px -40px
}

.flags_DK {
    background-position: -360px -40px
}

.flags_DJ {
    background-position: -380px -40px
}

.flags_DM {
    background-position: -400px -40px
}

.flags_DO {
    background-position: -420px -40px
}

.flags_EC {
    background-position: -440px -40px
}

.flags_EG {
    background-position: -460px -40px
}

.flags_SV {
    background-position: -480px -40px
}

.flags_GQ {
    background-position: -20px -60px
}

.flags_ER {
    background-position: -40px -60px
}

.flags_EE {
    background-position: -22px -239px
}

.flags_ET {
    background-position: -80px -60px
}

.flags_FK {
    background-position: -120px -60px
}

.flags_FO {
    background-position: -180px -220px
}

.flags_FJ {
    background-position: -180px -60px
}

.flags_FI {
    background-position: -200px -60px
}

.flags_FR {
    background-position: -220px -60px
}

.flags_YT {
    background-position: -140px -40px
}

.flags_NC {
    background-position: -220px -60px
}

.flags_GF {
    background-position: -260px -60px
}

.flags_PF {
    background-position: -380px -220px
}

.flags_TF {
    background-position: -240px -60px
}

.flags_GA {
    background-position: -280px -60px
}

.flags_GM {
    background-position: -320px -60px
}

.flags_GE {
    background-position: -340px -60px
}

.flags_DE {
    background-position: -360px -60px
}

.flags_GH {
    background-position: -380px -60px
}

.flags_GR {
    background-position: -420px -60px
}

.flags_GL {
    background-position: -440px -60px
}

.flags_GD {
    background-position: -460px -60px
}

.flags_GP {
    background-position: -220px -60px
}

.flags_GU {
    background-position: -20px -80px
}

.flags_GT {
    background-position: 0 -80px
}

.flags_GG {
    background-position: -41px -239px
}

.flags_GN {
    background-position: -60px -80px
}

.flags_GW {
    background-position: -80px -80px
}

.flags_GY {
    background-position: -100px -80px
}

.flags_HT {
    background-position: -120px -80px
}

.flags_HM {
    background-position: -340px -80px
}

.flags_HN {
    background-position: -160px -80px
}

.flags_HK {
    background-position: -180px -80px
}

.flags_HU {
    background-position: -200px -80px
}

.flags_IS {
    background-position: -240px -80px
}

.flags_IN {
    background-position: -80px -240px
}

.flags_ID {
    background-position: -300px -80px
}

.flags_IR {
    background-position: -320px -80px
}

.flags_IQ {
    background-position: -340px -80px
}

.flags_GI {
    background-position: -400px -60px
}

.flags_IE {
    background-position: -360px -80px
}

.flags_IM {
    background-position: -20px -80px
}

.flags_IL {
    background-position: -420px -80px
}

.flags_IT {
    background-position: -440px -80px
}

.flags_JM {
    background-position: -460px -80px
}

.flags_JP {
    background-position: -480px -80px
}

.flags_JE {
    background-position: -20px -60px
}

.flags_JO {
    background-position: -20px -100px
}

.flags_KZ {
    background-position: -40px -100px
}

.flags_KE {
    background-position: -60px -100px
}

.flags_KI {
    background-position: -80px -100px
}

.flags_KW {
    background-position: -61px -239px
}

.flags_KG {
    background-position: -140px -100px
}

.flags_LA {
    background-position: -240px -220px
}

.flags_LV {
    background-position: -180px -100px
}

.flags_LB {
    background-position: -200px -100px
}

.flags_LS {
    background-position: -220px -100px
}

.flags_LR {
    background-image: url(../icon/flag.png);
    background-position: -240px -100px;
    background-size: auto;
    background-repeat: no-repeat
}

.flags_LY {
    background-position: -260px -220px
}

.flags_LI {
    background-position: -280px -100px
}

.flags_LT {
    background-position: -300px -100px
}

.flags_LU {
    background-position: -320px -100px
}

.flags_MO {
    background-position: -280px -220px
}

.flags_MK {
    background-position: -360px -100px
}

.flags_MG {
    background-position: -380px -100px
}

.flags_MW {
    background-position: -100px -240px
}

.flags_MY {
    background-position: -420px -100px
}

.flags_MV {
    background-position: -440px -100px
}

.flags_ML {
    background-position: -460px -100px
}

.flags_MT {
    background-position: -480px -100px
}

.flags_MH {
    background-position: 0 -120px
}

.flags_MR {
    background-position: -40px -120px
}

.flags_MU {
    background-position: -60px -120px
}

.flags_MX {
    background-position: -100px -120px
}

.flags_FM {
    background-position: -120px -120px
}

.flags_MD {
    background-position: -140px -120px
}

.flags_MC {
    background-position: -160px -120px
}

.flags_MN {
    background-position: -180px -120px
}

.flags_ME {
    background-position: -200px -120px
}

.flags_MS {
    background-position: -220px -120px
}

.flags_MA {
    background-position: -240px -120px
}

.flags_MZ {
    background-position: -260px -120px
}

.flags_MM {
    background-position: -280px -120px
}

.flags_NA {
    background-position: -300px -120px
}

.flags_NR {
    background-position: -340px -120px
}

.flags_NP {
    background-position: -360px -120px
}

.flags_NL {
    background-position: -400px -120px
}

.flags_AN {
    background-position: -380px -120px
}

.flags_NZ {
    background-position: -440px -120px
}

.flags_NI {
    background-position: -460px -120px
}

.flags_NE {
    background-position: -480px -120px
}

.flags_NG {
    background-position: 0 -140px
}

.flags_NU {
    background-position: -20px -140px
}

.flags_NF {
    background-position: -40px -140px
}

.flags_MP {
    background-position: -120px -140px
}

.flags_KP {
    background-position: -80px -180px
}

.flags_NO {
    background-position: -140px -140px
}

.flags_OM {
    background-position: -220px -140px
}

.flags_PK {
    background-position: -260px -140px
}

.flags_PW {
    background-position: -280px -140px
}

.flags_PS {
    background-position: -360px -20px
}

.flags_PA {
    background-position: -320px -140px
}

.flags_PG {
    background-position: -340px -140px
}

.flags_PY {
    background-position: -360px -140px
}

.flags_PE {
    background-position: -380px -140px
}

.flags_PH {
    background-position: -400px -140px
}

.flags_PN {
    background-position: -420px -140px
}

.flags_PL {
    background-position: -440px -140px
}

.flags_PT {
    background-position: -460px -140px
}

.flags_PR {
    background-position: -480px -140px
}

.flags_QA {
    background-position: 0 -160px
}

.flags_RE {
    background-position: -220px -60px
}

.flags_RO {
    background-position: -60px -160px
}

.flags_RU {
    background-position: -80px -160px
}

.flags_RW {
    background-position: -100px -160px
}

.flags_BL,.flags_SH {
    background-position: -360px -20px
}

.flags_KN {
    background-position: -160px -180px
}

.flags_LC {
    background-position: -160px -160px
}

.flags_MF,.flags_PM {
    background-position: -360px -20px
}

.flags_VC {
    background-position: -180px -180px
}

.flags_WS {
    background-position: -220px -160px
}

.flags_SM {
    background-position: -240px -160px
}

.flags_ST {
    background-position: -260px -160px
}

.flags_SA {
    background-position: -280px -160px
}

.flags_SN {
    background-position: -320px -160px
}

.flags_RS {
    background-position: -340px -160px
}

.flags_SC {
    background-position: -360px -160px
}

.flags_SL {
    background-position: -380px -160px
}

.flags_SG {
    background-position: -400px -160px
}

.flags_SK {
    background-position: -440px -160px
}

.flags_SI {
    background-position: -460px -160px
}

.flags_SB {
    background-position: -480px -160px
}

.flags_SO {
    background-position: 0 -180px
}

.flags_ZA {
    background-position: -40px -180px
}

.flags_GS {
    background-position: -360px -20px
}

.flags_KR {
    background-position: -220px -220px
}

.flags_ES {
    background-position: -120px -180px
}

.flags_LK {
    background-position: -140px -180px
}

.flags_SD {
    background-position: -200px -180px
}

.flags_SR {
    background-position: -220px -180px
}

.flags_SJ {
    background-position: -240px -180px
}

.flags_SZ {
    background-position: -260px -180px
}

.flags_SE {
    background-position: -280px -180px
}

.flags_CH {
    background-position: -300px -180px
}

.flags_SY {
    background-position: -320px -180px
}

.flags_TW {
    background-position: -360px -180px
}

.flags_TJ {
    background-position: -380px -180px
}

.flags_TZ {
    background-position: -400px -180px
}

.flags_TH {
    background-position: -420px -180px
}

.flags_TG {
    background-position: -460px -180px
}

.flags_TK {
    background-position: -480px -180px
}

.flags_TO {
    background-position: 0 -200px
}

.flags_TT {
    background-position: -20px -200px
}

.flags_TN {
    background-position: -60px -200px
}

.flags_TR {
    background-position: -80px -200px
}

.flags_TM {
    background-position: -100px -200px
}

.flags_TC {
    background-position: -120px -200px
}

.flags_TV {
    background-position: -140px -200px
}

.flags_UG {
    background-position: -160px -200px
}

.flags_UA {
    background-position: -180px -200px
}

.flags_AE {
    background-position: -240px -200px
}

.flags_GB {
    background-position: -260px -200px
}

.flags_US {
    background-position: -320px -200px
}

.flags_UY {
    background-position: -340px -200px
}

.flags_UM,.flags_VI {
    background-position: -360px -20px
}

.flags_UZ {
    background-position: -360px -200px
}

.flags_VU {
    background-position: -380px -200px
}

.flags_VA {
    background-position: -400px -200px
}

.flags_VE {
    background-position: -420px -200px
}

.flags_VN {
    background-position: -440px -200px
}

.flags_WF {
    background-position: -20px -220px
}

.flags_EH {
    background-position: -40px -220px
}

.flags_YE {
    background-position: -100px -220px
}

.flags_ZM {
    background-position: -120px -220px
}

.flags_ZW {
    background-position: -140px -220px
}

.flags_XB {
    background-position: -400px -120px
}

.flags_XC {
    background-position: -300px -40px
}

.flags_XE {
    background-position: -400px -120px
}

.flags_XM {
    background-position: -420px -160px
}

.flags_XY {
    background-position: -220px -60px
}

.flags_KV {
    background-position: -100px -100px
}

.flags_MQ {
    background-position: -20px -120px
}

.flags_TL {
    background-position: -160px -220px
}

.icon {
    background-image: url(../icon/sprite.png?20170915);
    display: inline-block;
    vertical-align: middle
}

.hot_tag {
    background-position: -186px -276px;
    width: 28px;
    height: 17px
}

.icon-add {
    background-position: -361px -182px;
    width: 25px;
    height: 24px
}

.icon-addbig {
    background-position: -361px -257px;
    width: 24px;
    height: 24px
}

.icon-alert {
    background-position: -390px -180px;
    width: 16px;
    height: 16px
}

.icon-android {
    background-position: 0 -383px;
    width: 22px;
    height: 23px
}

.icon-arrowDown-1 {
    background-position: -379px -314px;
    width: 11px;
    height: 7px
}

.icon-arrowDown-2 {
    background-position: -265px -220px;
    width: 9px;
    height: 5px
}

.icon-arrowDown-3 {
    background-position: -390px -278px;
    width: 18px;
    height: 11px
}

.icon-arrowDown-4 {
    background-position: -324px -275px;
    width: 30px;
    height: 18px
}

.icon-arrowLeft-1 {
    background-position: -383px -206px;
    width: 7px;
    height: 11px
}

.icon-arrowLeft-2 {
    background-position: -385px -156px;
    width: 5px;
    height: 9px
}

.icon-arrowLeft-3 {
    background-position: -390px -242px;
    width: 11px;
    height: 18px
}

.icon-arrowLeft-4 {
    background-position: -390px 0;
    width: 18px;
    height: 30px
}

.icon-arrowLeft-5 {
    background-position: -340px -293px;
    width: 18px;
    height: 30px
}

.icon-arrowRight-1 {
    background-position: -401px -343px;
    width: 7px;
    height: 11px
}

.icon-arrowRight-2 {
    background-position: -403px -316px;
    width: 5px;
    height: 9px
}

.icon-arrowRight-3 {
    background-position: -390px -260px;
    width: 11px;
    height: 18px
}

.icon-arrowRight-4 {
    background-position: -390px -30px;
    width: 18px;
    height: 30px
}

.icon-arrowRight-5 {
    background-position: -361px -307px;
    width: 18px;
    height: 30px
}

.icon-arrowUp-1 {
    background-position: -379px -307px;
    width: 11px;
    height: 7px
}

.icon-arrowUp-2 {
    background-position: -236px -227px;
    width: 9px;
    height: 5px
}

.icon-arrowUp-3 {
    background-position: -390px -289px;
    width: 18px;
    height: 11px
}

.icon-arrowUp-4 {
    background-position: -267px -327px;
    width: 30px;
    height: 18px
}

.icon-arrowUp-5 {
    background-position: -265px -276px;
    width: 26px;
    height: 15px
}

.icon-arrowUp-6 {
    background-position: -239px -276px;
    width: 26px;
    height: 15px
}

.icon-ask {
    background-position: -280px -164px;
    width: 41px;
    height: 36px
}

.icon-belive {
    background-position: -361px -206px;
    width: 22px;
    height: 27px
}

.icon-bell {
    background-position: -361px -281px;
    width: 22px;
    height: 26px
}

.icon-blog-1 {
    background-position: -324px -71px;
    width: 34px;
    height: 34px
}

.icon-blog {
    background-position: -324px -105px;
    width: 34px;
    height: 34px
}

.icon-cart-1 {
    background-position: -232px -327px;
    width: 35px;
    height: 23px
}

.icon-cart-2 {
    background-position: -197px -327px;
    width: 35px;
    height: 23px
}

.icon-cart {
    background-position: -168px -327px;
    width: 29px;
    height: 29px
}

.icon-categoryAll,.icon-categoryAll-1,.icon-categoryBeauty,.icon-categoryBeauty-1,.icon-categoryCameras,.icon-categoryCameras-1,.icon-categoryCar,.icon-categoryCar-1,.icon-categoryGame,.icon-categoryGame-1,.icon-categoryHome,.icon-categoryHome-1,.icon-categoryHomegarden,.icon-categoryHomegarden-1,.icon-categoryLight,.icon-categoryLight-1,.icon-categoryMusic,.icon-categoryOutDress,.icon-categoryOutDress-1,.icon-categoryOutdoor,.icon-categoryOutdoor-1,.icon-categoryPC,.icon-categoryPC-1,.icon-categoryPhone,.icon-categoryPhone-1,.icon-categoryRc,.icon-categoryRc-1,.icon-categoryTools,.icon-categoryTools-1,.icon-categoryVideo,.icon-categoryVideo-1,.icon-categoryWhouse,.icon-categoryWhouse-1 {
    width: 44px;
    height: 44px
}

.icon-categoryAll-1 {
    background-position: 0 -144px
}

.icon-categoryAll {
    background-position: -44px -144px
}

.icon-categoryBeauty-1 {
    background-position: -88px -144px
}

.icon-categoryBeauty {
    background-position: -132px -144px
}

.icon-categoryCameras-1 {
    background-position: -192px 0
}

.icon-categoryCameras {
    background-position: -192px -44px
}

.icon-categoryCar-1 {
    background-position: -192px -88px
}

.icon-categoryCar {
    background-position: -192px -132px
}

.icon-categoryGame-1 {
    background-position: 0 -188px
}

.icon-categoryGame {
    background-position: -44px -188px
}

.icon-categoryHome-1 {
    background-position: -88px -188px
}

.icon-categoryHome {
    background-position: -280px -44px
}

.icon-categoryHomegarden-1 {
    background-position: -176px -188px
}

.icon-categoryHomegarden {
    background-position: -236px 0
}

.icon-categoryLight-1 {
    background-position: -236px -44px
}

.icon-categoryLight {
    background-position: -236px -88px
}

.icon-categoryMusic-1 {
    background-position: -236px -132px;
    width: 44px;
    height: 44px
}

.icon-categoryMusic {
    background-position: -236px -176px
}

.icon-categoryOutDress-1 {
    background-position: -88px -232px
}

.icon-categoryOutDress {
    background-position: -132px -232px
}

.icon-categoryOutdoor-1 {
    background-position: 0 -232px
}

.icon-categoryOutdoor {
    background-position: -44px -232px
}

.icon-categoryPC-1 {
    background-position: -176px -232px
}

.icon-categoryPC {
    background-position: -220px -232px
}

.icon-categoryPhone-1 {
    background-position: -280px 0
}

.icon-categoryPhone {
    background-position: -132px -188px
}

.icon-categoryRc-1 {
    background-position: -148px -88px
}

.icon-categoryRc {
    background-position: -148px -44px
}

.icon-categoryTools-1 {
    background-position: -148px 0
}

.icon-categoryTools {
    background-position: -88px -100px
}

.icon-categoryVideo-1 {
    background-position: -48px -52px
}

.icon-categoryVideo {
    background-position: -44px -100px
}

.icon-categoryWhouse-1 {
    background-position: 0 -100px
}

.icon-categoryWhouse {
    background-position: -104px -51px
}

.icon-checkbox {
    background-position: -390px -132px;
    width: 16px;
    height: 16px
}

.icon-checkboxChecked {
    background-position: -390px -164px;
    width: 16px;
    height: 16px
}

.icon-checkboxForbid {
    background-position: -390px -196px;
    width: 16px;
    height: 16px
}

.icon-clock {
    background-position: -361px -233px;
    width: 24px;
    height: 24px
}

.icon-close-1 {
    background-position: -390px -212px;
    width: 15px;
    height: 15px
}

.icon-close {
    background-position: -390px -343px;
    width: 11px;
    height: 11px
}

.icon-del {
    background-position: -108px -361px;
    width: 20px;
    height: 20px
}

.icon-display-1 {
    background-position: -46px -361px;
    width: 22px;
    height: 22px
}

.icon-display {
    background-position: -24px -361px;
    width: 22px;
    height: 22px
}

.icon-displayY-1 {
    background-position: 0 -361px;
    width: 24px;
    height: 22px
}

.icon-displayY {
    background-position: -361px -337px;
    width: 24px;
    height: 22px
}

.icon-edit {
    background-position: -390px -116px;
    width: 18px;
    height: 16px
}

 
 
.icon-vk,.icon-vk-1,.icon-youtube,.icon-youtube-1 {
    width: 34px;
    height: 34px
}

.icon-vk-1 {
    background-position: -34px -293px
}

 

@font-face {
    font-family: TT_font;
    src: url(../fonts/TT_font.eot?5cok4g);
    src: url(../fonts/TT_font.eot?5cok4g#iefix) format('embedded-opentype'),url(../fonts/TT_font.ttf?5cok4g) format('truetype'),url(../fonts/TT_font.woff?5cok4g) format('woff'),url(../fonts/TT_font.svg?5cok4g#TT_font) format('svg');
    font-weight: 400;
    font-style: normal
}

[class*=" icon_"],[class^=icon_] {
    font-family: TT_font!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

 

.bm_followus {
    margin-bottom: 30px;
    margin-top: 1.25rem
}

.bm_followus h3 {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 0;
    word-spacing: 0;
    font-size: 16px;
    font-weight: 700;
    color: #666;
    margin-right: 15px;
    padding-bottom: 0
}

.bm_followus .bd a,.bm_followus.style1 a,.bm_followus.style2 a,.bm_followus.style3 a,.bm_followus.style4 a,.bm_followus.style5 a,.bm_followus.style6 a {
    display: inline-block;
    margin-right: 13px;
    vertical-align: middle
}

.bm_followus .bd {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    letter-spacing: 0;
    word-spacing: 0
}

.bm_followus .bd a i {
    color: #fff;
    padding: 5px;
    border-radius: 50px;
    background: #666
}

.bm_followus .bd a.facebook:hover i {
    background: #3a5897
}

.bm_followus .bd a.twitter:hover i {
    background: #2daae1
}

.bm_followus .bd a.pinterest:hover i {
    background: #bd081c
}

.bm_followus .bd a.blog:hover i {
    background: #4d82b8
}

.bm_followus .bd a.youtube:hover i {
    background: #c9302b
}

.bm_followus .bd a.google:hover i {
    background: #dc4e41
}

.bm_followus .bd a.vk:hover i {
    background: #4c75a3
}

.bm_followus .bd a.instagram:hover i {
    background: #d57819
}

.bm_followus .bd a.polyvore:hover i {
    background: #333
}

.bm_followus.style1 a i {
    font-size: 20px;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    background: #666
}

.bm_followus.style2 a i {
    font-size: 28px;
    color: #333;
    padding: 5px;
    background: 0 0!important
}

.bm_followus.style2 a.facebook:hover i {
    color: #3a5897
}

.bm_followus.style2 a.twitter:hover i {
    color: #2daae1
}

.bm_followus.style2 a.pinterest:hover i {
    color: #bd081c
}

.bm_followus.style2 a.blog:hover i {
    color: #4d82b8
}

.bm_followus.style2 a.youtube:hover i {
    color: #c9302b
}

.bm_followus.style2 a.google:hover i {
    color: #dc4e41
}

.bm_followus.style2 a.vk:hover i {
    color: #4c75a3
}

.bm_followus.style2 a.instagram:hover i {
    color: #d57819
}

.bm_followus.style2 a.polyvore:hover i {
    color: #333
}

.bm_followus.style3 a i {
    font-size: 20px;
    color: #fff;
    padding: 5px
}

.bm_followus.style3 a:hover i {
    filter: alpha(opacity=80);
    -moz-opacity: .8;
    opacity: .8
}

.bm_followus.style3 a.facebook i {
    background: #3a5897
}

.bm_followus.style3 a.twitter i {
    background: #2daae1
}

.bm_followus.style3 a.pinterest i {
    background: #bd081c
}

.bm_followus.style3 a.blog i {
    background: #4d82b8
}

.bm_followus.style3 a.youtube i {
    background: #c9302b
}

.bm_followus.style3 a.google i {
    background: #dc4e41
}

.bm_followus.style3 a.vk i {
    background: #4c75a3
}

.bm_followus.style3 a.instagram i {
    background: #d57819
}

.bm_followus.style3 a.polyvore i {
    background: #333
}

.bm_followus.style4 a i {
    font-size: 20px;
    color: #fff;
    padding: 5px;
    border-radius: 4px
}

.bm_followus.style4 a:hover i {
    filter: alpha(opacity=80);
    -moz-opacity: .8;
    opacity: .8
}

.bm_followus.style4 a.facebook i {
    background: #3a5897
}

.bm_followus.style4 a.twitter i {
    background: #2daae1
}

.bm_followus.style4 a.pinterest i {
    background: #bd081c
}

.bm_followus.style4 a.blog i {
    background: #4d82b8
}

.bm_followus.style4 a.youtube i {
    background: #c9302b
}

.bm_followus.style4 a.google i {
    background: #dc4e41
}

.bm_followus.style4 a.vk i {
    background: #4c75a3
}

.bm_followus.style4 a.instagram i {
    background: #d57819
}

.bm_followus.style4 a.polyvore i {
    background: #333
}

.bm_followus.style5 {
    background: #2c3034;
    height: 50px
}

.bm_followus.style5 h3 {
    color: #fff
}

.bm_followus.style5 a i {
    font-size: 24px;
    padding: 5px;
    color: #fff;
    border-radius: 50px;
    border: 1px solid #fff;
    background: 0 0!important
}

.bm_followus.style6 {
    background: #2c3034;
    height: 50px
}

.bm_followus.style6 h3 {
    color: #fff
}

.bm_followus.style6 a i {
    font-size: 24px;
    color: #333;
    padding: 5px;
    border-radius: 50px;
    border: 1px solid #fff;
    background: #fff!important
}

.bm_followus .bd a i {
    font-size: 4.17rem
}

@media (max-width: 768px) {
    .bm_followus {
        text-align:center
    }

    .bm_followus .bd a {
        margin-top: .42rem
    }

    .bm_followus .bd a i {
        font-size: 2.5rem
    }
}

.m_accordion {
    width: 100%
}

.m_accordion p {
    font-size: 1.83rem;
    color: #fff
}

.m_accordion p span {
    float: right;
    position: relative;
    top: -7px
}

.m_accordion a {
    font-size: 1.67rem;
    color: #fff
}

.m_accordion .menulist {
    padding: 1.67rem;
    border-top: 1px solid #666
}

.m_accordion .menulist:last-child {
    border-bottom: 1px solid #666
}

.m_accordion .menu {
    display: none
}

.m_accordion .menu li {
    margin-top: 1.67rem
}

.m_accordion .menu li:first-child {
    margin-top: 2.5rem
}

@media (max-width: 768px) {
    .m_accordion {
        width:100%
    }

    .m_accordion p {
        font-size: 1.25rem;
        color: #fff
    }

    .m_accordion p span {
        float: right;
        position: relative;
        top: -7px
    }

    .m_accordion a {
        font-size: 1.17rem;
        color: #fff
    }

    .m_accordion .menulist {
        padding: 1.67rem;
        border-top: 1px solid #666
    }

    .m_accordion .menulist:last-child {
        border-bottom: 1px solid #666
    }

    .m_accordion .menu {
        display: none
    }

    .m_accordion .menu li {
        margin-top: 1.5rem
    }

    .m_accordion .menu li:first-child {
        margin-top: 2.5rem
    }
}


.fl {
    float: left
}

.fr {
    float: right
}

.bm_dialog_code .dialog .bd {
    padding: 20px
}

.bm_dialog_code .dialog .bd .verifiCode {
    margin-bottom: 1.25rem
}

.bm_dialog_code .dialog .bd .verifiCode.erro input {
    border-color: #e62e04
}

.bm_dialog_code .dialog .bd .verifiCode input {
    display: inline-block;
    vertical-align: middle;
    width: 60%
}

.bm_dialog_code .dialog .bd .verifiCode span {
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px
}

.bm_dialog_code .dialog .bd .verifiCode p.erro_info {
    color: #e62e04;
    text-align: left
}

.bm_dialog_code .dialog .bd .cod_btn {
    width: 60%
}

.m_support_nav {
    background-color: #f3f3f3;
    background-image: url(../images/supportcenter1200x320.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

.m_support_nav .support_center {
    text-align: center;
    padding: 4.58rem 0
}

.m_support_nav .support_center h5 {
    font-size: 2.5rem;
    color: #666;
    margin-right: 6.67rem;
    line-height: 3.33rem;
    vertical-align: middle
}

.m_support_nav .scroll_wrap {
    position: relative;
    width: 100%;
    height: 4.17rem;
    overflow: hidden
}

.m_support_nav .tab_nav {
    position: absolute;
    bottom: 0;
    background: #fff;
    opacity: .8;
    min-width: 43.25rem;
    overflow: scroll
}

.m_support_nav .tab_nav li {
    position: relative;
    width: 12.08rem;
    padding: .83rem 0;
    text-align: center;
    cursor: pointer
}

.m_support_nav .tab_nav li:last-of-type {
    border-right: none
}

.m_support_nav .tab_nav li a:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0
}

.m_support_nav .tab_nav li i {
    font-size: 1.83rem;
    vertical-align: middle;
    margin-right: .42rem
}

.m_support_nav .tab_nav li p {
    font-size: 1rem;
    color: #000;
    display: inline-block;
    vertical-align: middle
}

.m_support_nav .tab_nav li.active i,.m_support_nav .tab_nav li.active p,.m_support_nav .tab_nav li:hover i,.m_support_nav .tab_nav li:hover p {
    color: #0b98aa
}

@media (min-width: 320px) and (max-width:768px) {
    .m_support_nav .scroll_wrap {
        overflow-x:auto
    }

    .m_support_nav .scroll_wrap .tab_nav {
        min-width: 83.33rem
    }

    .m_support_nav .scroll_wrap .tab_nav i {
        width: 12.08rem
    }

    .m_support_nav .scroll_wrap::-webkit-scrollbar {
        display: none
    }
}

.bm_dialog_download .bd dl {
    line-height: 1.67rem;
    margin-bottom: 10px
}

.bm_dialog_download .bd dl dt {
    font-size: 1.33rem;
    color: #333
}

.bm_dialog_download .bd dl dd {
    border-bottom: 1px solid #ccc;
    margin: 5px 24px;
    padding: 10px 0
}

.bm_dialog_download .bd dl dd i {
    background-image: url(../icon/icon.png?_V20170907);
    background-repeat: no-repeat;
    background-position: 0 -105px;
    display: inline-block;
    vertical-align: top;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: .83rem
}

.m_download {
    width: 100%
}

.m_download li {
    width: 23.35%;
    padding: 1.25rem 0;
    text-align: center;
    margin-right: 2.2%;
    margin-bottom: 2.2%;
    border: 1px solid #eee;
    position: relative
}

.m_download li:nth-of-type(4n) {
    margin-right: 0
}

.m_download li .product_img {
    display: block;
    padding: 0 20px;
    min-height: 100px;
    width: 100%
}

.m_download li .product_img img {
    width: 100%;
    transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s
}

.m_download li:hover div {
    display: block
}

.m_download li:hover .product_img img {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px)
}

.m_download li>div {
    transition: .3s linear;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 19;
    position: absolute;
    top: 0;
    display: none;
    opacity: .6;
    color: #fff
}

.m_download li>div>div {
    overflow-y: auto;
    height: 80%
}

.m_download li>div ::-webkit-scrollbar {
    display: none
}

.m_download li>div h3 {
    padding: .83rem 0 0;
    text-align: center;
    width: 100%;
    height: 4.17rem;
    line-height: 5rem;
    overflow: hidden;
    font-size: 1.5rem
}

.m_download li>div p {
    overflow: hidden;
    text-align: left;
    padding: 0 8%;
    height: 3.33rem;
    line-height: 4.17rem;
    font-size: 1.33rem;
    margin-top: .83rem
}

.m_download li>div:hover {
    cursor: pointer
}

.m_download li>div a {
    display: inline-block;
    text-align: left;
    width: 84%;
    margin: 0 8%;
    height: 2.5rem;
    line-height: 2.5rem;
    border-bottom: 1.5px solid silver;
    font-size: 1.17rem;
    color: #fff
}

.m_download li>div a:hover {
    opacity: .8
}

.m_download li>div a i {
    background: url(../icon/download.png) no-repeat;
    display: inline-block;
    vertical-align: top;
    width: 1.5rem;
    height: 1.5rem;
    top: .42rem;
    left: .42rem;
    position: relative
}

@media (max-width: 1200px) {
    .m_download li div p {
        margin-top:0
    }

    .m_download li div:hover {
        display: none!important
    }
}

@media (max-width: 320px) {
    .m_download li {
        width:100%;
        margin-right: 0;
        margin-bottom: 1%
    }
}

@media (min-width: 320px) and (max-width:768px) {
    .m_download li {
        width:49%;
        margin-right: 2%;
        margin-bottom: 2%
    }

    .m_download li:nth-of-type(2n) {
        margin-right: 0
    }

    .m_download li .product_img {
        background-size: 80% auto
    }
}

#main .content {
    padding-bottom: 2.5rem
}

.tab_container {
    overflow: hidden;
    margin-top: .83rem
}

.tab_info {
    text-align: center
}

.tab_info .category_tt {
    display: inline-block;
    padding: 50px 0 40px
}

.tab_info .category_tt h3 {
    font-size: 2rem;
    color: #333
}

.tab_info .category_tt p {
    padding: .83rem 0
}

 

@media (min-width: 320px) and (max-width:480px) {
    .tab_info .category_tt {
        padding:30px 0 20px
    }

    .tag_nav {
        padding-top: 10px
    }

    .tag_nav ul li {
        font-size: 1.17rem;
        color: #333;
        padding: 10px
    }
}
