.customer-account-login .off-canvas-wrap,.customer-account-create .off-canvas-wrap{
	background-color:#f6f6f6;
	background:#f6f6f6;
}
body{
	background-color:#f6f6f6;
	font-family:'Roboto','Arial';
}
.main{
	max-width: 1400px;
	margin: 0 auto;
	height: 700px;
    margin-top: 100px;
    background-color:#fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.1)
}
h1, h2, h3, h4, h5, h6{
	font-family: "Roboto","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
.wel{
	margin-top: 80px;
	margin-bottom: 47px;
}
.reg-title{
	margin-top: 80px;
    margin-bottom: 25px;
}
.wel h1{
    font-size: 36px;
    text-align: center;
    color: black;
}
.wel h4{
	font-size: 16px;
    text-align: center;
    color: #b4b4b4;
}
.mdformfields .input-box{
	border-left:none !important;
	border-right:none !important;
	border-bottom:none !important;
} 
.mdformfields .input-box .input-text{
	background:#f6f6f6 !important;
}
.form-list .field, .form-list li{
	margin-bottom:20px !important;
}
.mdformfields .input-box .input-text{
	height:53px;
	width:345px;
	text-align: center;
	-webkit-appearance: none;
	z-index:1;
}
#main .form-box{
	padding:0;
	box-shadow: none;
}
#main .mdformfields .validation-advice{
	top: 36px;
}
#main .form-box .buttons-set{
	margin:0;
	background:none;
	margin-top: 90px;
}
.leftcolumn{
	float:left;
	position:relative; 
	
}
.par{
	width: 1360px;
    margin: 0 auto;
    height:700px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.1);
}
.par .form-box{
	float:right;
	margin:0;
	padding:0;
}
.par .form-box.wide{
	max-width:860px;
	padding:0;
}
.par h1{
	color:#333 !important;
	margin-top: 49px;
}
 
 
#account-create label{
	top: 25px;
    z-index: 2;
    left: 88px;
}
#account-create div.field{
	width:345px;
}
#account-create .form-list li{
	margin-left:75px;
}
#account-create .name-lastname{
	margin-left: 11px;
	
}
#account-create .customer-name-middlename{
	height: 70px;
    width: auto;
    margin: 0 auto;
}
#account-create .form-box.wide .form-list .field,#account-create  .form-box.wide .form-list li{
	width: 335px;
}
#account-create .form-box .buttons-set{
	margin:0;
	background: transparent;
	height: 150px;
}
#account-create .form-box.wide .control{
	width:335px !important;
}
#account-create label.checkbox, #account-create .control label{
	left: 35px !important;
	position: absolute !important;
}
#backtologin{
	font-size: 16px;
    color: #5787f5;
    margin-top: 22px;
}
#backtologin:after {
    content: "";
    display: block;
    position: absolute;
    top: 48%;
    width: 6.5em;
    height: 0.5em;
    border-top: 1px solid;
    margin-right: 0.25em;
    color: #e5e5e5;
    border-right: none;
    left: -122px;
    transform: none;
}
#backtologin:before {
    content: "";
    display: block;
    position: absolute;
    top: 48%;
    width: 6.5em;
    height: 0.5em;
    border-top: 1px solid;
    margin-right: 0.25em;
    color: #e5e5e5;
    left: 113px;
    border-right: none;
    margin-top: 0;
    transform: none;
}
.leftcolumn .head{
	position:absolute;
	top: 94px;
    left: 151px;
}
.leftcolumn .title{
	color:#fff;
	font-size:36px;
	text-align:center;
	font-weight: 500;
}
.leftcolumn .sub{
	color:#fff;
	font-size:16px;
	text-align:center;
	position:relative;
}
.leftcolumn .sub:before{
	content: "";
    display: block;
    position: absolute;
    top: 48%;
    width: 2.5em;
    height: 0.5em;
    border-top: 1px solid;
    margin-right: 0.25em;
    color: #e5e5e5;
    border-right: none;
    left: 3px;
    transform: none;
}
.leftcolumn .sub:after{
	content: "";
    display: block;
    position: absolute;
    top: 48%;
    width: 2.5em;
    height: 0.5em;
    border-top: 1px solid;
    margin-right: 0.25em;
    color: #e5e5e5;
    border-right: none;
    left: 169px;
    transform: none;
}
#account-create #first.form-list li:first-child,#account-create #second.form-list li:first-child{
	margin-bottom: 2px !important;
}
#comfirmPassword{
	margin-left: 12px !important;
}
#account-create .mdformfields .validation-advice{
	top:20px;
}

#account-create .fac{
	position: absolute;
    top: 40%;
    left: 46%;
}
#account-create .tuitor{
	position: absolute;
    top: 40%;
    left: 55%;
}
#account-create .other{
	position: absolute;
    top: 40%;
    right: -31px;
}

#account-login .loginpar{
	width: 1000px;
    margin: 0 auto;
    height: 700px;
}
#account-login .form-box{
	width:500px;
	float:left;
	height: 700px;
	margin:0;
	padding: 30px 80px 0;
	max-width:500px;
}
#account-login .rightcolumn{
	width:500px;
	height:700px;
	float:left;
	position:relative;
}
#login-form .maintitle{
	text-align: center;
    font-size: 36px;
    color: #333;
    font-weight: 500;
    margin-top: 70px;
}
#login-form .subtitle{
	font-size: 16px;
    margin-top: -10px;
    margin-bottom: 40px;
}
#account-login label{
	top: 25px;
    z-index: 2;
    left: 133px;
}
#account-login .form-list li{
	margin-bottom: 30px !important;
}
#account-login .form-box .buttons-set{
	background:none;
	margin:0;
	padding:0;
	margin-top: 130px;
}
#account-login .form-box .buttons-set .button{
	height: 50px;
	width:340px;
}
#account-login  .input-box .input-text{
	width: 340px;
}
#account-login .f-left{
	float: right;
    font-size: 14px;
    text-decoration: underline;
    margin-top: 10px;
}
#account-login .gocreateAccount{
	text-align: center;
    margin-top: 80px;
    position:relative;
}
#account-login .gocreateAccount:before{
	content: "";
    display: block;
    position: absolute;
    top: 48%;
    width: 6.5em;
    height: 0.5em;
    border-top: 1px solid;
    margin-right: 0.25em;
    color: #e5e5e5;
    left: 280px;
    border-right: none;
    margin-top: 0;
    transform: none;
}
#account-login .gocreateAccount:after{
	content: "";
    display: block;
    position: absolute;
    top: 48%;
    width: 6.5em;
    height: 0.5em;
    border-top: 1px solid;
    margin-right: 0.25em;
    color: #e5e5e5;
    border-right: none;
    left: -57px;
    transform: none;
}
.rightcolumn .head{
	position:absolute;
	top: 94px;
    left: 136px;
}
.rightcolumn .title{
	color:#fff;
	font-size:36px;
	text-align:center;
	font-weight: 500;
}
.rightcolumn .sub{
	color:#fff;
	font-size:16px;
	text-align:center;
	position:relative;
}
.rightcolumn .sub:before{
	content: "";
    display: block;
    position: absolute;
    top: 48%;
    width: 2.5em;
    height: 0.5em;
    border-top: 1px solid;
    margin-right: 0.25em;
    color: #e5e5e5;
    border-right: none;
    left: 3px;
    transform: none;
}
.rightcolumn .sub:after{
	content: "";
    display: block;
    position: absolute;
    top: 48%;
    width: 2.5em;
    height: 0.5em;
    border-top: 1px solid;
    margin-right: 0.25em;
    color: #e5e5e5;
    border-right: none;
    left: 169px;
    transform: none;
}
#account-login .fac{
	position: absolute;
    top: 40%;
    left: 45%;
}
#account-login .tuitor{
	position: absolute;
    top: 40%;
    left: 55%;
}
#account-login .other{
	position: absolute;
    top: 40%;
    left: -31px;
}
#account-login .validation-advice{
	top: 39px;
}
@media only screen and (max-width:40.063em){
	.par{
		width:auto;
	}
	.leftcolumn{
		float:none;
	}
	.leftcolumn .head{
		left: 72px;
	}
	#account-create .fac,#account-create .tuitor{
		top:45%;
	}
	#account-create .other{
		display:none;
	}
	#account-create .form-list li,#account-create .name-lastname,#comfirmPassword{
		margin-left:0;
	}
	#account-login .form-box{
		float:none;
		width: 100%;
    	margin: 0;
   	 	padding: 0;
   	 	height:auto;
	}
	#account-login .loginpar{
		width: 345px;
    	margin: 0 auto;
	}
	#account-login  .input-box .input-text{
	    width: 330px;
    	margin-left: 8px;	
	}
	#account-login .form-box .buttons-set{
		margin-top:0;
	}
	#account-login .gocreateAccount:after{
		left:5px;
	}
	#account-login .gocreateAccount:before{
		left:250px;
	}
	.rightcolumn .head{
		left: 70px;
	}
	#account-login .other{
		display:none;
	}
	#account-login .fac{
		left:14%;
	}
	#account-login .tuitor{
		left: 43%;
	}
}
@media only screen and (max-width:1440px){
	.par{
		margin-left: -41px;
		width:1275px;
		height: 600px;
		transform:scale(0.8);
		-moz-transform:scale(0.9);
		margin-top: -44px;
	}
	.customer-account-create .row{
	    margin-top: -25px;
	}
	.mdformfields .input-box .input-text{
		width:310px;
	}
	#account-create .form-list li{
		margin-left: 47px;
	}
	#account-create .form-box.wide .form-list .field, #account-create  .form-box.wide .form-list li{
	    width: 310px;
	}
	.par .form-box.wide{
		max-width: 775px;
	}
	#account-login{
		 
	}
	#account-login .loginpar{
		height: 600px;
		margin-top:0;
	}
	#account-login .form-box{
		height: 600px;
	}
	#login-form .maintitle{
		margin-top:0;
	}
	#account-login .form-box .buttons-set{
		margin-top: 50px;
	}
	#account-login .rightcolumn{
		height:600px;
	}
	.loginpar .rightcolumn > img{
		transform: scaleY(0.747);
    	margin-top: -89px;
	}
	body.customer-account-create{
		overflow: hidden !important;
	}
	body.customer-account-login{
		overflow: hidden !important;
	}
	#account-login .loginpar,#account-login .form-box,#account-login .rightcolumn{
		height: 520px;
	}
	#account-login .gocreateAccount{
	    margin-top: 64px;
	}
}