.shippingFrom {
    margin: 10px 0 0
}
 
.irulu_wrap .item_line {
    display: inline-block;
    float: left;
    word-wrap: break-word;
    line-height: 14px;
    margin-top: 10px;
    margin-right:10px
}
.irulu_wrap .item_box {
    min-height: 30px;
    margin-left: 70px;
}
.shippingFrom ul {
    margin-top: 5px;
    width: 550px
}
.selectAttribute,.selectAttributes {
    max-height: 125px;
    overflow-y: auto
}
.showInformation .tt_warehouse li {
    text-transform: none;
}
.shippingFrom ul li {
    padding: 5px;
    margin: 0 5px 6px 0;
    position: relative;
    border: 1px solid #ccc;
    cursor: pointer;
    display:inline-block;
}
.shippingFrom ul .selectActive,.shippingFrom ul li:hover {
    padding: 4px;
    border: 2px solid #f60
}
.selectActive i {
    position: absolute;
    right: -1px;
    bottom: -1px;
    width: 15px;
    height: 15px;
    background-image: url(../images/iconProduct.png);
    background-repeat: repeat-x;
    background-position: -80px 1px;
    display: inline-block;
    *display: inline;
    *zoom:1
}
.irulu_wrap.dispatch .item_box {
    padding-top: 8px
}
.ship-log .ship-log_info {
    display: inline-block;
    width: 560px;
    padding-top: 8px;
    padding-bottom: 3px;
    line-height: 15px;
    overflow: hidden
}
.ship-log .ship-log_info .shipping {
    display: inline-block;
    margin-left: 0
}
.ship-log .ship-log_info .shipping b.nshipped,.ship-log .ship-log_info .shipping b.pricelab {
    color: #333
}
.ship-log .ship-log_info em {
    margin-left: 4px;
    font-style: normal
}
.ship-log .ship-log_info>span {
    min-width: 50px;
    font-size: 12px;
    letter-spacing: 0;
    word-spacing: 0;
    display: inline-block
}
.ship-log .ship-log_b {
    border-bottom: 1px solid #666;
    color: #666
}
.ship-log .ship-log_info .state {
    margin-left: 0
}
.ship-log .ship-log_b i {
    width: 12px;
    height: 10px;
    margin-left: 4px;
    vertical-align: middle;
    display: inline-block;
    background: url(../images/iconTop.png) -39px -11px no-repeat
}
.ship-log .ship-log_b:hover {
    border-bottom: 1px solid #4d82b8;
    color: #4d82b8;
    cursor:pointer;
}
.dialogs_show {
    display: block!important
}
.dialogs {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    font-size: 0;
    letter-spacing: -3px;
    text-align: center;
    z-index: 1001;
    display: none
}
.dialogs>i {
    width: 0;
    height: 100%;
    vertical-align: middle;
    display: inline-block
}
.ship-log_c .dialogs_c {
    max-width: 760px;
    width: 760px;
    max-height: 388px;
    padding: 15px 15px 30px;
    position: relative;
    z-index: 0
}
.dialogs .dialogs_c {
    min-width: 400px;
    padding: 10px;
    position: relative;
    font-size: 12px;
    letter-spacing: 0;
    text-align: left;
    background-color: #fff;
    vertical-align: middle;
    display: inline-block;
    border-radius: 4px
}
.ship-log_c .dialogs_c .loading {
    width: 600px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -40px;
    border-radius: 4px;
    background-color: #fff;
    z-index: -1
}
.ship-log_c .dialogs_c .loading i {
    width: 100%;
    height: 45px;
    margin-top: 10px;
    display: block;
    background: url(../images/newshopping_loading.gif) center center no-repeat
}
.ship-log_c .dialogs_c .loading p {
    text-align: center
}
.ship-log_c .dialogs_c .select_state {
    display: inline-block;
    *display: inline;
    line-height: 25px
}
.ship-log_c .dialogs_c .select_state p {
    height: 24px;
    line-height: 24px;
    display: inline-block;
    *display: inline
}
.ship-log_c .dialogs_c .select_state .selectFlag {
    position: relative
}
.ship-log_c .dialogs_c .select_state .selectFlag:hover .pu_navHover {
    border: 1px solid #ccc;
    border-bottom: none;
    background: #fff
}

.ship-log_c .dialogs_c .select_state .selectFlag:hover .pu_blockWarp {
    display: block
}
.myblock {
    display: inline-block;
    zoom:1;*display: inline;
    font-size: 12px;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top
}
.ship-log_c .dialogs_c .select_state .pu_navHover {
    height: 24px;
    line-height: 24px;
    border: 1px solid #fff;
    border-bottom: none
}
.pu_navHover,.pu_navHovers {
    padding: 0 23px 0 5px;
    border: 1px solid transparent;
    border-bottom-width: 0;
    border-top-width: 0;
    position: relative;
    z-index: 9;
    zoom:1;max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
#country_img em,#current_country_flage em,#current_country_stockin em {
    background-image: url(../images/flag.png);
    background-repeat: no-repeat;
    padding-left: 8px;
    padding-right: 8px;
    height: 13px;
    margin-left: 3px;
    margin-right: 3px;
    vertical-align: -1px;
    *vertical-align: 1px;
    display: inline-block
}
.flag_HT em {
    background-position: -120px -80px
}
.pu_navHover .flag_Txt,.pu_navHovers .flag_Txt {
    display: inline-block;
    max-width: 115px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top
}
.ship-log_c .dialogs_c .select_state .icon-arr {
    width: 12px;
    height: 10px;
    vertical-align: middle;
    background-position: -39px -11px
}
.ship-log_c .dialogs_c .select_state .pu_blockWarp {
    left: 0;
    top: 23px
}
.country_all {
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
    left: 0;
    line-height: 16px;
    position: absolute;
    top: 34px;
    z-index: 8;
    padding: 0 5px 0 0!important
}
.country_all .search_country {
    margin-top: 6px;
    margin-bottom: 5px
}
.country_all .search_country input {
    background-color: #fff;
    background-image: url(../images/zoom.png);
    background-position: 3px center;
    background-repeat: no-repeat;
    border: 1px solid #efefef;
    height: 22px;
    line-height: 22px;
    padding-left: 20px;
    width: 190px;
    *width: 160px;
    margin-left: 5px
}
.country_all .country_list {
    overflow-x: hidden;
    overflow-y: auto;
    width: 200px;
    max-height: 200px;
    margin-bottom: 5px
}
.country_all .country_list li {
    padding-left: 10px
}
.country_all li em {
    background-image: url(../images/flag.png);
    background-repeat: no-repeat;
    padding-left: 8px;
    padding-right: 8px;
    height: 13px;
    margin-right: 3px;
    margin-top: 2px;
    display: inline-block
}
.flag_AF em {
    background-position: -120px -240px
}

.flag_AX em {
    background-position: -20px 0
}

.flag_AL em {
    background-position: -60px 0
}

.flag_DZ em {
    background-position: -100px 0
}

.flag_AS em {
    background-position: -120px 0
}

.flag_AD em {
    background-position: -140px 0
}

.flag_AO em {
    background-position: -160px 0
}

.flag_AI em {
    background-position: -180px 0
}

.flag_AG em {
    background-position: -220px 0
}

.flag_AR em {
    background-position: -260px 0
}

.flag_AM em {
    background-position: -280px 0
}

.flag_AW em {
    background-position: -300px 0
}

.flag_AU em {
    background-position: -340px 0
}

.flag_AT em {
    background-position: -360px 0
}

.flag_AZ em {
    background-position: -380px 0
}

.flag_BS em {
    background-position: -400px 0
}

.flag_BH em {
    background-position: -420px 0
}

.flag_BD em {
    background-position: -440px 0
}

.flag_BB em {
    background-position: -460px 0
}

.flag_BY em {
    background-position: -420px -221px
}

.flag_BG em {
    background-position: -260px -20px
}

.flag_BE em {
    background-position: -20px -20px
}

.flag_BZ em {
    background-position: -40px -20px
}

.flag_BJ em {
    background-position: -60px -20px
}

.flag_BM em {
    background-position: -80px -20px
}

.flag_BT em {
    background-position: -100px -20px
}

.flag_BO em {
    background-position: -120px -20px
}

.flag_BA em {
    background-position: -140px -20px
}

.flag_BW em {
    background-position: -160px -20px
}

.flag_BV em {
    background-position: -180px -20px
}

.flag_XN em {
    background-position: -160px -180px
}

.flag_IC em {
    background-position: -320px -220px
}

.flag_XS em {
    background-position: -320px -80px
}

.flag_BR em {
    background-position: -200px -20px
}

.flag_IO em {
    background-position: -220px -20px
}

.flag_VG em {
    background-position: 0 -239px
}

.flag_BN em {
    background-position: -240px -20px
}

.flag_BF em {
    background-position: -280px -20px
}

.flag_BI em {
    background-position: -300px -20px
}

.flag_KH em {
    background-position: -320px -20px
}

.flag_CM em {
    background-position: -340px -20px
}

.flag_CA em {
    background-position: -360px -20px
}

.flag_CV em {
    background-position: -380px -20px
}

.flag_KY em {
    background-position: -440px -20px
}

.flag_CF em {
    background-position: -460px -20px
}

.flag_TD em {
    background-position: -480px -20px
}

.flag_CL em {
    background-position: 0 -40px
}

.flag_CN em {
    background-position: -20px -40px
}

.flag_CX em {
    background-position: -40px -40px
}

.flag_CC em {
    background-position: -80px -40px
}

.flag_CO em {
    background-position: -100px -40px
}

.flag_KM em {
    background-position: -140px -40px
}

.flag_CG em {
    background-position: -461px -221px
}

.flag_CD em {
    background-position: -441px -221px
}

.flag_CK em {
    background-position: -200px -40px
}

.flag_CR em {
    background-position: -220px -40px
}

.flag_CI em {
    background-position: -240px -40px
}

.flag_HR em {
    background-position: -260px -40px
}

.flag_CU em {
    background-position: -280px -40px
}

.flag_CY em {
    background-position: -320px -40px
}

.flag_CZ em {
    background-position: -340px -40px
}

.flag_DK em {
    background-position: -360px -40px
}

.flag_DJ em {
    background-position: -380px -40px
}

.flag_DM em {
    background-position: -400px -40px
}

.flag_DO em {
    background-position: -420px -40px
}

.flag_EC em {
    background-position: -440px -40px
}

.flag_EG em {
    background-position: -460px -40px
}

.flag_SV em {
    background-position: -480px -40px
}

.flag_GQ em {
    background-position: -20px -60px
}

.flag_ER em {
    background-position: -40px -60px
}

.flag_EE em {
    background-position: -22px -239px
}

.flag_ET em {
    background-position: -80px -60px
}

.flag_FK em {
    background-position: -120px -60px
}

.flag_FO em {
    background-position: -180px -220px
}

.flag_FJ em {
    background-position: -180px -60px
}

.flag_FI em {
    background-position: -200px -60px
}

.flag_FR em {
    background-position: -220px -60px
}

.flag_YT em {
    background-position: -140px -40px
}

.flag_NC em {
    background-position: -220px -60px
}

.flag_GF em {
    background-position: -260px -60px
}

.flag_PF em {
    background-position: -380px -220px
}

.flag_TF em {
    background-position: -240px -60px
}

.flag_GA em {
    background-position: -280px -60px
}

.flag_GM em {
    background-position: -320px -60px
}

.flag_GE em {
    background-position: -340px -60px
}

.flag_DE em {
    background-position: -360px -60px
}

.flag_GH em {
    background-position: -380px -60px
}

.flag_GR em {
    background-position: -420px -60px
}

.flag_GL em {
    background-position: -440px -60px
}

.flag_GD em {
    background-position: -460px -60px
}

.flag_GP em {
    background-position: -220px -60px
}

.flag_GU em {
    background-position: -20px -80px
}

.flag_GT em {
    background-position: 0 -80px
}

.flag_GG em {
    background-position: -41px -239px
}

.flag_GN em {
    background-position: -60px -80px
}

.flag_GW em {
    background-position: -80px -80px
}

.flag_GY em {
    background-position: -100px -80px
}

.flag_HT em {
    background-position: -120px -80px
}

.flag_HM em {
    background-position: -340px -80px
}

.flag_HN em {
    background-position: -160px -80px
}

.flag_HK em {
    background-position: -180px -80px
}

.flag_HU em {
    background-position: -200px -80px
}

.flag_IS em {
    background-position: -240px -80px
}

.flag_IN em {
    background-position: -80px -240px
}

.flag_ID em {
    background-position: -300px -80px
}

.flag_IR em {
    background-position: -320px -80px
}

.flag_IQ em {
    background-position: -340px -80px
}

.flag_GI em {
    background-position: -400px -60px
}

.flag_IE em {
    background-position: -360px -80px
}

.flag_IM em {
    background-position: -20px -80px
}

.flag_IL em {
    background-position: -420px -80px
}

.flag_IT em {
    background-position: -440px -80px
}

.flag_JM em {
    background-position: -460px -80px
}

.flag_JP em {
    background-position: -480px -80px
}

.flag_JE em {
    background-position: -20px -60px
}

.flag_JO em {
    background-position: -20px -100px
}

.flag_KZ em {
    background-position: -40px -100px
}

.flag_KE em {
    background-position: -60px -100px
}

.flag_KI em {
    background-position: -80px -100px
}

.flag_KW em {
    background-position: -61px -239px
}

.flag_KG em {
    background-position: -140px -100px
}

.flag_LA em {
    background-position: -240px -220px
}

.flag_LV em {
    background-position: -180px -100px
}

.flag_LB em {
    background-position: -200px -100px
}

.flag_LS em {
    background-position: -220px -100px
}

.flag_LR em {
    background-position: -240px -100px
}

.flag_LY em {
    background-position: -260px -220px
}

.flag_LI em {
    background-position: -280px -100px
}

.flag_LT em {
    background-position: -300px -100px
}

.flag_LU em {
    background-position: -320px -100px
}

.flag_MO em {
    background-position: -280px -220px
}

.flag_MK em {
    background-position: -360px -100px
}

.flag_MG em {
    background-position: -380px -100px
}

.flag_MW em {
    background-position: -100px -240px
}

.flag_MY em {
    background-position: -420px -100px
}

.flag_MV em {
    background-position: -440px -100px
}

.flag_ML em {
    background-position: -460px -100px
}

.flag_MT em {
    background-position: -480px -100px
}

.flag_MH em {
    background-position: 0 -120px
}

.flag_MR em {
    background-position: -40px -120px
}

.flag_MU em {
    background-position: -60px -120px
}

.flag_MX em {
    background-position: -100px -120px
}

.flag_FM em {
    background-position: -120px -120px
}

.flag_MD em {
    background-position: -140px -120px
}

.flag_MC em {
    background-position: -160px -120px
}

.flag_MN em {
    background-position: -180px -120px
}

.flag_ME em {
    background-position: -200px -120px
}

.flag_MS em {
    background-position: -220px -120px
}

.flag_MA em {
    background-position: -240px -120px
}

.flag_MZ em {
    background-position: -260px -120px
}

.flag_MM em {
    background-position: -280px -120px
}

.flag_NA em {
    background-position: -300px -120px
}

.flag_NR em {
    background-position: -340px -120px
}

.flag_NP em {
    background-position: -360px -120px
}

.flag_NL em {
    background-position: -400px -120px
}

.flag_AN em {
    background-position: -380px -120px
}

.flag_NZ em {
    background-position: -440px -120px
}

.flag_NI em {
    background-position: -460px -120px
}

.flag_NE em {
    background-position: -480px -120px
}

.flag_NG em {
    background-position: 0 -140px
}

.flag_NU em {
    background-position: -20px -140px
}

.flag_NF em {
    background-position: -40px -140px
}

.flag_MP em {
    background-position: -120px -140px
}

.flag_KP em {
    background-position: -80px -180px
}

.flag_NO em {
    background-position: -140px -140px
}

.flag_OM em {
    background-position: -220px -140px
}

.flag_PK em {
    background-position: -260px -140px
}

.flag_PW em {
    background-position: -280px -140px
}

.flag_PS em {
    background-position: -360px -20px
}

.flag_PA em {
    background-position: -320px -140px
}

.flag_PG em {
    background-position: -340px -140px
}

.flag_PY em {
    background-position: -360px -140px
}

.flag_PE em {
    background-position: -380px -140px
}

.flag_PH em {
    background-position: -400px -140px
}

.flag_PN em {
    background-position: -420px -140px
}

.flag_PL em {
    background-position: -440px -140px
}

.flag_PT em {
    background-position: -460px -140px
}

.flag_PR em {
    background-position: -480px -140px
}

.flag_QA em {
    background-position: 0 -160px
}

.flag_RE em {
    background-position: -220px -60px
}

.flag_RO em {
    background-position: -60px -160px
}

.flag_RU em {
    background-position: -80px -160px
}

.flag_RW em {
    background-position: -100px -160px
}

.flag_BL em,.flag_SH em {
    background-position: -360px -20px
}

.flag_KN em {
    background-position: -160px -180px
}

.flag_LC em {
    background-position: -160px -160px
}

.flag_MF em,.flag_PM em {
    background-position: -360px -20px
}

.flag_VC em {
    background-position: -180px -180px
}

.flag_WS em {
    background-position: -220px -160px
}

.flag_SM em {
    background-position: -240px -160px
}

.flag_ST em {
    background-position: -260px -160px
}

.flag_SA em {
    background-position: -280px -160px
}

.flag_SN em {
    background-position: -320px -160px
}

.flag_RS em {
    background-position: -340px -160px
}

.flag_SC em {
    background-position: -360px -160px
}

.flag_SL em {
    background-position: -380px -160px
}

.flag_SG em {
    background-position: -400px -160px
}

.flag_SK em {
    background-position: -440px -160px
}

.flag_SI em {
    background-position: -460px -160px
}

.flag_SB em {
    background-position: -480px -160px
}

.flag_SO em {
    background-position: 0 -180px
}

.flag_ZA em {
    background-position: -40px -180px
}

.flag_GS em {
    background-position: -360px -20px
}

.flag_KR em {
    background-position: -220px -220px
}

.flag_ES em {
    background-position: -120px -180px
}

.flag_LK em {
    background-position: -140px -180px
}

.flag_SD em {
    background-position: -200px -180px
}

.flag_SR em {
    background-position: -220px -180px
}

.flag_SJ em {
    background-position: -240px -180px
}

.flag_SZ em {
    background-position: -260px -180px
}

.flag_SE em {
    background-position: -280px -180px
}

.flag_CH em {
    background-position: -300px -180px
}

.flag_SY em {
    background-position: -320px -180px
}

.flag_TW em {
    background-position: -360px -180px
}

.flag_TJ em {
    background-position: -380px -180px
}

.flag_TZ em {
    background-position: -400px -180px
}

.flag_TH em {
    background-position: -420px -180px
}

.flag_TG em {
    background-position: -460px -180px
}

.flag_TK em {
    background-position: -480px -180px
}

.flag_TO em {
    background-position: 0 -200px
}

.flag_TT em {
    background-position: -20px -200px
}

.flag_TN em {
    background-position: -60px -200px
}

.flag_TR em {
    background-position: -80px -200px
}

.flag_TM em {
    background-position: -100px -200px
}

.flag_TC em {
    background-position: -120px -200px
}

.flag_TV em {
    background-position: -140px -200px
}

.flag_UG em {
    background-position: -160px -200px
}

.flag_UA em {
    background-position: -180px -200px
}

.flag_UK em {
    background-position: -260px -200px
}

.flag_AE em {
    background-position: -240px -200px
}

.flag_GB em {
    background-position: -260px -200px
}

.flag_US em {
    background-position: -320px -200px
}

.flag_UY em {
    background-position: -340px -200px
}

.flag_UM em,.flag_VI em {
    background-position: -360px -20px
}

.flag_UZ em {
    background-position: -360px -200px
}

.flag_VU em {
    background-position: -380px -200px
}

.flag_VA em {
    background-position: -400px -200px
}

.flag_VE em {
    background-position: -420px -200px
}

.flag_VN em {
    background-position: -440px -200px
}

.flag_WF em {
    background-position: -20px -220px
}

.flag_EH em {
    background-position: -40px -220px
}

.flag_YE em {
    background-position: -100px -220px
}

.flag_ZM em {
    background-position: -120px -220px
}

.flag_ZW em {
    background-position: -140px -220px
}

.flag_XB em {
    background-position: -400px -120px
}

.flag_XC em {
    background-position: -300px -40px
}

.flag_XE em {
    background-position: -400px -120px
}

.flag_XM em {
    background-position: -420px -160px
}

.flag_XY em {
    background-position: -220px -60px
}

.flag_KV em {
    background-position: -100px -100px
}

.flag_MQ em {
    background-position: -20px -120px
}

.flag_TL em {
    background-position: -160px -220px
}
.ship-log_c .dialogs_c .select_state .stock_in {
    margin-left: 10px
}
.ship-log_c .dialogs_c .newshopping_address {
    margin-top: 10px;
    background: #fff
}
.ship-log_c .dialogs_c .newshopping_address h3 {
    font-size: 16px;
    font-weight: inherit;
    color: #666
}
.ship-log_c .dialogs_c .newshopping_address .method_table_c {
    max-height: 254px;
    min-height: 110px;
    overflow-y: auto
}
.ship-log_c .dialogs_c .method_table {
    width: 100%;
    margin-top: 10px
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: transparent;
    font-size: 12px;
}
.ship-log_c .dialogs_c .method_table thead {
    height: 28px;
    line-height: 28px
}

.ship-log_c .dialogs_c .method_table thead td {
    background-color: #f5f5f5
}

.ship-log_c .dialogs_c .method_table thead tr td:first-child {
    text-align: left
}

.ship-log_c .dialogs_c .method_table td {
    text-align: center;
    border: none;
    border-bottom: 1px solid #efefef
}

.ship-log_c .dialogs_c .method_table td a {
    display: block!important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: static!important
}

.ship-log_c .dialogs_c .method_table .nth_of_td1 {
    text-align: left
}

.ship-log_c .dialogs_c .method_table .nth_of_td1 a {
    width: 150px!important
}

.ship-log_c .dialogs_c .method_table .nth_of_td2 {
    text-align: left
}

.ship-log_c .dialogs_c .method_table .nth_of_td2 a {
    width: 245px!important
}

.ship-log_c .dialogs_c .method_table .nth_of_td3 a {
    width: 140px!important
}

.ship-log_c .dialogs_c .method_table .nth_of_td4 a {
    width: 180px!important
}

.ship-log_c .dialogs_c .method_table tbody {
    padding-top: 15px
}

.ship-log_c .dialogs_c .method_table tbody tr td:first-child {
    text-align: left;
    position: relative
}

.ship-log_c .dialogs_c .method_table tbody td em,.ship-log_c .dialogs_c .method_table tbody td input {
    vertical-align: middle
}

.ship-log_c .dialogs_c .method_table tbody tr {
    position: relative;
    height: 32px;
    line-height: 32px;
    cursor: pointer
}

.ship-log_c .dialogs_c .method_table tbody tr span {
    position: relative;
    top: -1px;
    margin-right: 5px;
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border: 1px solid #6a6a6a;
    border-radius: 100px;
    vertical-align: middle
}

.ship-log_c .dialogs_c .method_table tbody tr span i {
    width: 10px;
    display: none;
    height: 10px;
    border-radius: 100px;
    background: #f60;
    margin-top: 3px
}

.ship-log_c .dialogs_c .method_table tbody tr a {
    width: 890px;
    height: 95%;
    position: absolute;
    left: 0;
    top: 0;
    display: block
}

.ship-log_c .dialogs_c .method_table tbody tr em {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-position: -4px -2px;
    background-repeat: no-repeat
}

.ship-log_c .dialogs_c .method_table tbody tr.select,.ship-log_c .dialogs_c .method_table tbody tr.select td,.ship-log_c .dialogs_c .method_table tbody tr.select td a {
    color: #f60
}

.ship-log_c .dialogs_c .method_table tbody tr.select span {
    border: 1px solid #f60
}

.ship-log_c .dialogs_c .method_table tbody tr.select span i {
    display: inline-block
}

.ship-log_c .dialogs_c .method_table tbody tr.select em {
    background-image: url(../images/select.png)!important
}

.ship-log_c .dialogs_c .method_table tbody tr.sel_b,.ship-log_c .dialogs_c .method_table tbody tr.sel_b a {
    color: #000
}

.ship-log_c .dialogs_c .method_table tbody tr.sel_b em {
    background-image: url(../images/await_select.png);
    background-position: -4px -2px
}

.ship-log_c .dialogs_c .method_table tbody tr.sel_a em {
    background-image: url(../icon/await_select.png);
    background-position: -19px -2px
}

.ship-log_c .dialogs_c .method_table tbody tr.no_a td,.ship-log_c .dialogs_c .method_table tbody tr.no_a td a,.ship-log_c .dialogs_c .method_table tbody tr.no_b td,.ship-log_c .dialogs_c .method_table tbody tr.no_b td a {
    color: #999
}

.ship-log_c .dialogs_c .method_table tbody tr.no_a span,.ship-log_c .dialogs_c .method_table tbody tr.no_b span {
    border-color: #ccc;
    background: #ccc
}

.ship-log_c .dialogs_c .method_table tbody tr.no_a em,.ship-log_c .dialogs_c .method_table tbody tr.no_b em {
    background-image: url(../icon/forbid_select.png);
    background-position: -4px -2px
}

.ship-log_c .dialogs_c .method_table tbody tr.no_a em {
    background-image: url(../icon/forbid_select.png);
    background-position: -19px -2px
}

.ship-log_c .dialogs_c .method_table tbody tr:hover,.ship-log_c .dialogs_c .method_table tbody tr:hover a {
    color: #f60
}

.ship-log_c .dialogs_c .method_table tbody tr:hover a em,.ship-log_c .dialogs_c .method_table tbody tr:hover em {
    background-image: url(../icon/select.png)!important
}

.ship-log_c .dialogs_c .method_table tbody tr.no_a:hover em {
    background: url(../icon/forbid_select.png) -19px -2px no-repeat!important
}

.ship-log_c .dialogs_c .note {
    margin-top: 20px;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%
}
#bm_dialogs_bg {
    width: 100%;
    height: 150%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    opacity: .6;
    filter: alpha(opacity:60);
    background: #000
}
.ship-log_c .dialogs_c .close_dialogs {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 18px;
    top: 18px;
    display: block;
    cursor: pointer;
    background: url(../images/icon_small.png) -140px -70px no-repeat
}
.icon-arr {
    width: 20px;
    height: 20px;
    background-image: url(../images/iconTop.png);
    background-repeat: repeat-x;
    background-position: -35px -5px;
    display: inline-block;
    vertical-align: middle
}
.ship-log_c .dialogs_c .method_table tbody tr:hover,.ship-log_c .dialogs_c .method_table tbody tr:hover a {
    color: #f60
}

.ship-log_c .dialogs_c .method_table tbody tr:hover a em,.ship-log_c .dialogs_c .method_table tbody tr:hover em {
    background-image: url(../images/select.png)!important
}

.ship-log_c .dialogs_c .method_table tbody tr.no_a:hover em {
    background: url(../images/forbid_select.png) -19px -2px no-repeat!important
}
.country_all .country_list li {
    padding-left: 10px
}

.country_all .country_list li:hover {
    background-color: #f2f2f2;
    cursor: pointer
}
.ship-log .ship-log_info .shipping b {
    color: #18aa00
}