<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
?>
<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<!doctype html>
<html lang="<?php echo $this->getLang() ?>" class="no-js">
<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass(). Mage::helper('itactica_intenso')->getStoreClass() . ' ' . Mage::helper('itactica_intenso')->formFieldsType() .'"':'' ?>>
<?php echo $this->getChildHtml('after_body_start') ?>
<div class="off-canvas-wrap">
    <div class="inner-wrap">
        <?php echo $this->getChildHtml('global_notices') ?>
        <?php echo $this->getChildHtml('header') ?>
        <?php echo $this->getChildHtml('breadcrumbs') ?>
        <div class="row main-container col3-layout">
            <div class="small-12 medium-3 large-2 col-left sidebar columns"><?php echo $this->getChildHtml('left') ?></div>
            <div class="small-12 medium-9 large-8 main columns">
                <?php echo $this->getChildHtml('global_messages') ?>
                <?php echo $this->getChildHtml('content') ?>
            </div>
            <div class="small-12 medium-12 large-2 col-right sidebar columns"><?php echo $this->getChildHtml('right') ?></div>
        </div>
        <?php echo $this->getChildHtml('footer') ?>
        <?php echo $this->getChildHtml('global_cookie_notice') ?>
        <?php echo $this->getAbsoluteFooter() ?>
        <a class="exit-off-canvas"></a>
    </div><!-- /inner-wrap -->
</div><!-- /off-canvas-wrap -->
<div class="loading-bar"></div>
<?php echo $this->getChildHtml('before_body_end') ?>
</body>
</html>
