<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
?>
<?php
$_product = $this->getProduct();
$_description = $_product->getDescription();
$_attributes = new Mage_Catalog_Block_Product_View_Attributes();
$_attributes->setProduct($_product->getId());
$_additional = $_attributes->getAdditionalData();
$_customInfo = Mage::getModel('cms/block')->getCollection()->addStoreFilter(Mage::app()->getStore()->getId(), true)->addFieldToFilter('identifier', 'product_view_block_3')->getFirstItem();
$themeHelper = Mage::helper('itactica_intenso');
?>
<div class="magellan-nav" data-options="destination_threshold:65;throttle_delay:0;" data-magellan-expedition="fixed" id="magellan-nav">
    <dl class="sub-nav">
        <?php if ($_description): ?>
            <dt>&nbsp;</dt>
            <dd data-magellan-arrival="product-description" class="active"><a href="#" data-link="#product-description"><?php echo $this->__('Overview'); ?></a></dd>
        <?php endif; ?>
        <?php if ($_additional): ?>
            <dt>&nbsp;</dt>
            <dd data-magellan-arrival="additional-info"><a href="#" data-link="#additional-info" ><?php echo $this->__('Tech Specs'); ?></a></dd>
        <?php endif; ?>
        <?php if ($_customInfo->getIsActive()): ?>
            <dt>&nbsp;</dt>
            <dd data-magellan-arrival="custom-info"><a href="#"  data-link="#custom-info"><?php echo $this->__('Custom Info'); ?></a></dd>
        <?php endif; ?>
        <?php if (Mage::helper('core')->isModuleOutputEnabled('Mage_Review') &&
            Mage::helper('core')->isModuleOutputEnabled('Itactica_ExtendedReviews')): ?>
            <dt>&nbsp;</dt>
            <dd data-magellan-arrival="ratings-reviews"><a href="#" data-link="#ratings-reviews"><?php echo $this->__('Reviews'); ?></a></dd>
        <?php endif; ?>
        	<dt>&nbsp;</dt>
            <dd data-magellan-arrival="ratings-reviews"><a href="#" data-link="#accordion"><?php echo $this->__('FAQ'); ?></a></dd>
    </dl>
</div>
<script>
	jQuery(function(){
		if(!$j("div[class*= 'product.faq.tab']")[0]){
			$j("a[data-link='#accordion']").parent().remove();
	     }
		if(!$j("div[class*= 'ratings-reviews']")[0]){
			$j("a[data-link='#ratings-reviews']").parent().remove();
	     }
		if(!$j("div[class*= 'additional']")[0]){
			$j("a[data-link='#additional-info']").parent().remove();
	     }
		if(!$j("div[class*= 'description']")[0]){
			$j("a[data-link='#product-description']").parent().remove();
	     }	


		});
</script>