<?php 
    $coupons = $this->getCoupons();  
?>
<script> var couponObjs = JSON.parse('<?php echo $coupons; ?>');console.log(couponObjs);</script>
<style>
#personCouponList ul{
	list-style:none;
	padding: 0;
    margin: 0;
}
#personCouponList .use-coupons-list-container {
    padding: 0 10px;
    background: #fff
}

#personCouponList .use-coupons-list-container ul li {
    border-bottom: 1px solid #DDD;
    padding: 25px 10px;
    
}
#personCouponList .use-coupons-list-container > ul > li{
	height: 170px;
    background-color: antiquewhite;
}
#personCouponList .use-coupons-coupon,.use-coupons-details {
    float: left
}

#personCouponList .use-coupons-info-item {
    width: 240px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #EEE;
    text-align: center
}

#personCouponList .use-coupons-info-price {
    width: 240px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-radius: 5px 5px 0 0;
    display: block;
    color: #fff;
    font-size: 7px;
    padding: 12px 0;
    min-height: 30px
}

#personCouponList .use-coupons-info-lang-price {
    font-size: 28px;
    line-height: 0.9;
    vertical-align: middle;
}
#personCouponList .addition{
    font-size: 14px;
    color: #43437d;
    font-style: italic;
    font-weight: bold;
}

#personCouponList .use-coupons-info-type {
    height: 33px;
    background: #EEE url(/ae-coupon-ui/buyer/coupon/src/img/coupon-list-ae-73x18.105ded4a.png) no-repeat 8px 8px;
    display: block;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-radius: 0 0 5px 5px
}

#personCouponList .use-coupons-expired .use-coupons-info-item,.use-coupons-expired .use-coupons-info-price,.use-coupons-list-seller .use-coupons-expired .use-coupons-info-item,.use-coupons-list-seller .use-coupons-expired .use-coupons-info-price {
    background: url(/ae-coupon-ui/buyer/coupon/src/img/expired-coupon.ab254d9e.png) no-repeat top left;
    padding: 5px 0 15px 0
}

#personCouponList .use-coupons-expired .use-coupons-info-type {
    background: #EEE url(/ae-coupon-ui/buyer/coupon/src/img/coupon-list-ae-expired-73x19.285d7ebd.png) no-repeat 8px 8px
}

#personCouponList .use-coupons-mobile .use-coupons-info-type {
    background: #EEE url(/ae-coupon-ui/buyer/coupon/src/img/coupon-list-ae-mobile-223x19.72d4a107.png) no-repeat 8px 8px
}

#personCouponList .use-coupons-details ul {
    padding-left: 25px
}

#personCouponList .use-coupons-details ul li {
    border: none;
    padding: 1px 0 0 0;
    line-height: 2
}

#personCouponList .use-coupons-details-items {
    color: #999;
    display: inline-block;
    width: 110px;
    text-align: right;
    margin-right: 5px
}

#personCouponList .use-coupons-details-action {
    padding: 10px 0 0 10px
}

#personCouponList .use-coupons-details-expired .use-coupons-details-items,.use-coupons-details-used .use-coupons-details-items,.use-coupons-details-used .use-coupons-details-used-num,.use-coupons-details-used .use-coupons-details-used-order,.use-coupons-details-valid .use-coupons-details-items {
    font-size: 14px;
    font-weight: 700
}

#personCouponList .use-coupons-details-valid .use-coupons-details-items {
    color: #090
}

#personCouponList .use-coupons-details-used .use-coupons-details-items {
    color: #000
}

#personCouponList .use-coupons-details-used .use-coupons-details-used-num {
    color: #06c
}

#personCouponList .use-coupons-details-used .use-coupons-details-used-order {
    color: #999
}

#personCouponList .use-coupons-details-expired .use-coupons-details-items {
    color: #999
}

#personCouponList .use-coupons-expired.use-coupons-mobile .use-coupons-info-type {
    background: #EEE url(/ae-coupon-ui/buyer/coupon/src/img/coupon-list-ae-mobile-223x19-expired.f2c8fa56.png) no-repeat 8px 8px
}

#personCouponList .coupon-valid-status {
    color: #090;
    margin-right: 10px
}

#personCouponList .use-coupons-details-used-num-list .use-coupons-details-used-num {
    float: none;
    display: block
}

#personCouponList .use-coupons-details-used-num {
    display: inline-block
}
#personCouponList .use-coupons-info-item-aliexpress {
    background: url("<?php echo $this->getSkinUrl('images/coupon_3.png')?>") no-repeat top left;
    padding: 5px 0 15px 0
}
#personCouponList .use-link-button-show {
    background: #e62e04;
    color: #fff;
    font-size: 10px;
    padding: 3px 2px;
    border: 2px #e62e04 solid;
    margin: 0 auto;
    border-radius: 4px;
}

</style>
<div class="box-title">            <h2><?php echo $this->__('My Coupon');?></h2>                    
</div>
<div class="box-content">
  <div class="table-wrap" id="personCouponList">             
      
      <div class="use-coupons-list-container">
			<ul class="coupon-ul"> 
				<!--  <li class="clearfix" couponid="1139327920">
					<div class="use-coupons-coupon">
						<div class="use-coupons-info-item use-coupons-info-item-aliexpress">
							<span class="use-coupons-info-price">
							<span class="use-coupons-info-lang-limit">Your order of US $ 750.00 or more</span><br>
							<span class="use-coupons-info-lang-price">US $ 50.00 Off</span>
							</span>
						</div>
					</div>
					<div class="use-coupons-details">
						<ul class="coupon-ul">
							<li><span class="use-coupons-details-items">Validity period:</span>
							06 Jul,2017 00:18:29 PDT ~ 16 Jul,2017 00:18:29 PDT
							</li>
							<li><span class="use-coupons-details-items">Coupon Name: </span>New User 0706</li>
							<li><span class="use-coupons-details-items">Restrictions: </span><span style="color:#999;font-weight:bold;">non-refundable</span></li>
							<li><span class="use-coupons-details-items">Coupon status:  </span>
							<b class="coupon-valid-status">Valid Now</b>
							<a target="_blank" href="//www.aliexpress.com/ " class=" use-link-button-show "><span class="use-link-button-show">SEE MORE DEALS</span></a>
							</li>
						</ul>						
					</div>
				</li>
				 -->
				 
			</ul>
	</div>
      
        
<!--  <script type="text/javascript">decorateTable('my-coupons-table');</script> -->     
    <div class="wrapper">    
      <div class="loading" style="position: fixed;top: 50%;left: 50%;margin-top: -50px;">
      </div>
    </div> 
  </div>	
  <div class="fieldset">		
    <div class="buttons-set">		    
      <p class="back-link"><a href="<?php echo $this->getUrl('customer/account') ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>		
    </div>	
  </div>
</div>
<!--  --><script>
(function($){
    window.getNowtimeOfUtc = function(date){
			var arr = date.toUTCString().split(" ");
			var map = {
			    "Jan":"1",
			    "Feb" :"2",
			    "Mar":"3", 
			    "Apr":"4",
			    "May":"5",
			    "Jun":"6",
			    "Jul":"7",
			    "Aug":"8",
			    "Sep":"9",
			    "Oct":"10",
			    "Nov":"11",
			    "Dec":"12"
			};
			var timeStr = arr[3]+"-"+map[arr[2]]+"-"+arr[1]+" "+arr[4]+"+0000";
			var times = new Date(timeStr).getTime();
			return times;
	};
	var couponListHtml = "";
	var _couponObjs = couponObjs || {};
	var ruIdMap = {
			"103":"/irulu-geoking-max-smartphone-g36.html"
			};
    var russion = "<?php echo Mage::app()->getStore()->getCode() ?>";
    console.log("russion:"+russion)
    /*if(russion == "ru"){
        ruIdMap = {
            "31":"/irulu-expro-5-tablet-x5.html",
	        "32":"/irulu-expro-5-s-tablet-x5-s.html",
            "33":"/irulu-expro-6-phablet-x6.html" 
        }
    }*/
	var now = getNowtimeOfUtc(new Date());
	for(var key in _couponObjs){
		if(_couponObjs.hasOwnProperty(key)){
			var coupon = _couponObjs[key];
			var href = ruIdMap[coupon.rule_id] || "#";
			//var couponValidStart = new Date(coupon.from_date);
            var couponValidStart = new Date("2017-12-11 00:00:00+000");
			console.log(coupon);
			console.log(couponValidStart);
			//var couponValidEnd = new Date(coupon.to_date);
            var couponValidEnd = new Date("2017-12-31 23:59:59+0000");
			console.log(couponValidEnd);
			var couponStatus = "<?php echo $this->__('Valid Now')?>";
			
			if(coupon.times_used == 1 ){//(now - couponValidStart.getTime()) <= 0 || (couponValidEnd.getTime() - now) <= 0)
                console.log("invalid");
				couponStatus = "<?php echo $this->__('Invalid')?>";
				}
			var couponPriceText = coupon.discount_amount ? ("$"+parseInt(coupon.discount_amount)) : "" ;//coupon.description && coupon.description.match(/\$\d+/) ? coupon.description.match(/\$\d+/)[0] : "";
			couponListHtml += '<li class="clearfix" >'+
								'<div class="use-coupons-coupon">'+
									'<div class="use-coupons-info-item use-coupons-info-item-aliexpress">'+
										'<span class="use-coupons-info-price">'+
										 	'<span class="use-coupons-info-lang-price">US '+couponPriceText+' Off<br><span class="addition">'+coupon.description+'</span></span>'+
										 '</span>'+
									 '</div>'+
								'</div>'+
								'<div class="use-coupons-details">'+
									'<ul class="coupon-ul">'+
										//'<li><span class="use-coupons-details-items">Validity period:</span>'+
										//'UTC Dec 11th - Dec 31th'+
										//'</li>'+
										//'<li><span class="use-coupons-details-items">Can be used on: </span><a target="_blank" href="'+href+'" class=" use-link-button-show "><span class="use-link-button-show">SEE DEALS</span></a></li>'+
										'<li><span class="use-coupons-details-items">Coupon Code: </span>'+_couponObjs[key].code+'</li>'+//_couponObjs[key].code
										'<li><span class="use-coupons-details-items">Coupon status:  </span>'+
											 '<b class="coupon-valid-status">'+couponStatus+'</b>'+
										'</li>'+
									'</ul>'+						
								'</div>'+
							'</li>';
			}
	}
	console.log("couponListHtml:");
	console.log(couponListHtml);
	$(".use-coupons-list-container > ul").append(couponListHtml);
})(jQuery)
</script>