<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */

/**
 * Product additional attributes template
 *@Tech Specs
 * @see Mage_Catalog_Block_Product_View_Attributes
 */
?>
<?php
    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct()
?>
<style>
        .section_xml_v1_parameter *{
            margin:0;
            padding:0;
        }
        .section_xml_v1_parameter{
            width:50%;
            font-family: Arial, Helvetica, sans-serif!important;
            font-size: 12px;
        }

        @media screen and (min-width: 768px){
            .xml_v1_parameter{
                margin-top: 25px;
                margin-bottom: 30px;
            }
            .xml_v1_parameter > p:first-child {
                    float: left;
                    display: block;
                    font-size: 16px;
                    width: 256px;
                    padding-left: 5px;
                    box-sizing: border-box;
            }
             .xml_v1_parameter > p:last-child {
                float: left;
                display: block;
                font-size: 12px;
                width: calc(100% - 256px);
            }
            .xml_v1_parameter:before {
                content: ".";
                font-size: 0px;
                display: block;
                height: 1px;
                background-color: #EAEAE8;
                margin-bottom: 25px;
            }
            .xml_v1_parameter:after {
                content: ".";
                font-size: 0;
                display: block;
                height: 0;
                clear: both;
            }
        }

        .xml_v1_parameter > p:first-child {
            font-size: 14px;
            font-weight: bold;
            white-space: inherit;
            word-wrap: break-word;
            overflow: hidden;
        }
        
         
		.xml_v1_parameter .mes{
			width: calc(100% - 256px);
			margin-left: 256px;
		}
    </style>
<?php if($_additional = $this->getAdditionalData()): ?>
    <p data-magellan-destination="additional-info"><a id="additional-info"></a></p> 
    <h3><?php echo $this->__('Additional Information') ?></h3>
    <div class="small-12 columns">
        <!-- <table class="data-table" id="product-attribute-specs-table">
            <col />
            <col />
            <tbody>
            <?php foreach ($_additional as $_data): ?>
                <tr>
                    <th class="label"><?php echo $this->escapeHtml($this->__($_data['label'])) ?></th>
                    <td class="data"><?php echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table> -->
        <div class="section_xml_v1_parameter">

                    <?php foreach ($_additional as $_data): ?>
                        <div class="xml_v1_parameter">
                            <p><?php echo $this->escapeHtml($this->__($_data['label'])) ?></p>
                            <div class="mes">
                            	<p><?php echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?></p>
                            </div>
                        </div>
                    <?php endforeach; ?>  
                     
        </div>
    </div>
    <script type="text/javascript">decorateTable('product-attribute-specs-table')</script>
<?php endif;?>
