<?php
/**
 * coupon template
 *
 * @see Mage_Catalog_Block_Product_View_Coupon
 */
?>
<script>console.log("$this->getCoupon():"+<?php echo $this->getCoupon()?>)</script>
<script>console.log(<?php echo $this->getCoupon()?>)</script>
<?php if( $this->getCoupon() ): ?>
		<!-- time countdown -->
	    
		
		<!-- coupon 
	    <div   class="productCoupon hidden">
	      <div class="text">US$30</div>
	      <div><img src="<?php echo Mage::getDesign()->getSkinUrl('images/coupon_1.jpg'); ?>"/>11</div>
	    </div>-->
	    
    <script type="text/javascript"> var couponObj = JSON.parse('<?php echo $this->getCoupon(); ?>');console.log(couponObj);
    (function($,window,document){
     var couponMap = {
				"131": "AGM10",
				"103":"g36deals",
				"211":"p6en",
				"217":"p6de",
				"185":"X9PRO",
				"186":"X30",
				"224":"Y57EN",
				"226":"Y57DE"
    	     }
     var priceMap = {
    		 	"131": "US$10",
				"103":"US$30",
				"211":"US$30",
				"217":"€30",
				"185":"US$16.71",
				"186":"US$14.76",
				"224":"US$10",
				"226":"€8.51"
    	     }   
    var couponsHtml = "";
	for(var key in couponObj){
			if(couponObj.hasOwnProperty(key)){
				//var couponPriceText = couponObj[key].description.match(/\$\d+/) ? couponObj[key].description.match(/\$\d+/)[0] : "";
				 
				if(couponObj[key].rule_id == 103){
					couponsHtml +="<div class='shipfrom'>*Ship from USA, 5-8 days shipping</div>";
				}
				couponsHtml += "<div   class='productCoupon' data-descripton='"+couponObj[key].description+"' ruleId='"+couponObj[key].rule_id+"'>"+
								"<div class='text'>"+priceMap[couponObj[key].rule_id]+"</div>";
				if(couponObj[key].rule_id == 103){
					couponsHtml += "<div class='text subtext'>Oct.20th-Oct.31th</div>";
				};				
				couponsHtml +=	"<div><img src='<?php echo Mage::getDesign()->getSkinUrl('images/coupon_5.jpg'); ?>'/></div>"+
								"<div class='lasttext'><?php echo $this->__('Coupon');?>: "+couponMap[couponObj[key].rule_id]+"</div>"+
								"</div>";
				}	
		};
		setTimeout(function(){
			$("#showtime").before(couponsHtml);
		},500);
 
    })(jQuery,window,document);
    </script>

    

    
<?php endif; ?>
