<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */

/**
 * Product description template
 *
 * @see Mage_Catalog_Block_Product_View_Description
 */
?>
<?php $_description = $this->getProduct()->getDescription(); ?>
<?php if ($_description): ?>
	<p data-magellan-destination="product-description"><a id="product-description"></a></p>
	<?php if (Mage::getModel('cms/block')->setStoreId(Mage::app()->getStore()->getId())->load('product_view_block_2')->getIsActive()): ?>
	<div class="product-description-static-block hide-for-small-only columns">
            <?php echo $this->getChildHtml('product_view_block_2') ?>
	</div>
	<?php endif; ?>
	<div class="product-description">
		<!-- 2017.06.04 -->
		<!--
		<h3><?php echo $this->__('Product Description') ?></h3>
		-->

		<!-- 2017.06.14 start -->
		<!-- Place Online Video embeded code here -->
		<?php $_video = $this->getProduct()->getVideo(); ?>

		<?php if ($_video): ?>
		    <div class="product-video">
			<div itemprop="video"><?php echo $this->helper('catalog/output')->productAttribute($this->getProduct(), $_video, 'video') ?></div>
		    </div>
		<?php endif; ?>
		<!-- 2017.06.14 end -->

		<div itemprop="description"><?php echo $this->helper('catalog/output')->productAttribute($this->getProduct(), $_description, 'description') ?></div>
	</div>
<?php endif; ?>
