 <?php
/**
 *  
 *
 * @category    design
 * @package     intenso_allandnet
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */

 
?>
 <?php $_product = $this->getProduct(); ?>
 <?php $_helper = $this->helper('catalog/output'); ?>
<?php $_wishlistSubmitUrl = $this->helper('wishlist')->getAddUrl($_product); ?>
<?php
    $_store = Mage::app()->getStore();
    $preorder = $_product->getData('preorder');
    $preorder_date_start = $_product->getData('preorder_date_start');
    $preorder_date_end = $_product->getData('preorder_date_end');
    $preorder_date_dispatch = $_product->getData('preorder_date_dispatch');

    if ($preorder && Mage::app()->getLocale()->isStoreDateInInterval($_store, $preorder_date_start, $preorder_date_dispatch)){
        $buttonTitle = $this->__('Preorder');
    }elseif($_product->isAvailable() != 1){
    	$buttonTitle = $this->__('Out of stock');
    }
    else {
        $buttonTitle = $this->__('Add to Cart');
    }
?>



  <div class="count">
      <div>Quantity:</div>
      <div style="user-select: none;">
        <div class="reduce">-</div>
        <div><input value="1" id="qty" name="qty"/></div>
        <div class="add">+</div>
      </div>
    </div>
  
  <div class="order_confrim">
      <div class="hidden"><div class="arrow"></div>88</div>
      <div class="gobuy"><div></div><span><?php echo $buttonTitle ?></span></div>


	  <span id="fmp_name" itemprop="name" class="hidden"><?php
		  echo $_helper->productAttribute($_product, $_product->getName(), 'name');
		  ?>
	  </span>

	  <span id="fmp_sku" class="hidden">
		  <?php echo $_product->getSku(); ?>
	  </span>
      
      
      <a href="<?php echo $_wishlistSubmitUrl ?>" onclick="productAddToCartForm.submitLight(this, this.href); return false;">
      <div class="addlove" style="margin-top: 10px;">
      		<div></div><span>Add to Favorites</span>
      </div>
      </a>
  </div>
  
  <div id="right-payicons">
		<div class="scure">
			<div class="fir" data-reveal-id="couponModal"></div><div class="sec"></div>
		</div>
		<div class="paymethods" >
			<img id="doclick" src="<?php echo Mage::getDesign()->getSkinUrl('images/payment4.png');?>" />
		</div>
  </div>

<script>

/*	function addtocart() {
		var fmp_sku = document.getElementById("fmp_sku").innerHTML;
		var fmp_name = document.getElementById("fmp_name").innerHTML;

		!function(w,o,s,r,p,k,e){if(w.mkq){return}p=w.mkq=function()
		{p.invokeFunc?p.invokeFunc.apply(p,arguments):p.qu.push(arguments)};if(!w._mkq){w._mkq=p}p.push=p;p.qu=[];k=o.createElement(s);k.async=!0;k.src=r;e=o.getElementsByTagName(s)[0];e.parentNode.insertBefore(k,e)}(window,document,"script","//pixeltrack.clientgear.com/mkq.min.js");
		uid?mkq('init', '101119263398094',uid): mkq('init', '101119263398094');

		//购物车
		mkq('track','AddToCart',{
			content_name: fmp_name,
			content_ids: fmp_sku,
			content_type: 'product'
					value: '',
			 currency: ''
		});
	}*/



(function($,window,document){
	/*var enhtml= '<div id="couponModal" class="reveal-modal small" data-reveal>'+
				'</div>';
	var successContent = "<h3 class='ui-window-title'>Coupons!</h1>"+
						"<div class='ui-feedback-content ui-feedback-success'><h3 class='ui-feedback-header'>You got this coupon!</h3><div class='ui-feedback-body '>This US $ 5 coupon can only be used in this seller's store. The coupon is valid until 10 Jul,2017 23:59:00</div></div>"+
						"<div><input type='button' class='ui-button-primary' value='Use Coupon Now'/><a style='margin-left: 40px;'>View My Coupons</a></div>"+
	  					"<a class='close-reveal-modal'>&times;</a>";
	var getCouponAlreadyContent = 	"<h3 class='ui-window-title'>Coupons!</h1>"+
									"<div class='ui-feedback-content ui-feedback-error'><h3 class='ui-feedback-header'>Sorry! Something went wrong.</h3><div class='ui-feedback-body '>You already have this coupon.</div></div>"+
									"<div><input type='button' class='ui-button-primary' value='Go Back'/><a style='margin-left: 40px;'>View My Coupons</a></div>"+
									"<a class='close-reveal-modal'>&times;</a>";
 		$("body").append(enhtml);
 		
		$("#doclick").click(function(){
          $.ajax({
        	  url:"<?php echo $this->getSkinUrl('js/json/getcoupon.json')?>",
			  success:function(data){
				  if(typeof data != "object" || data == ""){
						return ;
					  }
					if(data.status == "1"){//success
							$("#couponModal").empty().append(successContent);
							$("#couponModal").foundation("reveal","open");
						}
					else if(data.status == "0"){//already get coupon!
						$("#couponModal").empty().append(getCouponAlreadyContent);
						$("#couponModal").foundation("reveal","open");
						}
					else if(data.status == "2"){//failed
						$("#couponModal").empty().append(getCouponAlreadyContent);
						$(".ui-feedback-body").html("Please try again later!");
						$("#couponModal").foundation("reveal","open");
						}
				  }

              })
      });*/
		
})(jQuery,window,document);

</script>
   