 <?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */

/**
 * Product media data template
 *
 * @see Mage_Catalog_Block_Product_View_Media
 */
?>
 
   
    <!-- <div class="chooseColor">
      <div>Color:</div>
      <div>
        <div class="pic" > 
        	<img src="<?php echo Mage::getDesign()->getSkinUrl('images/pd_color1.png');?>"/>
        </div>
        <div class="pic" >
        	<img src="<?php echo Mage::getDesign()->getSkinUrl('images/pd_color1.png');?>" />
        </div>
         
      </div>
    </div>-->

    
    <!--<div style="height:82px;">
	    <div class="time-item">		
			<ul>
				<li id="day_show">0</li>
		
				<li id="hour_show">0</li>
			
				<li id="minute_show">0</li>
			
				<li id="second_show">0</li>
			</ul>	
		</div>
	</div>
      <div style="margin: 50px auto;">
      <div><img src="<?php echo Mage::getDesign()->getSkinUrl('images/coupon_1.jpg'); ?>"/></div>
    </div>-->

<script>
 
</script>    
