 <?php
/**
 *  
 *
 * @category    design
 * @package     intenso_allandnet
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */

 
?>
 <?php 
    $_product = $this->getProduct();
    $price = $_product->getPrice() ;
    $final_price = $_product->getFinalPrice() ;
    $saved = $price  -  $final_price;
    $discount = round( ($saved / $price)*100, 0 );
?> 	
  <div class="review hidden" >
      <div><span>item#:</span><span>UC009</span></div>
      <div style="position: relative;" class="hidden">
        <div class="rating-box"  >
            <div class="rating" >
            </div>
        </div>
        <div ><span>4.9 (86 Reviews)</span></div>
      </div>
  </div>

<!-- <div id="showtime">
      <ul>
        <li>
          <div style="background-image: url('<?php echo Mage::getDesign()->getSkinUrl('images/pd_battery.png');?>');background-repeat: no-repeat;"></div>
          <div>
            <div>Fight time</div>
            <div>25-27 MINS</div>
          </div>
        </li>
        <li>
          <div style="background-image: url('<?php echo Mage::getDesign()->getSkinUrl('images/pd_range.png');?>');background-repeat: no-repeat;"></div>
          <div>
            <div>Control range</div>
            <div>7 KM</div>
          </div>
        </li>
        <li>
          <div style="background-image: url('<?php echo Mage::getDesign()->getSkinUrl('images/pd_speed.png');?>');background-repeat: no-repeat;"></div>
          <div>
            <div>Speed</div>
            <div>94 KM/H</div>
          </div>
        </li>
        <li>
          <div style="background-image: url('<?php echo Mage::getDesign()->getSkinUrl('images/pd_video.png');?>');background-repeat: no-repeat;"></div>
          <div>
            <div>Video resolution</div>
            <div>5.2K/4K</div>
          </div>
        </li>
        <li>
          <div style="background-image: url('<?php echo Mage::getDesign()->getSkinUrl('images/pd_sensory.png');?>');background-repeat: no-repeat;"></div>
          <div>
            <div>Sensory range</div>
            <div>30M</div>
          </div>
        </li>
        <li>
          <div style="background-image: url('<?php echo Mage::getDesign()->getSkinUrl('images/pd_live.png');?>');background-repeat: no-repeat;"></div>
          <div>
            <div>Live view</div>
            <div>1080P</div>
          </div>
        </li>

         
      </ul>
</div> -->
    

  <div class="pricedata">
      <div class="one hidden">
          <span>MSRP:</span><span style="text-decoration: line-through;">
           <?php echo $this->helper('core')->currency($_product->getMsrp(),true,true); ?>
          </span>
      </div>
      <div class="two">
        <div class="pre">
            <span>Price:</span>
            <span id="price"><?php echo $this->getPriceHtml($_product);?></span>
            			<?php if($_product->getWeight() && $_product->getWeight() - 2000 < 0): ?>
                        <span class="freeshipping"><?php echo $this->__("FREE Shipping") ?></span>
                        <?php endif;?>
            
        </div>
        <?php if($_product->getSpecialPrice() > 0): ?>
        	<div class="dsss hidden"></div>
        <?php endif;?>
          <span id="fmp_price" class="hidden">
              <?php
              $pricestr = $this->getPriceHtml($_product);
                echo substr(trim(strip_tags($pricestr)),1);
              ?>
          </span>
         
         
        		
         
      </div>
  </div>
  <!-- <?php if ($_product->getExtra()):?>
    <div id="showtime" >
    
        <?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getExtra(), 'extra') ?>
    </div>
<?php endif;?> --> 