<style>
#formcontent{
	margin: 50px auto 0 260px;
    max-width: 1200px;
    position: relative;
	min-height: 300px;
}
#formcontent .chosen-container{
	margin-bottom:1rem;
}
#formcontent .errortip{
	white-space: normal;
    background: #FFF!important;
    border: 1px solid #E0B4B4!important;
    color: #9F3A38!important;
    border-radius: .28571429rem;
    text-transform: none;
    font-weight: 400;
    line-height: 1;
    vertical-align: baseline;
    margin: 0 .14285714em;
	display: inline-block;
	padding-top: 0.5833em;
    padding-right: 0.833em;
    padding-bottom: 0.5833em;
    padding-left: 0.833em;
	position: relative;
}
#formcontent .errortip:before{
	background-color: inherit;
    border-style: solid;
    border-color: inherit;
    position: absolute;
    content: '';
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-image: none;
    z-index: 2;
    width: .6666em;
    height: .6666em;
    -webkit-transition: background .1s ease;
    transition: background .1s ease;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    top: 0;
    left: 50%;
    border-width: 1px 0 0 1px;
}
#formcontent input:focus,#formcontent textarea:focus{
	border-color: blue;
    border-color: cornflowerblue;
}
#formcontent .menu{
	position: absolute;
    left: -220px;
}
#formcontent i.must{
	color: red;
    padding: 5px;
}
#formcontent .menu ul{
	list-style:none;
	margin: 0;
    padding: 0;
}
#formcontent .menu ul li{
	padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 22px;
    font-weight: 600;
	margin-bottom: 20px;
	cursor:pointer;
}
#formcontent .menu ul li:hover{
	color:#00a990;
}
#formcontent .menu ul li.active{
	border-bottom: 2px solid #00a990;
}
#formcontent .top{
	font-size: 20px;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
	cursor: pointer;
	background-color: beige;
	height: 40px;
}
#formcontent .begin{
	line-height: 40px;
	margin-left: 10px;
}
#formcontent .end{
	position: absolute;
    right: 65px;
	font-size: 18px;
	line-height: 40px;
}
#formcontent .bottom form > div{
	width: 45%;
    display: inline-block;
	height: auto;
	margin-bottom: 20px;
	vertical-align: top;
}
#formcontent .bottom .textarea{
	display:block;
	height: auto;
	width: 100%;
}
#formcontent .bottom .textarea textarea{
	width:82%;
	resize:vertical;
	height: 100px;
    border-radius: 5px;
}
#formcontent .bottom .text{
	display:block;
	height: 25px;
}
#formcontent .bottom input{
	height: 40px;
    border-radius: 5px;
	width: 80%;
}
#formcontent .bottom .button{
	width: 150px;
    display: block;
    margin: 0 auto;
}
#formcontent button{
	display: block;
	margin: 50px auto 0;
    width: 150px;
}
 
/*#formcontent .icon{
	 width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid blue;
	margin-right: 37px;
	margin-top: 5px;
	float:right;
}*/
#formcontent .icon{
    width:40px;
	height:40px;
	background:url('<?php echo Mage::getDesign()->getSkinUrl('images/more_40x40.png');?>') no-repeat;
	float:right;
	margin-right: 15px;
	transition: all 0.5s;
}
#formcontent .rotate{
	transform: rotate(90deg);
}

#formcontent .code{
	display: inline-block;
}

#formcontent .validatecode{
	display: inline-block;
    width: 150px;
    height: 30px;
    vertical-align: bottom;
	background-color: antiquewhite;
	margin-bottom: 5px;
	cursor: pointer;
	user-select: none;
}
#formcontent .validatecode span{
	margin:0 12px;
	display: inline-block;
	line-height: 30px;
}
#formcontent .validatecode span:first-child{
	transform: rotate(30deg);
}
#formcontent .validatecode span:last-child{
	transform: rotate(-20deg);
}
@media only screen and (max-width:64em){
	#formcontent{
		margin: 0 auto;
	}
	#formcontent .menu{
		position: static;
		height: 70px;
	}
	#formcontent .bottom form > div{
		width: 100%;
	}
	#formcontent .bottom .textarea textarea{
		width: 100%;
	}
	#formcontent .menu ul li{
		float: left;
		width: 30%;
		margin: 0 3px;
	}
	#formcontent .bottom .text{
		margin-left: 10px;
	}
}

</style>

<div id="formcontent">
	<div class="menu">
		<ul>
			<li class="active"><?php echo $this->__('Wholesale')?></li>
			<li><?php echo $this->__('Dropship')?></li>
			<li><?php echo $this->__('Distributor')?></li>
		</ul>
	</div>
    <div id="wholesale">
		<div class="one">
			<div class="top">
				<span class="begin"><?php echo $this->__('Wholesale')?></span>
				<span class="end"><?php echo $this->__('Know More')?></span>
				<span class="icon"></span>
			</div>
			<div class="bottom">
				<p><?php echo $this->__('Thanks for your interests in iRULU products. If you want to be our retailer or distributor in your market, The initial MOQ is 30pcs (combining items/SKU, colors, etc. is acceptable).')?></p>
				<p>
					<?php echo $this->__('If you need further communication, our Marketing Department is available by filling out the online below. Please concern the link of the item that you are interested in, and the quantity, as well as the shipping address in your email,you will get our prompt reply within one business day.')?>
				</p>
				<p>
					<?php echo $this->__('You can email us')?><a style="color: #00a990;" href="mailto:wholesale@irulu.com"><?php echo $this->__(' wholesale#irulu.com ')?></a><?php echo $this->__('for more help')?>
				</p>
			</div>
		</div>
		<div class="two">
			<div class="top">
				<span class="begin"><?php echo $this->__('Fill out the online form')?></span>
				<span class="end"><?php echo $this->__('Form')?></span>
				<span class="icon"></span>
			</div>
			<div class="bottom">
				<form id="wholesaleform">
					<div>
						<span class="text"><?php echo $this->__('Contact Name')?><i class="must">*</i></span>
						<input type="text" required="required" name="name"/>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Country')?><i class="must">*</i></span>
					    <select name="country"  class="js-display country chosen-select"   ><option value=""><?php echo $this->__('Please Select')?></option>  <!-- 循环国家名称开始 --> <option value="United States">United States</option><option value="Canada">Canada</option><option value="United Kingdom">United Kingdom</option><option value="Spain">Spain</option><option value="Germany">Germany</option><option value="France">France</option><option value="Italy">Italy</option><option value="Japan">Japan</option><option value="Afghanistan">Afghanistan</option><option value="Åland Islands">Åland Islands</option><option value="Albania">Albania</option><option value="Algeria">Algeria</option><option value="Andorra">Andorra</option><option value="Angola">Angola</option><option value="Anguilla">Anguilla</option><option value="Antarctica">Antarctica</option><option value="Antigua and Barbuda">Antigua and Barbuda</option><option value="Argentina">Argentina</option><option value="Armenia">Armenia</option><option value="Aruba">Aruba</option><option value="Australia">Australia</option><option value="Austria">Austria</option><option value="Azerbaijan">Azerbaijan</option><option value="Bahamas">Bahamas</option><option value="Bahrain">Bahrain</option><option value="Bangladesh">Bangladesh</option><option value="Barbados">Barbados</option><option value="Belarus">Belarus</option><option value="Belgium">Belgium</option><option value="Belau">Belau</option><option value="Belize">Belize</option><option value="Benin">Benin</option><option value="Bermuda">Bermuda</option><option value="Bhutan">Bhutan</option><option value="Bolivia">Bolivia</option><option value="Bonaire, Saint Eustatius and Saba">Bonaire, Saint Eustatius and Saba</option><option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option><option value="Botswana">Botswana</option><option value="Bouvet Island">Bouvet Island</option><option value="Brazil">Brazil</option><option value="British Indian Ocean Territory">British Indian Ocean Territory</option><option value="British Virgin Islands">British Virgin Islands</option><option value="Brunei">Brunei</option><option value="Bulgaria">Bulgaria</option><option value="Burkina Faso">Burkina Faso</option><option value="Burundi">Burundi</option><option value="Cambodia">Cambodia</option><option value="Cameroon">Cameroon</option><option value="Cape Verde">Cape Verde</option><option value="Cayman Islands">Cayman Islands</option><option value="Central African Republic">Central African Republic</option><option value="Chad">Chad</option><option value="Chile">Chile</option><option value="China">China</option><option value="Christmas Island">Christmas Island</option><option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option><option value="Colombia">Colombia</option><option value="Comoros">Comoros</option><option value="Congo (Brazzaville)">Congo (Brazzaville)</option><option value="Congo (Kinshasa)">Congo (Kinshasa)</option><option value="Cook Islands">Cook Islands</option><option value="Costa Rica">Costa Rica</option><option value="Croatia">Croatia</option><option value="Cuba">Cuba</option><option value="CuraÇao">CuraÇao</option><option value="Cyprus">Cyprus</option><option value="Czech Republic">Czech Republic</option><option value="Denmark">Denmark</option><option value="Djibouti">Djibouti</option><option value="Dominica">Dominica</option><option value="Dominican Republic">Dominican Republic</option><option value="Ecuador">Ecuador</option><option value="Egypt">Egypt</option><option value="El Salvador">El Salvador</option><option value="Equatorial Guinea">Equatorial Guinea</option><option value="Eritrea">Eritrea</option><option value="Estonia">Estonia</option><option value="Ethiopia">Ethiopia</option><option value="Falkland Islands">Falkland Islands</option><option value="Faroe Islands">Faroe Islands</option><option value="Fiji">Fiji</option><option value="Finland">Finland</option><option value="French Guiana">French Guiana</option><option value="French Polynesia">French Polynesia</option><option value="French Southern Territories">French Southern Territories</option><option value="Gabon">Gabon</option><option value="Gambia">Gambia</option><option value="Georgia">Georgia</option><option value="Ghana">Ghana</option><option value="Gibraltar">Gibraltar</option><option value="Greece">Greece</option><option value="Greenland">Greenland</option><option value="Grenada">Grenada</option><option value="Guadeloupe">Guadeloupe</option><option value="Guatemala">Guatemala</option><option value="Guernsey">Guernsey</option><option value="Guinea">Guinea</option><option value="Guinea-Bissau">Guinea-Bissau</option><option value="Guyana">Guyana</option><option value="Haiti">Haiti</option><option value="Heard Island and McDonald Islands">Heard Island and McDonald Islands</option><option value="Honduras">Honduras</option><option value="Hong Kong, China">Hong Kong, China</option><option value="Hungary">Hungary</option><option value="Iceland">Iceland</option><option value="India">India</option><option value="Indonesia">Indonesia</option><option value="Iran">Iran</option><option value="Iraq">Iraq</option><option value="Republic of Ireland">Republic of Ireland</option><option value="Isle of Man">Isle of Man</option><option value="Israel">Israel</option><option value="Ivory Coast">Ivory Coast</option><option value="Jamaica">Jamaica</option><option value="Jersey">Jersey</option><option value="Jordan">Jordan</option><option value="Kazakhstan">Kazakhstan</option><option value="Kenya">Kenya</option><option value="Kiribati">Kiribati</option><option value="Kuwait">Kuwait</option><option value="Kyrgyzstan">Kyrgyzstan</option><option value="Laos">Laos</option><option value="Latvia">Latvia</option><option value="Lebanon">Lebanon</option><option value="Lesotho">Lesotho</option><option value="Liberia">Liberia</option><option value="Libya">Libya</option><option value="Liechtenstein">Liechtenstein</option><option value="Lithuania">Lithuania</option><option value="Luxembourg">Luxembourg</option><option value="Macau S.A.R., China">Macau S.A.R., China</option><option value="Macedonia">Macedonia</option><option value="Madagascar">Madagascar</option><option value="Malawi">Malawi</option><option value="Malaysia">Malaysia</option><option value="Maldives">Maldives</option><option value="Mali">Mali</option><option value="Malta">Malta</option><option value="Marshall Islands">Marshall Islands</option><option value="Martinique">Martinique</option><option value="Mauritania">Mauritania</option><option value="Mauritius">Mauritius</option><option value="Mayotte">Mayotte</option><option value="Micronesia">Micronesia</option><option value="Moldova">Moldova</option><option value="Monaco">Monaco</option><option value="Mongolia">Mongolia</option><option value="Montenegro">Montenegro</option><option value="Montserrat">Montserrat</option><option value="Morocco">Morocco</option><option value="Mozambique">Mozambique</option><option value="Myanmar">Myanmar</option><option value="Namibia">Namibia</option><option value="Nauru">Nauru</option><option value="Nepal">Nepal</option><option value="Netherlands">Netherlands</option><option value="Netherlands Antilles">Netherlands Antilles</option><option value="New Caledonia">New Caledonia</option><option value="New Zealand">New Zealand</option><option value="Nicaragua">Nicaragua</option><option value="Niger">Niger</option><option value="Nigeria">Nigeria</option><option value="Niue">Niue</option><option value="Norfolk Island">Norfolk Island</option><option value="North Korea">North Korea</option><option value="Norway">Norway</option><option value="Oman">Oman</option><option value="Pakistan">Pakistan</option><option value="Palestinian Territory">Palestinian Territory</option><option value="Panama">Panama</option><option value="Papua New Guinea">Papua New Guinea</option><option value="Paraguay">Paraguay</option><option value="Peru">Peru</option><option value="Philippines">Philippines</option><option value="Pitcairn">Pitcairn</option><option value="Poland">Poland</option><option value="Portugal">Portugal</option><option value="Qatar">Qatar</option><option value="Reunion">Reunion</option><option value="Romania">Romania</option><option value="Russia">Russia</option><option value="Rwanda">Rwanda</option><option value="Saint Barthélemy">Saint Barthélemy</option><option value="Saint Helena">Saint Helena</option><option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option><option value="Saint Lucia">Saint Lucia</option><option value="Saint Martin (French part)">Saint Martin (French part)</option><option value="Saint Martin (Dutch part)">Saint Martin (Dutch part)</option><option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option><option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option><option value="San Marino">San Marino</option><option value="São Tomé and Príncipe">São Tomé and Príncipe</option><option value="Saudi Arabia">Saudi Arabia</option><option value="Senegal">Senegal</option><option value="Serbia">Serbia</option><option value="Seychelles">Seychelles</option><option value="Sierra Leone">Sierra Leone</option><option value="Singapore">Singapore</option><option value="Slovakia">Slovakia</option><option value="Slovenia">Slovenia</option><option value="Solomon Islands">Solomon Islands</option><option value="Somalia">Somalia</option><option value="South Africa">South Africa</option><option value="South Georgia/Sandwich Islands">South Georgia/Sandwich Islands</option><option value="South Korea">South Korea</option><option value="South Sudan">South Sudan</option><option value="Sri Lanka">Sri Lanka</option><option value="Sudan">Sudan</option><option value="Suriname">Suriname</option><option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option><option value="Swaziland">Swaziland</option><option value="Sweden">Sweden</option><option value="Switzerland">Switzerland</option><option value="Syria">Syria</option><option value="Taiwan, China">Taiwan, China</option><option value="Tajikistan">Tajikistan</option><option value="Tanzania">Tanzania</option><option value="Thailand">Thailand</option><option value="Timor-Leste">Timor-Leste</option><option value="Togo">Togo</option><option value="Tokelau">Tokelau</option><option value="Tonga">Tonga</option><option value="Trinidad and Tobago">Trinidad and Tobago</option><option value="Tunisia">Tunisia</option><option value="Turkey">Turkey</option><option value="Turkmenistan">Turkmenistan</option><option value="Turks and Caicos Islands">Turks and Caicos Islands</option><option value="Tuvalu">Tuvalu</option><option value="Uganda">Uganda</option><option value="Ukraine">Ukraine</option><option value="United Arab Emirates">United Arab Emirates</option><option value="Uruguay">Uruguay</option><option value="Uzbekistan">Uzbekistan</option><option value="Vanuatu">Vanuatu</option><option value="Vatican">Vatican</option><option value="Venezuela">Venezuela</option><option value="Vietnam">Vietnam</option><option value="Wallis and Futuna">Wallis and Futuna</option><option value="Western Sahara">Western Sahara</option><option value="Western Samoa">Western Samoa</option><option value="Yemen">Yemen</option><option value="Zambia">Zambia</option><option value="Zimbabwe">Zimbabwe</option> <!-- 循环国家名称结束 --> <div class="results"></div></select>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Email Address')?><i class="must">*</i></span>
						<input type="email" required="required" name="email"/>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Company Name')?></span>
						<input type="text" name="company"/>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Phone Number')?><i class="must">*</i></span>
						<input type="text" required="required" name="phone"/>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Markets Served')?></span>
						<input type="text" name="marketServed"/>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Website Address')?></span>
						<input type="text" name="websiteAddress"/>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Shipping address')?></span>
						<input type="text" name="shippingAddress"/>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Product SKU')?></span>
						<input type="text" name="sku"/>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Target Price($)')?></span>
						<input type="text" name="targetPrice"/>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Quantity')?></span>
						<input type="number" name="quantity" />
					</div>
					<div>
						<span class="text"><?php echo $this->__('Sales Channels')?></span>
						<select name="salesChannels" class="saleschannels js-display">
							<option><?php echo $this->__('Please Select')?></option>
							<option><?php echo $this->__('Online')?></option>
							<option><?php echo $this->__('Offline')?></option>
							<option><?php echo $this->__('Other')?></option>
						</select>
					</div>
					<div class="textarea">
						<span class="text"><?php echo $this->__('Message')?></span>
						<textarea name="message"></textarea>
					</div>
					<div>
						<span class="text code"><?php echo $this->__('Verification Code')?><i class="must">*</i></span>
						<div class="validatecode">
						<span>a</span><span>b</span><span>z</span><span>d</span></div>
						<input type="text" required="required" name="verificationCode"/>
					</div>
					<input type="button" class="button" value="<?php echo $this->__('Submit')?>" id="wholesalebutton"></input>
					<input type="reset" style="display:none" />
				</form>
			</div>
		</div>
	</div>
    <div id="dropship" class="hidden">
		<div class="one">
			<div class="top">
				<span class="begin"><?php echo $this->__('Dropship')?></span>
				<span class="end"><?php echo $this->__('Know More')?></span>
				<span class="icon"></span>
			</div>
			<div class="bottom">
				<p><?php echo $this->__('In order to maintain the competitive market price at the same time to keep both good user experience and excellent product quality, iRULU takes the sales flattening strategy, which eliminate the middle steps of the sales link so that iRULU can be directly facing the terminal retail merchants. There are many levels in the traditional manufacturer sales link, from the national exclusive sales and local exclusive sales to the end-retailers and so on, each link shares some a profit. As a result, for keeping comperirive price advantage what end-retailers can do is reduce cost only, while which will increase the probability of unqualified product quality. What iRULU chooses is facing end-retailer directly. On the basis of guaranteeing the quality to control costs, iRULU and terminal retailers only keep low-profit, so that iRULU product keep competitive prices, and maintain quality as well.')?></p>
				<p>
					<?php echo $this->__('iRULU launches a service of drop-shipping, which means that it is no need to send the bulk goods from China to overseas. Terminal retailers only need to submit orders and shipping address toof end customers, and Elephone will send directly from China to local end customers. Drop-shopping not only makes agents easier to join iRULU, also brought timeliness and economic advantages to agents.')?> 
				</p>
				<p>
					<?php echo $this->__('If you need further communication, our Marketing Department is available by filling out the online below. You will get our prompt reply within one business day.')?>
				</p>
				<p>
					<?php echo $this->__('You can email us')?><a style="color: #00a990;" href="mailto:dropship@irulu.com"><?php echo $this->__(' dropship#irulu.com ')?></a><?php echo $this->__('for more help')?>
				</p>
			</div>
		</div>
		<div class="two">
			<div class="top">
				<span class="begin"><?php echo $this->__('Fill out the online form')?></span>
				<span class="end"><?php echo $this->__('Form')?></span>
				<span class="icon"></span>
			</div>
			<div class="bottom">
				<form id="dropshipform" >
					<div>
						<span class="text"><?php echo $this->__('Contact Name')?><i class="must">*</i></span>
						<input type="text" required="required" name="name"/>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Country')?><i class="must">*</i></span>
						<select name="country" class="js-display country" > <option value=""><?php echo $this->__('Please Select')?></option> <!-- 循环国家名称开始 --> <option value="United States">United States</option><option value="Canada">Canada</option><option value="United Kingdom">United Kingdom</option><option value="Spain">Spain</option><option value="Germany">Germany</option><option value="France">France</option><option value="Italy">Italy</option><option value="Japan">Japan</option><option value="Afghanistan">Afghanistan</option><option value="Åland Islands">Åland Islands</option><option value="Albania">Albania</option><option value="Algeria">Algeria</option><option value="Andorra">Andorra</option><option value="Angola">Angola</option><option value="Anguilla">Anguilla</option><option value="Antarctica">Antarctica</option><option value="Antigua and Barbuda">Antigua and Barbuda</option><option value="Argentina">Argentina</option><option value="Armenia">Armenia</option><option value="Aruba">Aruba</option><option value="Australia">Australia</option><option value="Austria">Austria</option><option value="Azerbaijan">Azerbaijan</option><option value="Bahamas">Bahamas</option><option value="Bahrain">Bahrain</option><option value="Bangladesh">Bangladesh</option><option value="Barbados">Barbados</option><option value="Belarus">Belarus</option><option value="Belgium">Belgium</option><option value="Belau">Belau</option><option value="Belize">Belize</option><option value="Benin">Benin</option><option value="Bermuda">Bermuda</option><option value="Bhutan">Bhutan</option><option value="Bolivia">Bolivia</option><option value="Bonaire, Saint Eustatius and Saba">Bonaire, Saint Eustatius and Saba</option><option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option><option value="Botswana">Botswana</option><option value="Bouvet Island">Bouvet Island</option><option value="Brazil">Brazil</option><option value="British Indian Ocean Territory">British Indian Ocean Territory</option><option value="British Virgin Islands">British Virgin Islands</option><option value="Brunei">Brunei</option><option value="Bulgaria">Bulgaria</option><option value="Burkina Faso">Burkina Faso</option><option value="Burundi">Burundi</option><option value="Cambodia">Cambodia</option><option value="Cameroon">Cameroon</option><option value="Cape Verde">Cape Verde</option><option value="Cayman Islands">Cayman Islands</option><option value="Central African Republic">Central African Republic</option><option value="Chad">Chad</option><option value="Chile">Chile</option><option value="China">China</option><option value="Christmas Island">Christmas Island</option><option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option><option value="Colombia">Colombia</option><option value="Comoros">Comoros</option><option value="Congo (Brazzaville)">Congo (Brazzaville)</option><option value="Congo (Kinshasa)">Congo (Kinshasa)</option><option value="Cook Islands">Cook Islands</option><option value="Costa Rica">Costa Rica</option><option value="Croatia">Croatia</option><option value="Cuba">Cuba</option><option value="CuraÇao">CuraÇao</option><option value="Cyprus">Cyprus</option><option value="Czech Republic">Czech Republic</option><option value="Denmark">Denmark</option><option value="Djibouti">Djibouti</option><option value="Dominica">Dominica</option><option value="Dominican Republic">Dominican Republic</option><option value="Ecuador">Ecuador</option><option value="Egypt">Egypt</option><option value="El Salvador">El Salvador</option><option value="Equatorial Guinea">Equatorial Guinea</option><option value="Eritrea">Eritrea</option><option value="Estonia">Estonia</option><option value="Ethiopia">Ethiopia</option><option value="Falkland Islands">Falkland Islands</option><option value="Faroe Islands">Faroe Islands</option><option value="Fiji">Fiji</option><option value="Finland">Finland</option><option value="French Guiana">French Guiana</option><option value="French Polynesia">French Polynesia</option><option value="French Southern Territories">French Southern Territories</option><option value="Gabon">Gabon</option><option value="Gambia">Gambia</option><option value="Georgia">Georgia</option><option value="Ghana">Ghana</option><option value="Gibraltar">Gibraltar</option><option value="Greece">Greece</option><option value="Greenland">Greenland</option><option value="Grenada">Grenada</option><option value="Guadeloupe">Guadeloupe</option><option value="Guatemala">Guatemala</option><option value="Guernsey">Guernsey</option><option value="Guinea">Guinea</option><option value="Guinea-Bissau">Guinea-Bissau</option><option value="Guyana">Guyana</option><option value="Haiti">Haiti</option><option value="Heard Island and McDonald Islands">Heard Island and McDonald Islands</option><option value="Honduras">Honduras</option><option value="Hong Kong, China">Hong Kong, China</option><option value="Hungary">Hungary</option><option value="Iceland">Iceland</option><option value="India">India</option><option value="Indonesia">Indonesia</option><option value="Iran">Iran</option><option value="Iraq">Iraq</option><option value="Republic of Ireland">Republic of Ireland</option><option value="Isle of Man">Isle of Man</option><option value="Israel">Israel</option><option value="Ivory Coast">Ivory Coast</option><option value="Jamaica">Jamaica</option><option value="Jersey">Jersey</option><option value="Jordan">Jordan</option><option value="Kazakhstan">Kazakhstan</option><option value="Kenya">Kenya</option><option value="Kiribati">Kiribati</option><option value="Kuwait">Kuwait</option><option value="Kyrgyzstan">Kyrgyzstan</option><option value="Laos">Laos</option><option value="Latvia">Latvia</option><option value="Lebanon">Lebanon</option><option value="Lesotho">Lesotho</option><option value="Liberia">Liberia</option><option value="Libya">Libya</option><option value="Liechtenstein">Liechtenstein</option><option value="Lithuania">Lithuania</option><option value="Luxembourg">Luxembourg</option><option value="Macau S.A.R., China">Macau S.A.R., China</option><option value="Macedonia">Macedonia</option><option value="Madagascar">Madagascar</option><option value="Malawi">Malawi</option><option value="Malaysia">Malaysia</option><option value="Maldives">Maldives</option><option value="Mali">Mali</option><option value="Malta">Malta</option><option value="Marshall Islands">Marshall Islands</option><option value="Martinique">Martinique</option><option value="Mauritania">Mauritania</option><option value="Mauritius">Mauritius</option><option value="Mayotte">Mayotte</option><option value="Micronesia">Micronesia</option><option value="Moldova">Moldova</option><option value="Monaco">Monaco</option><option value="Mongolia">Mongolia</option><option value="Montenegro">Montenegro</option><option value="Montserrat">Montserrat</option><option value="Morocco">Morocco</option><option value="Mozambique">Mozambique</option><option value="Myanmar">Myanmar</option><option value="Namibia">Namibia</option><option value="Nauru">Nauru</option><option value="Nepal">Nepal</option><option value="Netherlands">Netherlands</option><option value="Netherlands Antilles">Netherlands Antilles</option><option value="New Caledonia">New Caledonia</option><option value="New Zealand">New Zealand</option><option value="Nicaragua">Nicaragua</option><option value="Niger">Niger</option><option value="Nigeria">Nigeria</option><option value="Niue">Niue</option><option value="Norfolk Island">Norfolk Island</option><option value="North Korea">North Korea</option><option value="Norway">Norway</option><option value="Oman">Oman</option><option value="Pakistan">Pakistan</option><option value="Palestinian Territory">Palestinian Territory</option><option value="Panama">Panama</option><option value="Papua New Guinea">Papua New Guinea</option><option value="Paraguay">Paraguay</option><option value="Peru">Peru</option><option value="Philippines">Philippines</option><option value="Pitcairn">Pitcairn</option><option value="Poland">Poland</option><option value="Portugal">Portugal</option><option value="Qatar">Qatar</option><option value="Reunion">Reunion</option><option value="Romania">Romania</option><option value="Russia">Russia</option><option value="Rwanda">Rwanda</option><option value="Saint Barthélemy">Saint Barthélemy</option><option value="Saint Helena">Saint Helena</option><option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option><option value="Saint Lucia">Saint Lucia</option><option value="Saint Martin (French part)">Saint Martin (French part)</option><option value="Saint Martin (Dutch part)">Saint Martin (Dutch part)</option><option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option><option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option><option value="San Marino">San Marino</option><option value="São Tomé and Príncipe">São Tomé and Príncipe</option><option value="Saudi Arabia">Saudi Arabia</option><option value="Senegal">Senegal</option><option value="Serbia">Serbia</option><option value="Seychelles">Seychelles</option><option value="Sierra Leone">Sierra Leone</option><option value="Singapore">Singapore</option><option value="Slovakia">Slovakia</option><option value="Slovenia">Slovenia</option><option value="Solomon Islands">Solomon Islands</option><option value="Somalia">Somalia</option><option value="South Africa">South Africa</option><option value="South Georgia/Sandwich Islands">South Georgia/Sandwich Islands</option><option value="South Korea">South Korea</option><option value="South Sudan">South Sudan</option><option value="Sri Lanka">Sri Lanka</option><option value="Sudan">Sudan</option><option value="Suriname">Suriname</option><option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option><option value="Swaziland">Swaziland</option><option value="Sweden">Sweden</option><option value="Switzerland">Switzerland</option><option value="Syria">Syria</option><option value="Taiwan, China">Taiwan, China</option><option value="Tajikistan">Tajikistan</option><option value="Tanzania">Tanzania</option><option value="Thailand">Thailand</option><option value="Timor-Leste">Timor-Leste</option><option value="Togo">Togo</option><option value="Tokelau">Tokelau</option><option value="Tonga">Tonga</option><option value="Trinidad and Tobago">Trinidad and Tobago</option><option value="Tunisia">Tunisia</option><option value="Turkey">Turkey</option><option value="Turkmenistan">Turkmenistan</option><option value="Turks and Caicos Islands">Turks and Caicos Islands</option><option value="Tuvalu">Tuvalu</option><option value="Uganda">Uganda</option><option value="Ukraine">Ukraine</option><option value="United Arab Emirates">United Arab Emirates</option><option value="Uruguay">Uruguay</option><option value="Uzbekistan">Uzbekistan</option><option value="Vanuatu">Vanuatu</option><option value="Vatican">Vatican</option><option value="Venezuela">Venezuela</option><option value="Vietnam">Vietnam</option><option value="Wallis and Futuna">Wallis and Futuna</option><option value="Western Sahara">Western Sahara</option><option value="Western Samoa">Western Samoa</option><option value="Yemen">Yemen</option><option value="Zambia">Zambia</option><option value="Zimbabwe">Zimbabwe</option> <!-- 循环国家名称结束 --> <div class="results"></div></select>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Email Address')?><i class="must">*</i></span>
						<input type="email" required="required" name="email"/>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Company Name')?></span>
						<input type="text" name="company"/>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Phone Number')?><i class="must">*</i></span>
						<input type="text" required="required" name="phone"/>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Markets Served')?></span>
						<input type="text" name="marketServed"/>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Website Address')?></span>
						<input type="text" name="websiteAddress"/>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Local Certifications Required')?></span>
						<input type="text" name="localCertification"/>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Product SKU')?></span>
						<input type="text" name="sku"/>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Target Price($)')?></span>
						<input type="text" name="targetPrice"/>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Quantity')?></span>
						<input type="number" name="quantity" />
					</div>
					<div>
						<span class="text"><?php echo $this->__('Sales Channels')?></span>
						<select name="salesChannels" class="saleschannels js-display">
							<option><?php echo $this->__('Please Select')?>      </option>
							<option><?php echo $this->__('Online')?> </option>
							<option><?php echo $this->__('Offline')?></option>
							<option><?php echo $this->__('Other')?></option>
						</select>
					</div>
					<div class="textarea">
						<span class="text"><?php echo $this->__('Message')?></span>
						<textarea name="message"></textarea>
					</div>
					<div>
						<span class="text code"><?php echo $this->__('Verification Code')?><i class="must">*</i></span>
						<div class="validatecode">
						<span>a</span><span>b</span><span>z</span><span>d</span></div>
						<input type="text" required="required" name="verificationCode"/>
					</div>
					<input id="dropshipbutton" class="button" value="<?php echo $this->__('Submit')?>" type="button"></input>
					<input type="reset" style="display:none" />
				</form>
			</div>
		</div>
	</div>
    <div id="distributor" class="hidden">
		<div class="one">
			<div class="top">
				<span class="begin"><?php echo $this->__('Distributor')?></span>
				<span class="end"><?php echo $this->__('Know More')?></span>
				<span class="icon"></span>
			</div>
			<div class="bottom">
				<p><?php echo $this->__('Join our growth as a distributor of iRULU brand products. iRULU specializes in consumer electronics accessories such as Tablet, Computer, 2 in 1 tablet/laptop, Projector and more. The first iRULU tablet launched in 2011, and since then, iRULU.com has expanded to be an exciting one-stop shop for all of your smart device technology needs.')?> </p>
				<p>
				<?php echo $this->__("We look forward to continued growth and welcome new opportunities to increase sales and expand our regional distribution. We're looking to partner with companies who can offer:")?>
				</p>
				<ul>
						<li><?php echo $this->__('Demonstrated influence over a specific local market')?></li>
						<li><?php echo $this->__('Proven and creative product promotion strategies')?></li>
						<li><?php echo $this->__('Established sales and/or distribution channels')?></li>
				</ul>
				<p>
					 
					<?php echo $this->__('As an iRULU business partner, you can look forward to the following benefits:')?>
				</p>
				<ul>
						<li><?php echo $this->__('Demonstrated influence over a specific local market')?></li>
						<li><?php echo $this->__('Proven and creative product promotion strategies')?></li>
						<li><?php echo $this->__('Established sales and/or distribution channels')?></li>
				</ul>
				<p>
					<?php echo $this->__('If you need further communication, our Marketing Department is available by filling out the online below. You will get our prompt reply within one business day.')?>
				</p>
				<p>
					<?php echo $this->__('You can email us')?><a style="color: #00a990;" href="mailto:distributor@irulu.com"><?php echo $this->__(' distributor#irulu.com ')?></a><?php echo $this->__('for more help')?>
				</p>
			</div>
		</div>
		<div class="two">
			<div class="top">
				<span class="begin"><?php echo $this->__('Fill out the online form')?></span>
				<span class="end"><?php echo $this->__('Form')?></span>
				<span class="icon"></span>
			</div>
			<div class="bottom">
				<form id="distributorform">
					<div>
						<span class="text"><?php echo $this->__('Contact Name')?><i class="must">*</i></span>
						<input type="text" required="required" name="name"/>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Country')?><i class="must">*</i></span>
						<select name="country" class="js-display country" > <option value=""><?php echo $this->__('Please Select')?></option> <!-- 循环国家名称开始 --> <option value="United States">United States</option><option value="Canada">Canada</option><option value="United Kingdom">United Kingdom</option><option value="Spain">Spain</option><option value="Germany">Germany</option><option value="France">France</option><option value="Italy">Italy</option><option value="Japan">Japan</option><option value="Afghanistan">Afghanistan</option><option value="Åland Islands">Åland Islands</option><option value="Albania">Albania</option><option value="Algeria">Algeria</option><option value="Andorra">Andorra</option><option value="Angola">Angola</option><option value="Anguilla">Anguilla</option><option value="Antarctica">Antarctica</option><option value="Antigua and Barbuda">Antigua and Barbuda</option><option value="Argentina">Argentina</option><option value="Armenia">Armenia</option><option value="Aruba">Aruba</option><option value="Australia">Australia</option><option value="Austria">Austria</option><option value="Azerbaijan">Azerbaijan</option><option value="Bahamas">Bahamas</option><option value="Bahrain">Bahrain</option><option value="Bangladesh">Bangladesh</option><option value="Barbados">Barbados</option><option value="Belarus">Belarus</option><option value="Belgium">Belgium</option><option value="Belau">Belau</option><option value="Belize">Belize</option><option value="Benin">Benin</option><option value="Bermuda">Bermuda</option><option value="Bhutan">Bhutan</option><option value="Bolivia">Bolivia</option><option value="Bonaire, Saint Eustatius and Saba">Bonaire, Saint Eustatius and Saba</option><option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option><option value="Botswana">Botswana</option><option value="Bouvet Island">Bouvet Island</option><option value="Brazil">Brazil</option><option value="British Indian Ocean Territory">British Indian Ocean Territory</option><option value="British Virgin Islands">British Virgin Islands</option><option value="Brunei">Brunei</option><option value="Bulgaria">Bulgaria</option><option value="Burkina Faso">Burkina Faso</option><option value="Burundi">Burundi</option><option value="Cambodia">Cambodia</option><option value="Cameroon">Cameroon</option><option value="Cape Verde">Cape Verde</option><option value="Cayman Islands">Cayman Islands</option><option value="Central African Republic">Central African Republic</option><option value="Chad">Chad</option><option value="Chile">Chile</option><option value="China">China</option><option value="Christmas Island">Christmas Island</option><option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option><option value="Colombia">Colombia</option><option value="Comoros">Comoros</option><option value="Congo (Brazzaville)">Congo (Brazzaville)</option><option value="Congo (Kinshasa)">Congo (Kinshasa)</option><option value="Cook Islands">Cook Islands</option><option value="Costa Rica">Costa Rica</option><option value="Croatia">Croatia</option><option value="Cuba">Cuba</option><option value="CuraÇao">CuraÇao</option><option value="Cyprus">Cyprus</option><option value="Czech Republic">Czech Republic</option><option value="Denmark">Denmark</option><option value="Djibouti">Djibouti</option><option value="Dominica">Dominica</option><option value="Dominican Republic">Dominican Republic</option><option value="Ecuador">Ecuador</option><option value="Egypt">Egypt</option><option value="El Salvador">El Salvador</option><option value="Equatorial Guinea">Equatorial Guinea</option><option value="Eritrea">Eritrea</option><option value="Estonia">Estonia</option><option value="Ethiopia">Ethiopia</option><option value="Falkland Islands">Falkland Islands</option><option value="Faroe Islands">Faroe Islands</option><option value="Fiji">Fiji</option><option value="Finland">Finland</option><option value="French Guiana">French Guiana</option><option value="French Polynesia">French Polynesia</option><option value="French Southern Territories">French Southern Territories</option><option value="Gabon">Gabon</option><option value="Gambia">Gambia</option><option value="Georgia">Georgia</option><option value="Ghana">Ghana</option><option value="Gibraltar">Gibraltar</option><option value="Greece">Greece</option><option value="Greenland">Greenland</option><option value="Grenada">Grenada</option><option value="Guadeloupe">Guadeloupe</option><option value="Guatemala">Guatemala</option><option value="Guernsey">Guernsey</option><option value="Guinea">Guinea</option><option value="Guinea-Bissau">Guinea-Bissau</option><option value="Guyana">Guyana</option><option value="Haiti">Haiti</option><option value="Heard Island and McDonald Islands">Heard Island and McDonald Islands</option><option value="Honduras">Honduras</option><option value="Hong Kong, China">Hong Kong, China</option><option value="Hungary">Hungary</option><option value="Iceland">Iceland</option><option value="India">India</option><option value="Indonesia">Indonesia</option><option value="Iran">Iran</option><option value="Iraq">Iraq</option><option value="Republic of Ireland">Republic of Ireland</option><option value="Isle of Man">Isle of Man</option><option value="Israel">Israel</option><option value="Ivory Coast">Ivory Coast</option><option value="Jamaica">Jamaica</option><option value="Jersey">Jersey</option><option value="Jordan">Jordan</option><option value="Kazakhstan">Kazakhstan</option><option value="Kenya">Kenya</option><option value="Kiribati">Kiribati</option><option value="Kuwait">Kuwait</option><option value="Kyrgyzstan">Kyrgyzstan</option><option value="Laos">Laos</option><option value="Latvia">Latvia</option><option value="Lebanon">Lebanon</option><option value="Lesotho">Lesotho</option><option value="Liberia">Liberia</option><option value="Libya">Libya</option><option value="Liechtenstein">Liechtenstein</option><option value="Lithuania">Lithuania</option><option value="Luxembourg">Luxembourg</option><option value="Macau S.A.R., China">Macau S.A.R., China</option><option value="Macedonia">Macedonia</option><option value="Madagascar">Madagascar</option><option value="Malawi">Malawi</option><option value="Malaysia">Malaysia</option><option value="Maldives">Maldives</option><option value="Mali">Mali</option><option value="Malta">Malta</option><option value="Marshall Islands">Marshall Islands</option><option value="Martinique">Martinique</option><option value="Mauritania">Mauritania</option><option value="Mauritius">Mauritius</option><option value="Mayotte">Mayotte</option><option value="Micronesia">Micronesia</option><option value="Moldova">Moldova</option><option value="Monaco">Monaco</option><option value="Mongolia">Mongolia</option><option value="Montenegro">Montenegro</option><option value="Montserrat">Montserrat</option><option value="Morocco">Morocco</option><option value="Mozambique">Mozambique</option><option value="Myanmar">Myanmar</option><option value="Namibia">Namibia</option><option value="Nauru">Nauru</option><option value="Nepal">Nepal</option><option value="Netherlands">Netherlands</option><option value="Netherlands Antilles">Netherlands Antilles</option><option value="New Caledonia">New Caledonia</option><option value="New Zealand">New Zealand</option><option value="Nicaragua">Nicaragua</option><option value="Niger">Niger</option><option value="Nigeria">Nigeria</option><option value="Niue">Niue</option><option value="Norfolk Island">Norfolk Island</option><option value="North Korea">North Korea</option><option value="Norway">Norway</option><option value="Oman">Oman</option><option value="Pakistan">Pakistan</option><option value="Palestinian Territory">Palestinian Territory</option><option value="Panama">Panama</option><option value="Papua New Guinea">Papua New Guinea</option><option value="Paraguay">Paraguay</option><option value="Peru">Peru</option><option value="Philippines">Philippines</option><option value="Pitcairn">Pitcairn</option><option value="Poland">Poland</option><option value="Portugal">Portugal</option><option value="Qatar">Qatar</option><option value="Reunion">Reunion</option><option value="Romania">Romania</option><option value="Russia">Russia</option><option value="Rwanda">Rwanda</option><option value="Saint Barthélemy">Saint Barthélemy</option><option value="Saint Helena">Saint Helena</option><option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option><option value="Saint Lucia">Saint Lucia</option><option value="Saint Martin (French part)">Saint Martin (French part)</option><option value="Saint Martin (Dutch part)">Saint Martin (Dutch part)</option><option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option><option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option><option value="San Marino">San Marino</option><option value="São Tomé and Príncipe">São Tomé and Príncipe</option><option value="Saudi Arabia">Saudi Arabia</option><option value="Senegal">Senegal</option><option value="Serbia">Serbia</option><option value="Seychelles">Seychelles</option><option value="Sierra Leone">Sierra Leone</option><option value="Singapore">Singapore</option><option value="Slovakia">Slovakia</option><option value="Slovenia">Slovenia</option><option value="Solomon Islands">Solomon Islands</option><option value="Somalia">Somalia</option><option value="South Africa">South Africa</option><option value="South Georgia/Sandwich Islands">South Georgia/Sandwich Islands</option><option value="South Korea">South Korea</option><option value="South Sudan">South Sudan</option><option value="Sri Lanka">Sri Lanka</option><option value="Sudan">Sudan</option><option value="Suriname">Suriname</option><option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option><option value="Swaziland">Swaziland</option><option value="Sweden">Sweden</option><option value="Switzerland">Switzerland</option><option value="Syria">Syria</option><option value="Taiwan, China">Taiwan, China</option><option value="Tajikistan">Tajikistan</option><option value="Tanzania">Tanzania</option><option value="Thailand">Thailand</option><option value="Timor-Leste">Timor-Leste</option><option value="Togo">Togo</option><option value="Tokelau">Tokelau</option><option value="Tonga">Tonga</option><option value="Trinidad and Tobago">Trinidad and Tobago</option><option value="Tunisia">Tunisia</option><option value="Turkey">Turkey</option><option value="Turkmenistan">Turkmenistan</option><option value="Turks and Caicos Islands">Turks and Caicos Islands</option><option value="Tuvalu">Tuvalu</option><option value="Uganda">Uganda</option><option value="Ukraine">Ukraine</option><option value="United Arab Emirates">United Arab Emirates</option><option value="Uruguay">Uruguay</option><option value="Uzbekistan">Uzbekistan</option><option value="Vanuatu">Vanuatu</option><option value="Vatican">Vatican</option><option value="Venezuela">Venezuela</option><option value="Vietnam">Vietnam</option><option value="Wallis and Futuna">Wallis and Futuna</option><option value="Western Sahara">Western Sahara</option><option value="Western Samoa">Western Samoa</option><option value="Yemen">Yemen</option><option value="Zambia">Zambia</option><option value="Zimbabwe">Zimbabwe</option> <!-- 循环国家名称结束 --> <div class="results"></div></select>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Email Address')?><i class="must">*</i></span>
						<input type="email" required="required" name="email"/>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Company Name')?></span>
						<input type="text" name="company"/>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Phone Number')?><i class="must">*</i></span>
						<input type="text" required="required" name="phone"/>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Markets Served')?></span>
						<input type="text" name="marketServed"/>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Website Address')?></span>
						<input type="text" name="websiteAddress"/>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Local Certifications Required')?></span>
						<input type="text" name="localCertification"/>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Product SKU')?></span>
						<input type="text" name="sku"/>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Target Price($)')?></span>
						<input type="text" name="targetPrice"/>
					</div>
					<div>
						<span class="text"><?php echo $this->__('Quantity')?></span>
						<input type="number" name="quantity" />
					</div>
					<div>
						<span class="text"><?php echo $this->__('Sales Channels')?></span>
						<select name="salesChannels" class="saleschannels js-display">
							<option><?php echo $this->__('Please Select')?>        </option>
							<option><?php echo $this->__('Online')?></option>
							<option><?php echo $this->__('Offline')?></option>
							<option><?php echo $this->__('Other')?></option>
						</select>
					</div>
					<div class="textarea">
						<span class="text"><?php echo $this->__('Message')?></span>
						<textarea name="message"></textarea>
					</div>
					<div>
						<span class="text code"><?php echo $this->__('Verification Code')?><i class="must">*</i></span>
						<div class="validatecode">
						<span>a</span><span>b</span><span>z</span><span>d</span></div>
						<input type="text" required="required" name="verificationCode"/>
					</div>
					<input   class="button" value="<?php echo $this->__('Submit')?>" id="distributorbutton" type="button"></input>
					<input type="reset" style="display:none" />
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	$j(function(){
		var form_validate = {
			regExp:{
				email: /^[a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*$/i
			},
			message:{
				required:"<?php echo $this->__('This field is required')?>",
				invalidEmail:"<?php echo $this->__('Please enter a valid email address')?>",
				invalidCod:"<?php echo $this->__('Please enter the correct verification code')?>"
			},
			codeArray:["485d","aepu","nn7a","wwtu"],
			validateCode:"abzd"//默认"abzd",缓存验证码，用来与用户输入验证码进行比较。
		}
		var enhtml= '<div id="couponModal" class="reveal-modal small" data-reveal>'+
								'</div>';
			$j("body").append(enhtml);
		$j('.country').chosen({width: "80%"}).change(function(){
			if($j(this).val() != "Please Select" && $j(this).next().next().length > 0){
				$j(this).next().next().remove();
			}
		});
		$j('.saleschannels').chosen({disable_search_threshold: 10,width: "80%"});
		
		
		$j("#formcontent ul li").on("click",function(){
		var $this = $j(this);
		if($this.index() == 0 && !$this.hasClass("active")){
			$j("#wholesale").removeClass("hidden");
			$j("#dropship").addClass("hidden");
			$j("#distributor").addClass("hidden");
			$j("#dropshipform").children("input[type=reset]").trigger("click");
			$j("#distributorform").children("input[type=reset]").trigger("click");
			$j("#wholesaleform .validatecode").trigger("click");
			$j("#dropshipform .errortip").remove();;
			$j("#distributorform .errortip").remove();;
		}else if($this.index() == 1 && !$this.hasClass("active")){
			$j("#dropship").removeClass("hidden");
			$j("#wholesale").addClass("hidden");
			$j("#distributor").addClass("hidden");
			$j("#wholesaleform").children("input[type=reset]").trigger("click");
			$j("#distributorform").children("input[type=reset]").trigger("click");
			$j("#dropshipform .validatecode").trigger("click");
			$j("#wholesaleform .errortip").remove();;
			$j("#distributorform .errortip").remove();;
		}else{
			$j("#distributor").removeClass("hidden");
			$j("#dropship").addClass("hidden");
			$j("#wholesale").addClass("hidden");
			$j("#wholesaleform").children("input[type=reset]").trigger("click");
			$j("#dropshipform").children("input[type=reset]").trigger("click");
			$j("#distributorform .validatecode").trigger("click");
			$j("#wholesaleform .errortip").remove();;
			$j("#dropshipform .errortip").remove();;
		}
		$this.addClass("active").siblings().removeClass("active");
		});
		$j(".top").on("click",function(){
			$j(this).siblings(".bottom").toggle("hidden");
			$j(this).children(".icon").toggleClass("rotate");
		});
		
		$j(".validatecode").on("click",function(){
			var index = parseInt(Math.random()*4);//随机数
			console.log("code index:"+index);
			var code = form_validate.validateCode = form_validate.codeArray[index];
			var arr = code.split("");
				$j(this).empty().append("<span>"+arr[0]+"</span><span>"+arr[1]+"</span><span>"+arr[2]+"</span><span>"+arr[3]+"</span>");
			 
			
		});
		$j("#wholesaleform .validatecode").trigger("click");
		$j(".button").on("click",function(){
			var thisId = $j(this).attr("id");
			if(thisId == "wholesalebutton"){
				dosubmit("wholesaleform");
			}else if(thisId == "dropshipbutton"){
				dosubmit("dropshipform");
			}else if(thisId == "distributorbutton"){
				dosubmit("distributorform");
			}
			
		});
		
		$j("input[required='required']").on("blur",function(){
			if($j(this).val().trim() != "" && $j(this).next().length > 0){
				if($j(this).attr("type") == "email"){
					if(!form_validate.regExp.email.test($j(this).val())){
						$j(this).next().html(form_validate.message.invalidEmail);
					}else{
						$j(this).next().remove();
					} 
				}else if($j(this).attr("name") == "verificationCode"){
					console.log("form_validate.validateCode:"+form_validate.validateCode);
					console.log("$j(this).val():"+$j(this).val());
					if($j(this).val() != form_validate.validateCode ){
						$j(this).next().html(form_validate.message.invalidCod);
					}else{
						$j(this).next().remove();
					}	
				}
				else{
					$j(this).next().remove();
				}
				
			}else if ($j(this).val().trim() != "" && $j(this).next().length == 0){
				if($j(this).attr("type") == "email"){
					if(!form_validate.regExp.email.test($j(this).val())){
						$j(this).parent().append('<div class="errortip">'+form_validate.message.invalidEmail+'</div>');
					} 
				}else if($j(this).attr("name") == "verificationCode"){
					console.log("form_validate.validateCode:"+form_validate.validateCode);
					console.log("$j(this).val():"+$j(this).val());
					if($j(this).val() != form_validate.validateCode){
						$j(this).parent().append('<div class="errortip">'+form_validate.message.invalidCod+'</div>')
					}
				} 
				
			}else if($j(this).val().trim() == "" && $j(this).next().length == 0){
				$j(this).parent().append('<div class="errortip">'+form_validate.message.required+'</div>');
			}
			
		});
		function dosubmit(formId){
			var urlSuffix = "";
		    var isValid = execValidate($j("#"+formId+" input[required = 'required'],#"+formId+" select[name='country'] + div.chosen-container .chosen-single span"));
			if(!isValid){
				return;
			}
			var dateArray = $j("#"+formId).serializeArray();
			console.log(dateArray); 
			console.log(typeof dateArray); 
			var jsonObj = {};
			for(var i=0;i < dateArray.length; i++){
				jsonObj[dateArray[i].name] = dateArray[i].value;
			}
		    console.log(jsonObj);
			switch(formId){
				case "wholesaleform" :
					urlSuffix = "wholesale";
					break;
				case "dropshipform" :
					urlSuffix = "dropship";
					break;
				case "distributorform" :
					urlSuffix = "distributor";
					break;
			}
			$j.ajax({
				//url:'/skin/frontend/intenso/alllandnet/js/json/getcoupon.json',
				url:'/business/' + urlSuffix,
				data:jsonObj,
				success:function(data){
					console.log("data:");
					console.log(data);
					var successContent = "<div style='width:100%;height;100px;text-align:center;font-size:20px;line-height:2;'><?php echo $this->__('Thank you for your interest in iRULU.')?><br><?php echo $this->__("We'll be in touch soon.")?></div>"+
										 "<a class='close-reveal-modal'>&times;</a>";
					$j("#couponModal").empty().append(successContent);
					$j("#couponModal").foundation("reveal","open");
					/*if(data.status == 0){
						console.log("success");
						
					}else{
						console.log("failed");
					}*/
				
				}
			})
		}
		
		function execValidate($dom){
			var bol = true;
			$dom.each(function(index,el){
				if($j(this)[0].tagName =="INPUT" && $j(this).val().trim() == ""){
					$j(this).siblings("div.errortip").remove();
					$j(this).parent().append('<div class="errortip">'+form_validate.message.required+'</div>');
					bol = false;
				}else if($j(this).html() == "Please Select" ){
					$j(this).parent().parent().siblings("div.errortip").remove();
					$j(this).parent().parent().parent().append('<div class="errortip">'+form_validate.message.required+'</div>');
					bol = false;
				}else if($j(this).attr("name") == "verificationCode" && $j(this).val().trim() != "" && $j(this).val() != form_validate.validateCode){
					$j(this).siblings("div.errortip").remove();
					$j(this).parent().append('<div class="errortip">'+form_validate.message.invalidCod+'</div>');
					bol = false;
				} 
			});
			return bol;
		}
		
	
	})
</script>