<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
?>
<?php
/**
 * Customer login form template
 *
 * @see app/design/frontend/base/default/template/customer/form/login.phtml
 */
/** @var $this Mage_Customer_Block_Form_Login */
?>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/login_new.css')?>"/>
<div class="account-login" id="account-login">
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="login-form">
        <?php echo $this->getBlockHtml('formkey'); ?>
        <div class="row">
            <div class="small-12 registered-users columns">
            	<div class="loginpar">
                    <div class="form-box">
                    	<p class="maintitle"><?php echo $this->__('Welcome Back!') ?></p>
               		    <p class="subtitle"><?php echo $this->__('If you have an account with us, please log in.') ?></p>
                        <ul class="form-list">
                            <li>
                                <label for="email" class="required"><?php echo $this->__('Email') ?></label>
                                <div class="input-box fade-label">
                                    <input type="text" name="login[username]" value="<?php echo $this->escapeHtml($this->getUsername()) ?>" id="email" class="input-text required-entry validate-email" title="<?php echo $this->__('Email Address') ?>" />
                                </div>
                            </li>
                            <li>
                                <label for="pass" class="required"><?php echo $this->__('Password') ?></label>
                                <div class="input-box fade-label">
                                    <input type="password" name="login[password]" class="input-text required-entry validate-password" id="pass" title="<?php echo $this->__('Password') ?>" />
                                </div>
                            </li>
                            <?php echo $this->getChildHtml('form.additional.info'); ?>
                            <?php echo $this->getChildHtml('persistent.remember.me'); ?>
                        </ul>
                        <?php echo $this->getChildHtml('persistent.remember.me.tooltip'); ?>
                        <div class="buttons-set">
                            <button type="submit" class="button" title="<?php echo $this->__('LOGIN') ?>" name="send" id="send2"><span><span><?php echo $this->__('LOGIN') ?></span></span></button>
                             <a href="<?php echo $this->getForgotPasswordUrl() ?>" class="f-left"><?php echo $this->__('Forgot Your Password?') ?></a>
                        </div>
                        <p class="gocreateAccount"><a href="<?php echo Mage::helper('persistent')->getCreateAccountUrl($this->getCreateAccountUrl()) ?>"><?php echo $this->__('Create iRULU Account') ?></a><p>
                    </div>
                	<div class="rightcolumn">
                		<img src="<?php echo $this->getSkinUrl('images/login-bg.jpg')?>" />
                		<div class="head"><p class="title">More Options</p><p class="sub">Or connect via</p></div>
               			<div class="fac"><a href="#"><img src="<?php echo $this->getSkinUrl('images/facebook.png')?>"/></a></div>
               			<div class="tuitor hidden"><img src="<?php echo $this->getSkinUrl('images/tuiter.png')?>"/></div>
               			<div class="other"><img src="<?php echo $this->getSkinUrl('images/login-other.png')?>"/></div>
                	</div>
                </div>
            </div>
             
        </div>
        <?php if (Mage::helper('checkout')->isContextCheckout()): ?>
            <input name="context" type="hidden" value="checkout" />
        <?php endif; ?>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var dataForm = new VarienForm('login-form', true);
    //]]>
    </script>
</div>
<script>
setTimeout(function(){
	$j(".fac a").attr("href",''+$j(".inchoo-socialconnect-login .inchoo-socialconnect-facebook-inner a").attr("href"));
},1500);
</script>